[2017-10-17 08:09] eugenevinitsky opened #9 "Sublane model for realistic lane changing"
We can use the sublane model of SUMO to let lane changing be a multi-step process rather than an instantaneous one.
Link describing it:
http://sumo.dlr.de/wiki/Simulation/SublaneModel

[2017-10-17 13:54] cathywu opened #11 "V2V support"
Ideas:
- Potential integration with OMNET Veins
    - http://veins.car2x.org/
    - https://omnetplusplus.com/omnet-veins/

[2017-10-17 14:41] cathywu opened #12 "Incorporate calibrated driver models"
See "Calibration and Evaluation of Car Following Models Using Real-World Driving" by Pourabdollah et al., includes IDM.

[2017-10-18 14:28] eugenevinitsky opened #13 "Show more output from setup_osx"
Currently setup_osx doesn't show output when it's doing the svn checkout which makes it look like the script has hung

[2018-05-24 05:25] eugenevinitsky commented on #9
Thank you! We will examine this; I don't think incorporating the full SL2015 model is on our timeline yet but making it look better would be a huge boon.

[2018-05-28 10:54] binderwang opened #17 "brew: command not found"
When install flow in Ubuntu,
./scripts/setup_sumo_osx.sh <DESIRED_PATH_TO_SUMO> # installs sumo
./setup_sumo_osx.sh: line 4: brew: command not found

[2018-06-29 23:45] dimikout3 commented on #17
You dont have "brew" command installed. "Brew" is mainly used on OSX (it can also be used in Ubuntu, bit i don't recommend it), I suggest using the classic "sudo apt-get install " command for installing the needed libraries (which are : Caskroom/cask/xquartz autoconf automake pkg-config libtool gdal proj xerces-c fox )

[2018-08-04 18:03] mynkpl1998 opened #18 "How to use Flow with your custom algorithm"
Can we use the flow with our own algorithm? I could not able to find `env.step() ` like function which returns the observation after performing an action a in the state s

[2018-08-16 22:19] kjang96 opened #19 "Make a Flow Logo"
- clover
- ask jerome

[2018-08-22 17:53] eugenevinitsky commented on #18
Resolved elsewhere but for future users, explanations of how to do this are provided in tutorial06_environments.ipynb

[2018-08-22 17:53] #18 closed

[2018-08-22 19:47] eugenevinitsky opened #22 "Upgrade to rllib 0.5.0"
We are currently on a fork of rllib 0.4.0. This is blocked by needing ARS to be incorporated into RLlib 0.5.0

[2018-08-23 00:02] eugenevinitsky opened #25 "Python 3.7 is not supported"
Tensorflow does not yet support python 3.7 because async is a reserved keyword (https://github.com/tensorflow/tensorflow/issues/20690) so we should be clear and restrict the version of python

[2018-08-24 01:43] eugenevinitsky commented on #25
Solved via environment.yml in #28

[2018-08-24 01:43] #25 closed

[2018-08-24 01:45] eugenevinitsky opened #29 "Test speedups by upgrading to libsumo"
Currently Sumo has released libsumo, which they are asserting will make everything faster. We should implement this and see if we get a speedboost.

[2018-08-24 01:46] #13 closed

[2018-08-24 01:48] eugenevinitsky opened #30 "Automated Regression Tests"
Currently we do not have regression tests for the Flow-benchmarks-v0. These would take a long time to run, but could be done once a week and the outputs checked.

[2018-08-24 01:49] eugenevinitsky opened #31 "Lego-block network construction"
We have many basic networks for flow; rings, bottlenecks, grids, etc. A useful tool would be one that let you construct new networks by combining these networks.

[2018-08-24 01:50] eugenevinitsky opened #32 "Tutorial for RLlib EC2"
Currently we do not have a tutorial for running experiments on EC2 with rllib. This would be helpful for researchers who want to do this.

[2018-08-24 01:51] eugenevinitsky opened #33 "Request: Public AWS image for EC2"
The AWS image we use for EC2 is currently private; it would be nice to develop one that researchers could use so they don't have to set it up. This image would have to come with Flow, Sumo, and Rllib.

[2018-08-24 01:56] AboudyKreidieh opened #34 "tutorial for running rllab experiments on AWS"
We have something basic in the docs/ folder, and I think @nskh setup something on berkeleyflow. One thing he pointed out, that I sort of agree on, is that it may be better to have it on readthedocs instead of the tutorials folder, since there isn't really any code to run. Anything to include @nskh (or anyone else)?

[2018-08-24 01:59] nskh commented on #34
Yeah - there's a PR out: https://github.com/berkeleyflow/flow/pull/70. I think readthedocs is the right place for this stuff, just cause there's no point in making this harder to access by putting it in a notebook. Let me know (probably in that PR? not sure what our dev workflow is for the new repo) if there's stuff to change.

[2018-08-24 02:05] AboudyKreidieh opened #35 "incoporating libsumo"
`libsumo` is a feature in the latest versions of sumo that allow us to bypass some of the connection overhead when issuing `traci` calls.

What needs to be done:
- [ ] incorporate the newest version of sumo to `master` (close to done)
- [ ] build a docker image with new sumo (@fywu85 is working on this)
- [ ] test that new sumo does not cause our benchmarks to regress (for this we need regression

[2018-08-24 02:06] AboudyKreidieh commented on #35
moving to #29

[2018-08-24 02:06] #35 closed

[2018-08-24 02:06] AboudyKreidieh commented on #29
What needs to be done:
- [ ] incorporate the newest version of sumo to `master` (close to done)
- [ ] build a docker image with new sumo (@fywu85 is working on this)
- [ ] test that new sumo does not cause our benchmarks to regress (for this we need regression tests, see #30 )
- [ ] add `libsumo` installation to the setup instructions (this involves using `cmake` I believe)
- [ ] incorporate comma

[2018-08-24 02:14] eugenevinitsky commented on #34
Hmmm, I think that makes sense. Our dev workflow is the same, we just need to transfer all the remaining PRs over.

[2018-08-24 18:15] eugenevinitsky opened #37 "Move benchmarks folder outside of flow"
It's sort of confusing that examples is outside the flow folder but benchmarks is inside? Maybe we move both inside or both outside? @AboudyKreidieh

[2018-08-24 18:29] eugenevinitsky commented on #37
Mmmm, I see. I'm not sure; it's just a matter of making sure the benchmarks are very visible.

[2018-08-26 14:48] cathywu commented on #37
Perhaps we can reference the OpenAI gym structure for this.

[2018-08-26 17:48] AboudyKreidieh commented on #37
I just checked. OpenAI gym places there examples in a folder outside of gym, and their environments are located in gym/envs. If we wanted to follow their structure, I don't think we would have to change anything.

[2018-08-26 18:10] cathywu commented on #37
Thanks for checking, Aboudy! Eugene, what do you think? One perspective:
Only "devs" will want to change the benchmarks, and they will know to look
inside the flow directory. Other users who are just using the benchmarks
will likely benefit from the intuitive "flow.benchmarks" import statement.

[2018-08-26 19:29] AboudyKreidieh opened #42 "documentation standards"
In order to ensure that our documentation doesn't degrade with time, we should consider adding tests to ensure compliance with standards such as PEP-257.

One really good tool is `pydocstyle`. To install, run:
[code]

Then to use while testing for numpy-style documentation (which is what we are following), run:
[code]

Our documentation currently needs a lot of work to get it complying with these

[2018-08-26 20:10] AboudyKreidieh opened #43 "more expressive README files"
I think it would be nice if our `README.md` files cover more content for whoever might want a better idea of what the content of flow or the benchmarks are.

This is a very good example: https://github.com/AtsushiSakai/PythonRobotics

README files to modify:
- README.md
- examples/README.md
- flow/benchmarks/README.md

[2018-08-26 20:26] AboudyKreidieh opened #44 "grid scenario warnings"
Any idea why this is happening?
[code]

[2018-08-26 20:32] cathywu commented on #42
👍

[2018-08-27 00:05] kjang96 opened #48 "Create new class for routes"
In general we should minimize usage of primitive data structures to hold complex info (e.g. routes should be a dict of lists, specify_edge_starts is a list of tuples, etc). Classes are an easier representation.

[2018-08-27 01:34] AboudyKreidieh opened #51 "add usage examples to most documentation"
We need this if people are going to have a shot at understanding our codebase without constantly asking us every time they explore something new.

Example:
[code]

[2018-08-27 07:01] AboudyKreidieh opened #55 "documenting scenarios/generators"
Methods such as `get_edges` and `get_nodes` can be a bit confusing to follow. The tutorials are meant to help understand what is going on, but it would be helpful if someone could thoroughly documenting the docstrings as well.

[2018-08-27 08:04] AboudyKreidieh commented on #42
Update: most of the current issues have been resolved (PRs pending). There are some that I'm not sure how to fix, so assigning to people I think will know, but if I'm wrong feel free to move around the tasks.

@eugenevinitsky
[code]

@kjang96
[code]

[2018-08-27 21:02] fywu85 opened #58 "Abstract backend calling"
It might be handy to support abstract backend calling in Flow in a way similar to what Keras [backend](https://keras.io/backend/) does.

An hypothetical API could be as follows:
[code]

[2018-08-27 22:39] kjang96 opened #59 "Warnings for EC2 x Inflows restart_instance"
I think @AboudyKreidieh uncovered this bug a while ago, but when running EC2 (or is it all0 experiments with Inflows, the experiments get progressively slower, until an experiment of batch size ~ 40000, itr=300 experiment will take 4 days to run instead of <1/2 day

[2018-08-27 22:50] berkeleyflow commented on #19
Some proposed options:
<img width="538" alt="capture d ecran 2018-08-24 a 18 16 37" src="https://user-images.githubusercontent.com/38776306/44690759-e0a66500-aa10-11e8-9357-d611ba8023bc.png">
<img width="541" alt="capture d ecran 2018-08-24 a 18 16 26" src="https://user-images.githubusercontent.com/38776306/44690760-e0a66500-aa10-11e8-8a90-816cc8677254.png">
<img width="541" alt="capture d ecran 2

[2018-08-27 22:56] lucfisc opened #60 "Conflict between packages in the flow environment.yml"
I tried to run that file : https://github.com/flow-project/flow/blob/master/environment.yml in a dockerfile and I found some conflicts packages ( see the image)
<img width="721" alt="capture d ecran 2018-08-27 a 15 54 15" src="https://user-images.githubusercontent.com/19914496/44690988-a1c4df00-aa11-11e8-85d7-65acf27a636f.png">

Is the version of matplotlib really important ?

[2018-08-27 23:01] berkeleyflow commented on #60
No, can you submit a PR with a valid version?

[2018-08-27 23:51] lucfisc commented on #31
I 'll try to do this one.

[2018-08-28 16:50] eugenevinitsky commented on #22
- [] Get ARS PR into ray
- [] Create updated public image #33
- [] Create updated setup instructions
- [] Create updated usage instructions
- [] Regression tests

[2018-08-28 16:52] eugenevinitsky commented on #58
Hi Fangyu, could you explicate on what the advantages of this are over the current Vehicles class?

[2018-08-28 18:47] lucfisc opened #64 "flow environment vs flow-rllab environment"
In https://github.com/flow-project/flow/blob/master/docs/source/flow_setup.rst
we are installing two environment, one is from (https://github.com/cathywu/rllab-multiagent.git) and the other one from flow (https://github.com/flow-project/flow.git).

I installed both those environement and both seems to make rllab work.
 Is there any difference between those two ?

Thanks

[2018-08-28 18:49] eugenevinitsky commented on #64
Good catch; this is a mistake. We meant to remove the instruction about the rllab environment.yml

[2018-08-28 19:35] eugenevinitsky commented on #64
Resolved, thanks for pointing this out!

[2018-08-28 19:35] #64 closed

[2018-08-28 19:37] eugenevinitsky commented on #30
- [ ] Upgrade Rllib #22
- [ ] Rerun benchmarks to determine expected scores (needed for CORL anyways)
- [ ] Create public image to use #33
- [ ] Set up Cron Job on lab machine
- [ ] Write script to pull results and evaluate
- [ ] Create script to generate movies from pkl files

[2018-08-28 19:43] AboudyKreidieh commented on #59
@kjang96 can you clarify what the issue is?

[2018-08-29 01:15] fywu85 commented on #58
Sure! In fact, the proposed abstract backend API is a level lower than the current Vehicle class. We are replacing the `traci` calls inside of the Vehicle class, not the Vehicle class itself. For example, instead of calling `traci.vehicle.setSpeed(...)`, we do something like:
[code]

This recommendation is assuming that, in the future, we want to replace `traci` with something better, i.e., `libsu

[2018-08-30 05:21] kanaadp opened #69 "Combine / consolidate requirements.txt and environment.yml"
No point in having both afaik, let's combine these?

[2018-08-31 04:04] eugenevinitsky commented on #17
Closing this issue. Thanks @dimikout3 and if this isn't resolved @binderwang please let us know.

[2018-08-31 04:04] #17 closed

[2018-08-31 04:27] eugenevinitsky commented on #59
If a user uses inflows, but forgets to set restart_instance = True, their experiment will take a billion years but they won't know why. We should warn them by default if they try to do this

[2018-08-31 06:11] lucfisc opened #70 "High CPU usage may change the speed of vehicle"

[2018-08-31 07:14] #70 closed

[2018-08-31 17:36] AboudyKreidieh opened #71 "unlocated library during installation"
[code]
working on figuring it out

[2018-08-31 17:45] AboudyKreidieh commented on #71
the full error
[code]

[2018-08-31 18:45] kjang96 opened #72 "Some setup clarifications"
In docs/source/flow_setup.rst, some things are unclear:

- Let's take out push and popd. They don't do anything
- The instruction to visit the ray site to install dependencies should link directly to the dependency section, otherwise it appears to suggest the user should `pip install ray`, when in fact we just want them to install the dependencies.

[2018-08-31 18:58] eugenevinitsky commented on #72
Resolved in #73

[2018-08-31 18:58] #72 closed

[2018-08-31 20:43] AboudyKreidieh commented on #37
@eugenevinitsky what are your thoughts on this? Personally, I'm happy sticking with our current setup

[2018-08-31 22:03] fywu85 opened #74 "Add python2 compatibility back-support"
This could improve the accessibility of the software. Sometimes users do not have python3 installed or unconsciously installed everything with python2, e,g., when `sudo python setup.py develop` where the default `sudo python` is python2. This compatibility support would make the software still runnable even when users deviate from the recommended installation procedure.

[2018-09-01 03:59] eugenevinitsky opened #78 "Use sumoweb-3d for visualizations"
https://github.com/sidewalklabs/sumo-web3d/
is an incredible visualization tool that we should figure out a pipeline for using,

[2018-09-03 02:14] eugenevinitsky opened #79 "Remove --run defaulting to PPO in visualizer_rllib"
Currently visualizer_rllib defaults to assuming you're using PPO, but there's no particular reason for this choice and it actually winds up confusing users (and me!). By not specifying a default, users are made aware that they need to specify the algorithm that they use.

[2018-09-03 08:37] AboudyKreidieh opened #81 "replace sumo_binary with render"
render is the most common phrase in similar software architectures when specifying whether to use the gui. @eugenevinitsky any thoughts on this? I have something sort of setup, but am hesitant to create a PR if the new change will lead to confusion

[2018-09-03 17:37] eugenevinitsky commented on #81
So it'd be render = False or True? Makes a lot of sense to me.

[2018-09-03 17:38] eugenevinitsky commented on #78
Credit to @pcmoritz
https://github.com/sidewalklabs/sumo-web3d/compare/master...ray-project:flow'

https://github.com/flow-project/flow/compare/master...pcmoritz:web3d

[ ] create instructions for using this visualier

[2018-09-03 17:39] eugenevinitsky commented on #78
It can be started like so: First do `python flow/visualize/visualizer_rllib.py ~/ray_results/figure_eight_0/ARS_AccelEnv-v0_0_2018-09-03_05-29-138ycb3t5k/ 30 --run ARS --num_rollouts 10000000` and then do `python sumo_web3d/sumo_web3d.py --sumo-port 51544 -c /home/ubuntu/flow/flow/core/debug/cfg/figure_eight_0_20180903-062503.sumo.cfg`
where 51544 can be read out from "ps aux | grep sumo" by picki

[2018-09-04 00:26] lucfisc opened #83 "Issue with rllab when trying 'figure_eight ' examples"
Hi,

I have tried to run rllab examples on figure_eight and some issue appeared .

When I run it in the flow-rllab environment
I got this issue:

He doesn't seem to be link to 'ImportError: cannot import name 'logger' line as it works fine on someone else computer and this line still appear.

Thanks

[code]

[2018-09-04 00:33] eugenevinitsky commented on #83
Hi Luc, I'll look into this. What is your theano version?

[2018-09-04 00:34] eugenevinitsky opened #84 "Remove all logger imports from rllab"
When you import logger in the rllab examples you get an ImportError. It doesn't cause anything to fail, but it's confusing to users.

[2018-09-04 00:35] lucfisc commented on #83
Thanks ! My theano version is '0.9.0dev1.dev-adfe319ce6b781083d8dc3200fb4481b00853791'
( the output when I do theano.__version__ in a python shell )

[2018-09-04 03:08] AboudyKreidieh commented on #81
awesome, will create a PR then

[2018-09-04 21:38] lucfisc opened #86 "New installation of Ray 0.5.0"
Hi,

I saw that Ray was just updated. In my docker, I tried to pull the you repo but i encountered
```Automatic Merge failed : fix conflicts and then commit the result ` ` `

I then tried to build it again from scratch, I have ray installed but the module ray.rllib.ppo isn't found when I run 'python examples/rllib/figure_eight.py'
Any change in the installation process ?

Thanks

[2018-09-05 01:15] eugenevinitsky opened #87 "Remove nose2 from setup instructions"

[2018-09-05 01:18] eugenevinitsky opened #88 "Add OSX builds to .travis.yml"
We need to test that things pass on OSX as well.

Look at ray's travis.yml for an example of how to do so.

[2018-09-05 16:41] cathywu opened #91 "[website] Add Flow architecture diagrams"
They seem to have disappeared from our website.

I mean both the following:
- The RL training loop
- Flow architecture diagram, including SUMO components

[2018-09-05 16:42] cathywu opened #92 "[website] Move website to https://flow-project.github.io/"
Move website from https://berkeleyflow.github.io/ to https://flow-project.github.io/ and add a re-direct to https://berkeleyflow.github.io/.

[2018-09-05 16:49] cathywu opened #93 "[website] Important tweaks"
A few fast tweaks to the website homepage:

- Add Flow diagram to the homepage, to show what Flow is, before showing results of Flow (see #91)
- Remove the background image from the top rectangle (to improve readability)
- Add descriptions of results from https://berkeleyflow.github.io/gallery.html to the homepage; currently, many of the results do not have textual descriptions.

[2018-09-05 17:01] cathywu opened #95 "[readthedocs] Introduction"
Introduction page should be more descriptive and include the following:

- What is Flow?
- RL loop diagram
- Architecture diagrams
- Some background on traffic flow

Other suggestions?

[2018-09-05 17:04] cathywu opened #96 "[documentation] unify descriptions of Flow"
From our website: "Flow: a deep reinforcement learning framework for mixed-autonomy traffic

Flow leverages state-of-the-art deep RL libraries and the open-source microsimulator, SUMO, enabling the use of reinforcement learning to design and train controllers in traffic settings."

From our readthedocs: "Flow is a computational framework for deep RL and control experiments for traffic microsimulat

[2018-09-05 19:33] kjang96 opened #97 "Naming inflows"
Currently, the default name for an inflow is "flow_%d". I think we should allow custom naming schemes.

[2018-09-05 19:43] cathywu opened #98 "Can't preview tutorials on github"
I cannot preview several of the tutorials on github (screenshots of error below) -- anyone else have this problem?

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/329117/45116956-26e27f00-b109-11e8-8865-00cfa8c638a4.png">

<img width="990" alt="image" src="https://user-images.githubusercontent.com/329117/45116998-44174d80-b109-11e8-8a92-af4625cb11ba.png">

Links for c

[2018-09-05 19:53] AboudyKreidieh commented on #98
this looks like a stochastic thing. there might be an issue on the server sides

[2018-09-05 20:52] eugenevinitsky opened #100 "Create bottleneck tutorial"
We need a tutorial for each of the benchmarks describing
- what the different params do
- any related tricks that aren't obvious

[2018-09-05 20:54] eugenevinitsky opened #101 "Add visualization description to docs using sumoweb3d"
Currently the instructions for how to use sumo-web3d are contained in https://github.com/flow-project/sumo-web3d README but we should incorporate it into our normal instructions so that everyone can use it. It also depends on issue #78

[2018-09-05 20:55] eugenevinitsky commented on #95
Probably a description fo the problems Flow solves relative to other tools/what it's really good for

[2018-09-05 22:38] cathywu opened #102 "[installation] SUMO install"
SUMO wheels install

- Add location of local SUMO install to the instructions and to the script output.
- Resolve the following error:
[code]

[2018-09-05 22:49] cathywu opened #103 "[installation] meta SUMO quick install instructions"
Document the process for creating the wheels (for the next time we update SUMO).

[2018-09-05 22:53] nskh commented on #92
[flow-project.github.io](flow-project.github.io) is now live. unclear about how to redirect so that's not done yet.

[2018-09-05 23:11] kjang96 opened #104 "Grant permissions to organization members"
Such as assigning, labels, anything on the right sidebar when creating an issue

[2018-09-05 23:21] cathywu opened #106 "[installation] wording of setup instructions"
Can we improve the wording of the two installation options on our readthedocs? (see Screenshot below)

- Remove the numbers for the setup instructions?
- What is a "testing purpose" that one would want to use the docker installation for?

<img width="672" alt="image" src="https://user-images.githubusercontent.com/329117/45126255-6b7d1300-b127-11e8-8f83-8f8d1aca52cd.png">

[2018-09-05 23:29] cathywu opened #107 "[installation] "Custom configuration" section is unclear"
It's not clear what "user-specific config parameters" means. @kanaadp could you take a stab at this since I believe includes pycharm parameters?

Link for convenience: https://flow.readthedocs.io/en/latest/flow_setup.html#h-custom-configuration

[2018-09-05 23:38] AboudyKreidieh commented on #102
Did you run `source activate flow` before you ran the sh file? The issue might be that the pip was not registered in the environment. If not, can you verify if this is the issue (i.e. run it in the environment)?

[2018-09-05 23:40] AboudyKreidieh commented on #106
I think we can remove the comment within parentheses, people who use Docker will be familiar, and the local installation instructions are in the process of becoming simpler

[2018-09-05 23:53] cathywu commented on #98
Ah cool, I'll call this resolved then! Thanks for looking into this!

[2018-09-05 23:53] #98 closed

[2018-09-06 00:15] cathywu commented on #106
++

[2018-09-06 00:17] cathywu commented on #92
Wonderful, thanks Nish! Yes, we should re-direct so that we don't need to
maintain 2 websites.

For the re-direct, you can try this:
https://stackoverflow.com/questions/5411538/redirect-from-an-html-page#5411567

[2018-09-06 00:19] cathywu opened #108 "[tutorials] rllib tutorial text"
The notebook has the following print output, which looks like a spurious error, can we perhaps re-run it? This is the tutorial most likely to be visited, so I'm marking it as high priority.

[code]

[2018-09-06 00:43] mtgibson2014 opened #109 "Running "python flow/examples/rllab/figure_eight.py""
There is an issue that says "Memmappingpool" isn't found. I looked a bit into it and it seems like it's trying to find the file from joblib/pool. I don't think joblib.pool.memmappingpool actually exists except here: https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/externals/joblib/pool.py

I'm currently trying to download the repo from the source to see if it works. I tried downloa

[2018-09-06 01:11] mtgibson2014 commented on #109
compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.5
  return f(*args, **kwds)
Traceback (most recent call last):
  File "flow/examples/rllab/figure_eight.py", line 5, in <module>
    from rllab.algos.trpo import TRPO
  File "/Users/mtgibson/rllab-multiagent/rllab/algos/trpo.py", line 1, in <module>
    from rllab.algos.npo import NPO

[2018-09-06 04:46] #91 closed

[2018-09-06 04:46] #93 closed

[2018-09-06 06:33] eugenevinitsky commented on #109
Does it fail immediately? Can you attach the full log?

[2018-09-06 06:40] eugenevinitsky commented on #92
It's not perfect, but doing
<script language="javascript">
    window.location.href = "https://flow-project.github.io/"
</script>
  <meta http-equiv="refresh" content="0; url=https://flow-project.github.io/" />

appears to have done the trick.

[2018-09-06 06:40] #92 closed

[2018-09-06 06:56] cathywu commented on #92
Woohoo!!

[2018-09-06 07:17] cathywu commented on #106
It's also not clear to me what "simple utilization" means. A new user to the readthedocs may always opt to install the docker because it's easier. I don't suppose that is desirable at this point?

[2018-09-06 07:26] cathywu opened #113 "[installation] Streamline instructions"
All of the following refers to the setup instructions on readthedocs: https://flow.readthedocs.io/en/latest/flow_setup.html#b-testing-the-installation.

1. Can we move the "optional" / experimental parts of the setup down below
[code]

2. Can we rename "Getting started" to "Testing your installation (rllab)" (or similar)?

3. Can we put the RLlib "Testing your installation" before the rllab one?

[2018-09-06 07:44] cathywu opened #114 "[readthedocs] visualization"
Add screenshots of visualization (from sumo-gui and webgl, when we add those instructions) here: https://flow.readthedocs.io/en/latest/visualizing.html

More advanced: Consider adding a GIF of the GUIs?

[2018-09-06 07:46] cathywu opened #115 "[readthedocs] update link to point to new website location"
See the outdated links here: https://flow.readthedocs.io/en/latest/index.html

[2018-09-06 15:28] J93T opened #116 "Bug in multi lane headways utility function in flow/core/vehicles.py"
When computing the leaders on a multi lane, sometimes vehicles are left out.  If there is just one vehicle in front of the rl_vehicle on another lane, the index would be zero and therefore the condition in line 1159 is not satisfied, although a leader was found.
I suggest removing the -1 in this line and check below, if there is at least one vehicle behind the rl_vehicle when checking the rl_vehic

[2018-09-06 18:48] eugenevinitsky opened #117 "Environment file has tensorflow==1.10.0, requirements has 1.8.0"
We need to update the version in the requirements file

[2018-09-06 18:48] eugenevinitsky commented on #116
Thanks for catching this! We're looking into this ASAP and have assigned someone to check it out.

[2018-09-06 19:04] kjang96 commented on #106
This seems resolved @cathywu can you confirm?

[2018-09-06 19:09] kjang96 commented on #113
In progress

[2018-09-06 19:26] cathywu opened #120 "[documentation] fix sample code for benchmarks"
Fix the argument order here: https://github.com/flow-project/flow/tree/master/flow/benchmarks#training-on-custom-algorithms

<img width="617" alt="image" src="https://user-images.githubusercontent.com/329117/45180317-e994f480-b1cf-11e8-8e4c-8fbdfd4c8dd0.png">

Should be: `create_env, env_name = make_create_env(flow_params, version=0)`

[2018-09-06 19:32] #115 closed

[2018-09-06 19:40] kjang96 commented on #96
In progress

[2018-09-06 19:44] #113 closed

[2018-09-06 19:56] kjang96 commented on #96
Addressed in website: https://github.com/flow-project/flow-project.github.io/pull/3

[2018-09-06 20:31] lucfisc opened #124 "error when creating flow environment.yml"
I am on ubuntu 16.04
I run that command
conda create env -f environment.yml which lead to this error

[code]

Running the environment and then pip installing plotly seems to fix it but I would like to know if there is a fix

[2018-09-06 20:31] kjang96 commented on #96
Keep this open as a reminder to discuss the description

[2018-09-06 20:34] eugenevinitsky commented on #124
Can you just remove that specific plotly thing
and try just putting pip install plotly?
We can then get the version you install and replace it with that in our instructions.

[2018-09-06 20:50] kjang96 commented on #108
Looking into this; if someone solves this first, ping me so I stop

[2018-09-06 20:56] kjang96 commented on #108
I had that error until I removed all the `import ipdb; ipdb.set_trace()` from my local ray. After which, I'm unable to reproduce that error. This is what I get instead:

[code]

[2018-09-06 20:58] eugenevinitsky commented on #108
@cathywu can you post the full trace; the Ray errors are often really high up in the log

[2018-09-06 21:01] eugenevinitsky opened #125 "Remove outputs from notebooks"
- [x] Notebook 1
- [x] Notebook 2
- [x] Notebook 3
- [x] Notebook 4
- [x] Notebook 5
- [x] Notebook 6
- [x] Notebook 7
- [x] Notebook 8
- [x] Notebook 9

[2018-09-06 21:01] kjang96 commented on #95
Can this be closed?

[2018-09-06 22:02] #120 closed

[2018-09-06 22:02] #125 closed

[2018-09-06 22:17] #108 closed

[2018-09-06 22:28] kjang96 opened #129 "TESTING slack x github integration"
null

[2018-09-06 22:29] kjang96 commented on #129
asdf

[2018-09-06 22:29] #129 closed

[2018-09-06 23:41] AboudyKreidieh commented on #87
this is resolved

[2018-09-06 23:41] #87 closed

[2018-09-06 23:55] eugenevinitsky commented on #33
This was resolved in #22

[2018-09-06 23:55] #33 closed

[2018-09-06 23:56] eugenevinitsky commented on #86
Yes, you need to pull in the master of Flow to resolve this.

[2018-09-06 23:57] eugenevinitsky commented on #117
Resolved.

[2018-09-06 23:57] #117 closed

[2018-09-06 23:57] eugenevinitsky commented on #124
Resolved in the new environment.yml.

[2018-09-06 23:57] #124 closed

[2018-09-07 07:57] #97 closed

[2018-09-07 07:57] #106 closed

[2018-09-07 08:02] AboudyKreidieh commented on #107
we can ignore/remove these. i've personally never changed them, and they have no serious effect on anything)

[2018-09-07 22:34] lucfisc opened #131 "Error while running sumo/sugiyama.py"
Hi,
I don't know what happend but I am having trouble with flow right now. What use to work doesn't anymore.
I 'm going to try to find out about that error but if anyone knows.
[code]

[2018-09-07 22:45] cathywu commented on #131
Could this be a result of the new SUMO quick install? @Aboudy Kreidieh
<aboudy@berkeley.edu>

[2018-09-07 22:58] lucfisc commented on #131
@cathywu I don't really know, the installation process worked yesterday. We are trying to inquire the issue with @kjang96

[2018-09-07 23:36] kjang96 opened #132 "Clarify environment.yml location"
We should specify the path of environment.yml. A lot of people have been having trouble with this.

<img width="755" alt="screen shot 2018-09-07 at 4 34 49 pm" src="https://user-images.githubusercontent.com/10969394/45247364-0dcdff80-b2bc-11e8-8f87-c3774bb17dd3.png">

[2018-09-07 23:58] kjang96 opened #133 "https://flow.readthedocs.io/en/latest/flow_setup.html#a-installing-flow-and-sumo"
This doesn't seem to have any instructions for installing Flow i.e. `git clone https://github.com/flow-project/flow.git`?

https://flow.readthedocs.io/en/latest/flow_setup.html#a-installing-flow-and-sumo

[2018-09-08 00:43] lucfisc commented on #131
My error seems to be link with sumo installation : '
~/flow
Installing sumo tools
sumotools-0.1.0-py3-none-any.whl is not a supported wheel on this platform.'

Actually it is the last line of the binary that doesn't work which is weird. Pip installing from the terminal seems to do the trick

[2018-09-08 00:53] AboudyKreidieh commented on #88
after looking into this (and trying it), it turns out that this is not a good idea. See: https://github.com/travis-ci/travis-ci/issues/7304

My recommendation is we do not do this.

[2018-09-08 00:56] AboudyKreidieh commented on #131
hmm, maybe the file is failing right before it hits the final line. @lucfisc can you share the last part of the log from when u run `scripts/setup_sum_osx.sh`?

[2018-09-08 00:57] lucfisc commented on #131
Connexion à akreidieh.s3.amazonaws.com (akreidieh.s3.amazonaws.com)|52.219.28.6|:443… connecté.
requête HTTP transmise, waiting for response… 200 OK
Size : 5636384 (5,4M) [application/x-xz]
Sauvegarde en : « binaries-mac.tar.xz »

binaries-mac.tar.xz 100%[===================>]   5,38M  15,2MB/s    ds 0,4s

2018-09-07 17:56:50 (15,2 MB/s) — « binaries-mac.tar.xz » sauvegardé [5636384/5636384]

~/fl

[2018-09-08 01:09] AboudyKreidieh commented on #131
okay, looking into this now. one solution may be to add the sumotools wheel to the setup instructions, which i'm a bit reluctant to do as long as the original sumo setup instructions are still around.

One quick question, are u running `source activate ~/.bash_profile` before u try the sugiyama experiment? I added it to the sh file, but apparently that doesn't do anything. (apologies if it seems l

[2018-09-08 01:43] AboudyKreidieh commented on #131
@lucfisc can u pull master and try again now? If this doesn't work, we'll move to 2)

[2018-09-08 01:51] lucfisc commented on #131
@AboudyKreidieh
Still doing the same thing

Trying 2 tonight

[2018-09-08 01:52] lucfisc commented on #131
@AboudyKreidieh  Just did it and lead to the same thing

[2018-09-08 02:36] AboudyKreidieh commented on #131
as in u tried adding the sumotools wheel to `setup.py` and it didn't work?

[2018-09-08 02:53] AboudyKreidieh commented on #69
@kanaadp was this resolved by #130 ?

[2018-09-08 02:57] eugenevinitsky commented on #69
Sorry, do you mean to remove one of these? Keeping the requirements.txt allows us to warn users if they install not through conda and it messes up?

[2018-09-08 02:59] AboudyKreidieh commented on #60
this has finally been resolved

[2018-09-08 02:59] #60 closed

[2018-09-08 03:36] AboudyKreidieh commented on #86
@lucfisc is this resolved?

[2018-09-08 09:00] #59 closed

[2018-09-09 05:44] eugenevinitsky opened #138 "Add traci_connection error warning to setup instructions"
Users get extremely confused when they see the first "traci could not connect" warning. We should either warn them about this in the setup instructions or resolve this error.

[2018-09-10 02:17] eugenevinitsky opened #139 "Create updated run script instructions for RLlib"
The new RLlib has slightly different documentation for how to run a script from your local machine. We can create some very brief instructions in our documentation as to how to do so.

[2018-09-10 02:19] eugenevinitsky opened #140 "Regression tests for benchmarks"
We need to know that our benchmarks are not being broken by upgrades; the only way to do so is to test them regularly to see they hit maximum value and are not generating degenerate solutions (like traffic only flowing in one direction on grid).

- [ ] cron job to run selected benchmarks on AWS
- [ ] visualization of results

[2018-09-11 05:11] eugenevinitsky commented on #19
![image](https://user-images.githubusercontent.com/7660397/45339255-b0c79780-b5a2-11e8-831f-46b1e42847ab.png)

[2018-09-11 05:40] cathywu commented on #19
Flower network:

![image](https://user-images.githubusercontent.com/329117/45340168-5e5a8c80-b54a-11e8-9106-5d262b0341ba.png)

[Source](https://www.gettyimages.com/detail/photo/aerial-image-of-the-cloverleaf-interchange-high-res-stock-photography/82258564)

[2018-09-11 06:50] fywu85 commented on #19
![flowgo](https://user-images.githubusercontent.com/8881002/45342910-27897400-b554-11e8-80f9-88d7d777e471.png)

Less is more!

[2018-09-11 07:07] eugenevinitsky commented on #19
@fywu85 just to get an idea of the underlying design, this is trying to construct Flow into the shape of a car?

[2018-09-11 07:09] eugenevinitsky commented on #19
![image](https://user-images.githubusercontent.com/7660397/45343839-16bc1b00-b5b3-11e8-82f4-636cc23a7ba3.png)

[2018-09-11 07:09] cathywu commented on #19
I love it!
--
Best wishes,
Cathy

[2018-09-11 07:27] eugenevinitsky commented on #88
@AboudyKreidieh perhaps we can turn this into a slow test? I will talk to the Ray team; they do this.

[2018-09-11 07:45] lucfisc commented on #131
@eugenevinitsky , yes I have no idea about how  to move the sumotools wheel to setup.py.

[2018-09-11 16:19] fywu85 commented on #19
@eugenevinitsky Yes! Basically,
![car](https://user-images.githubusercontent.com/8881002/45373220-b376bc80-b5a3-11e8-879f-7e95a590e610.jpg)

[2018-09-12 06:47] cathywu commented on #19
@Eugene Vinitsky <vinitsky.eugene@gmail.com> This is one possibility!

[image: flow-cloverleaf.png]

[2018-09-13 01:26] lucfisc commented on #131
@AboudyKreidieh do you have some time to try this ?

[2018-09-13 13:15] eugenevinitsky opened #142 "Sumo Instructions do not mention brew"
Our sumo setup instructions do not tell the readers to install the things that they need with brew (for mac), such as gdal and fox and the corresponding items for linux.

[2018-09-13 13:19] eugenevinitsky commented on #81
Done, thanks!

[2018-09-13 13:19] #81 closed

[2018-09-13 15:46] eugenevinitsky opened #144 "Build script for sumo wheels"
We currently have SUMO wheels that are fixed to specific versions that were installed with brew. If the version that brew install changes, things likely break. We need to be able to
- autobuild the wheels and update the version sitting on s3
- be able to do this every day or every week

[2018-09-13 16:49] eugenevinitsky commented on #144
One way out of this might be just trying to put all the "brew install" commands into the environment.yml file!

[2018-09-16 15:21] eugenevinitsky opened #145 "Move unexposed EnvParams in PO_TrafficLightGridEnv"
There are a bunch of env_params in PO_TrafficLightGridEnv that are sort of hidden in the init and not easily visible to users. We should move them out into a config similar to how bottleneck_env works

[2018-09-16 23:10] eugenevinitsky opened #147 "Write more precise tests for _multi_lane_headways_util"
As pointed out in #116, the _multi_lane_headways function will miss vehicles in adjacent lanes if there's only one vehicle in that lane. There should be tests that cover this as well as obviously the aforementioned bug fix

[2018-09-17 02:12] AboudyKreidieh commented on #71
i believe this was the brew version mismatch, which has been moved on to other issues

[2018-09-17 02:12] #71 closed

[2018-09-17 03:10] #142 closed

[2018-09-17 03:51] AboudyKreidieh commented on #116
actually, turns out the solution needs to take into account if you are in the same lane as the current vehicle as well (since `bisect_left` collects the index of >= and not >). The PR is up on #150 for those who are interested to see it

[2018-09-17 03:52] AboudyKreidieh commented on #131
@lucfisc PR #149 might resolve this. can you give it a go and let me know what happens?

[2018-09-17 03:54] #86 closed

[2018-09-17 17:31] fywu85 commented on #29
I think it would be a good idea to wait until its formal release. The current implementation of libsumo is still fairly incomplete: it misses almost all subscription methods + a few getters and setters. Perhaps we should lower the priority for this one, for now.

[2018-09-17 21:33] eugenevinitsky commented on #116
PR for this @J93T is up; let us know if it resolved your issue so we can close this! Hope it helped.

[2018-09-17 21:35] J93T commented on #116
Yes, everything is working fine now. Thanks a lot!

[2018-09-17 21:35] #116 closed

[2018-09-17 22:30] eugenevinitsky commented on #88
Currently blocked by discussion with Travis team

[2018-09-17 23:51] #69 closed

[2018-09-17 23:53] kjang96 commented on #140
TODO assign ethan

[2018-09-17 23:55] kjang96 commented on #140
Due 9/22

[2018-09-18 02:02] lucfisc commented on #131
It does !

[2018-09-18 02:02] #131 closed

[2018-09-18 02:52] eugenevinitsky opened #155 "Run Flow in CNN mode"
We should have a standard way to run a given environment in pixel mode so that we can try to apply CNN like algorithms to any flow problem. By this I mean
- Either a way to directly get the pixels out of the GUI or
- A method that converts the state to 0' and 1's indicating the presence of a car

[2018-09-18 04:46] #147 closed

[2018-09-18 05:04] #114 closed

[2018-09-18 06:16] fywu85 opened #156 "Add an alternative rendering engine based on pyglet for efficient and customizeable CNN iterations"
The current traci method (`traci.gui.screenshot`) to get the the image (or frame) of the simulation is not fit for CNN training. It screenshots every frame of the `sumo-gui` app run and saves them to local disk. In order to access those image, one needs to manually read those pictures back to Flow. Clearly, this method has a few disadvantages: (1) it requires the existence of a X server to open `s

[2018-09-18 07:12] lucfisc opened #157 "Create a ray and rllab repo under flow-project group"
Why not create a repo of ray and rllab under flow project ?

[2018-09-18 19:28] #102 closed

[2018-09-19 18:50] kev-chien opened #158 "Clarify tensorboard setup"
On the [setup page](https://flow.readthedocs.io/en/latest/flow_setup.html#c-testing-your-installation-ray-rllib) for testing ray/rllib, tensorboard is mentioned as a command to use without mentioning that it has to be installed or how to install it.

![tensorboard](https://user-images.githubusercontent.com/20323625/45774392-a429eb80-bc01-11e8-94b3-9b568cd81191.png)

Possible solution is to add a l

[2018-09-19 19:01] eugenevinitsky commented on #157
This is a good call; I'll move them over.

[2018-09-19 19:03] eugenevinitsky commented on #158
Thanks for catching this! We'll add it to the environment file.

[2018-09-19 19:09] kev-chien opened #159 "Clarify boost setup for Ray for Mac"
When installing Ray from Eugene's repo in Mac, I ran into the issue of needing to install boost before I could run `python setup.py develop` (I got the `fatal error: 'boost/algorithm/string/predicate.hpp' file not found`).

Boost is not mentioned in Eugene's repo [Ray installation deps ](https://github.com/eugenevinitsky/ray/blob/master/doc/source/installation.rst) or in the official [Ray installa

[2018-09-20 17:30] eugenevinitsky commented on #158
Or....you could submit your first Pr fixing this!

[2018-09-20 17:55] eugenevinitsky opened #163 "Upgrade to SUMO 1.0.1"
- [x] Change TRACI commands to adapt to new SUMO @AboudyKreidieh
- [x] Upgrade the RLlib image to use new SUMO @eugenevinitsky
- [x] Build new wheels @AboudyKreidieh
- [ ] Upgrade the docker image to use new sumo @lucfisc
- [ ] Confirm that experiments do not crash under new SUMO @eugenevinitsky
- [ ] Get benchmark results for new SUMO

[2018-09-20 19:57] eugenevinitsky commented on #155
#156 is relevant here

[2018-09-20 19:58] eugenevinitsky commented on #83
This is still an issue right?

[2018-09-20 19:58] #79 closed

[2018-09-20 20:20] eugenevinitsky opened #164 "Instructions for using sync_s3"
We have a script for syncing files from s3 but no instructions on how to use it. We need to add this to readthedocs

[2018-09-21 00:15] #145 closed

[2018-09-21 20:20] #158 closed

[2018-09-22 00:31] AboudyKreidieh opened #169 "documenting benchmarks"
In order for benchmarks to be clear for people, we require tutorials on the following:
- [ ] importing and running benchmarks
- [ ] evaluating and publishing results

In addition, we need to document each of our benchmarks on the website, maybe in the style of OpenAI gym (see https://gym.openai.com/envs/#classic_control):
- [ ] bottleneck
- [ ] grid
- [ ] figure eight
- [ ] merge

[2018-09-22 00:32] eugenevinitsky commented on #169
All of this stuff actually winds up under the purview of Flow Garden; we're going to need all of this for its first release. We should do a first pass of this before the paper is out, but then we'll shift its location

[2018-09-22 00:33] AboudyKreidieh opened #170 "tests for visualizer"
this has been needed for a while. the test should probably run a single iteration of training on something and make sure the visualizer can reproduce whatever policy was create. We need one for rllib and one (maybe) for rllab-multiagent

[2018-09-22 02:53] eugenevinitsky opened #171 "Unit tests for actuated default in traffic lights"
- The adding of traffic lights in the grid is not tested; for example, traffic_lights.num_traffic_lights is 0 when called in generator
- need to test that actuation is actually active

[2018-09-22 02:54] eugenevinitsky opened #172 "Traffic lights are not actuated in grid0, grid1 in baselines and grid in examples/sumo"

[2018-09-24 16:46] eugenevinitsky opened #173 "Save algorithm name in RLlib to ease replay"
When we replay an rllib algorithm, we add a --run ALG_NAME flag. We could just save the algorithm name in json for ease of use later and remove the flag

[2018-09-24 22:27] mtgibson2014 commented on #144
I'm currently asking SUMO developers to create wheels for SUMO.

[2018-09-24 23:38] eugenevinitsky opened #174 "Close google groups -- add instructions for asking questions on github issues/add a question label"

[2018-09-24 23:42] nskh opened #175 "Coding Style Development"
Should we have a style guide?

Should we just use yapf?

- [ ] Add a yapf test @AboudyKreidieh
- [ ] Create a style file @AboudyKreidieh

[2018-09-25 19:19] kjang96 opened #176 "Write Flow upload script for Rllab x EC2"
This should:

- start the EC2 instance
- upload your code to it
- run the desired script

[2018-09-25 19:48] maheshmurag commented on #109
Running this works for me on updated flow-project:
![image](https://user-images.githubusercontent.com/5667029/46038735-c4a1ec00-c0c0-11e8-9c63-3df3f89c1df6.png)

Does this warrant closing this issue? @mtgibson2014

[2018-09-25 20:04] #109 closed

[2018-09-26 02:04] eugenevinitsky opened #177 "sumo checksum bug"
When we close a traci_connection we get the following error:
sumo(81446,0x7fff90b42340) malloc: *** error for object 0x7fe935609cc0: incorrect checksum for freed object - object was probably modified after being freed.

This is probably horrifying to users; we should try to remove it

[2018-09-27 23:20] kjang96 opened #178 "Setup commands in ray_autoscale.yaml"
Line 80 of scripts/ray_autoscale.yaml is `- cd ray && git fetch eugene_upstream && git checkout master && git pull`. At this moment, git pull pulls the original repo: ray-project/ray, which (correct me if I'm wrong) is not the desired effect . We should either specify `git pull eugene_upstream master` or set the upstream to be eugene_upstream master.

@eugenevinitsky

[2018-09-30 22:58] eugenevinitsky opened #181 "Actuated vs. controlled for grid"
Actuated param for tl_type seems to make it possible to use the actuated traffic lights, but what does controlled actually do?

[2018-10-01 00:08] eugenevinitsky commented on #157
Did this for ray. We're trying to remove rllab from our system so we're going to pass on that.

[2018-10-01 00:08] #157 closed

[2018-10-01 00:10] eugenevinitsky opened #182 "Recreate all rllab results with Ray"
- RLlab is getting more and more deprecated, it would be useful to remove it and thus simplify our setup and set of things we need to support.
This involves
- [ ] Check that all rllab results can be stably reproduced with PPO in ray
- [ ] Port TRPO in ray
- [ ] Fix setup instructions to remove rllab

[2018-10-01 00:11] eugenevinitsky opened #183 "Create env/generator for university of delaware environment"

[2018-10-01 23:38] kjang96 opened #184 "Improve run script for EC2 Experiments"
Current workflow is not ideal. Need to speed up the process of running multiple experiments.

[2018-10-01 23:40] eugenevinitsky opened #185 "Depart time bug in Mac Binary"
We need to change the mac binary to not have a depart time bug in it

[2018-10-01 23:45] eugenevinitsky opened #186 "Rebuild sumo binaries"
We need to rebuild the SUMO binaries every few days/create a script that does so

[2018-10-01 23:49] #83 closed

[2018-10-04 06:38] AboudyKreidieh commented on #185
The new sumo binaries are up.

[2018-10-04 06:38] #185 closed

[2018-10-08 21:23] kev-chien commented on #173
Currently, the PR needs to be reviewed again to see if it has a usage we'd like to use, and then the usage has to be extended to all the other tutorials/ examples.

[2018-10-09 04:43] mtgibson2014 commented on #174
Hey,

For this issue, I wanted to create an auto reply to people who post to the group. Here's the message that I'd create:

_Thank you for sending your message to flow-dev. For any issues, questions, or concerns about Flow, we ask that you please submit your issues to our Github repo here: https://github.com/flow-project/flow/issues

Have a great day,
Flow Team_

However, only administrators can

[2018-10-12 22:38] kanaadp opened #191 "Remove state as an argument from compute reward"
The state doesn't need to be used to produce a reward — benchmark envs shouldn't use the state to compute the reward because a benchmark solution might change the observation function.

[2018-10-12 23:30] eugenevinitsky commented on #177
@AboudyKreidieh mahesh has pointed out that this is going to occur every time there's a keyboard interrupt. It doesn't seem like there's a clean way to catch this; do you have any thoughts?

[2018-10-15 03:11] eugenevinitsky opened #192 "pip install Flow"
When people are helping us with debugging, they have to go through a lot of hassle to set up Flow even though they may just be trying to help debug their software. For this reason, it'd be good to have a pip install of Flow (and long term it'll be useful too). Thoughts @AboudyKreidieh @kanaadp @nskh

[2018-10-15 18:55] kjang96 opened #194 "get_follower and get_leader occasionally returns wrong value"
Discovered this bug in the roundabout_inflows branch of my fork, where rl_0's follower was set as 'rl_3.0' when it clearly was not the follower. I think this was an error with traci. Will flesh out more details later

[2018-10-15 18:56] eugenevinitsky commented on #194
Can you point to a file where the error is thrown or add a test for it? (the latter is post the 17th obviously)

[2018-10-15 19:23] eugenevinitsky opened #195 "enable multi-agent support in flow"
We should support rllib's MultiAgentEnv
- [x] Create an example run script
- [x] Add multi-agent support to base env
- [ ] Create example script for alternate training
- [x] Add support for multi-agent to visualizer_rllib

[2018-10-15 23:43] eugenevinitsky opened #196 "create a doc on how to run ray experiments on cluster"

[2018-10-16 13:18] CaioFerreiraB opened #197 "specify_routes with a netfile"
Hello, I'm trying to use the NetFileScenario class, and I discovered that the specify_routes function of the netfile generator is not implemented yet on the version that I have installed. Have you implemented it already? If not, do you have any prevision on when will you implement it?

By the way, thank you for the framework, it was exactly what I was looking for!

[2018-10-16 17:43] eugenevinitsky commented on #197
Hi CaioFerreiraB,
Glad you like the framework! Unfortunately, the route specification is something that is scenario specific, so we can't tell what qualifies as a route without knowing the scenario. If you have your net.xml file, we can try and help you write that function for your scenario. For an example, take a look at the BayBridgeTollGenerator class or any of the other generator classes! They

[2018-10-16 21:19] kanaadp opened #198 "Fix config file imports"
We have a config default in both /flow and /flow/core that are different, also sync_s3.py pulls from config_default.py (which doesn't make much sense)

[2018-10-17 12:39] CaioFerreiraB commented on #197
Hi eugenevinitsky,
Thank you for the fast response! I implemented the route specification and the specify_edge_start function, the simulation starts, but I', having troubles on the departure positions of the vehicles, I think that I didn't fully understand how the position o the specify_edge_start works because is based on a referential.

[2018-10-17 18:47] eugenevinitsky commented on #197
Hi CiaoFerreiraB,

So, the edge starts is sort of a holdover from older things we used to do, if you just return the names of the edges and some random numbers it should be sufficient. The idea was to construct a notion of absolute position, but this doesn't really make sense for most road networks.

[2018-10-17 18:48] eugenevinitsky opened #200 "Remove edge_starts"
@AboudyKreidieh I've temporarily assigned you to this but that's mostly to loop you into the discussion. We have all these specify_edge_starts methods but they don't seem to be used for anything significant anymore, and they're confusing when you're implementing a new scenario. Thoughts on just deleting them?

[2018-10-17 21:58] CaioFerreiraB commented on #197
Hi eugenevinitsky,

Ok, so now I'm a little confused about the implementation. I'm the following problem: the departure position of some of the vehicles are in positions outside of the lane, so I'm not being able to put all the vehicles inside the lane and the simulation ends up with an error. I was thinking that it was due to the specify edges, but apparently not. Any thoughts about what can be t

[2018-10-18 00:59] AboudyKreidieh commented on #197
Hi CiaoFerreiraB,

Can you share your `specify_edge_starts` and `specify_specify_routes` methods, as well as anything else you may thing may be leading to the bug? That'd help us work through the problem with you. If you are not comfortable sharing your code, can you at least share the error log? Thank you!

[2018-10-18 19:35] eugenevinitsky commented on #197
Hi Ciao,

Looking into it now.

[2018-10-18 19:46] eugenevinitsky commented on #197
Hi Ciao,

The generated routes.txt file you sent us doesn't quite match the run script I'm seeing in your github repo but, from what I'm seeing, it looks like you're trying to put 22 vehicles into the system? However, the edges are only of length 40 and so you can't fit all 22 vehicles into that system even if you were to squeeze them as tightly as possible.
Is it possible that you want an inflow

[2018-10-19 03:43] eugenevinitsky opened #201 "Convert sumo-gui to movie from command line"
Currently, we open a sumo-gui screen, and use screen capture to capture the video. Sumo can dump screenshots programmatically, so if we just add a utility to convert those into a movie, this would ease the process a bit.

[2018-10-19 11:00] CaioFerreiraB commented on #197
Hi eugenevinitsky

Sorry, I didn't mention, the file that I'm using for my tests is test_netfile.py, so I'm not using the run method on screenshot_test.py (this is the run script that you was talking about, right?). Yes, I was trying to put 22 vehicles into the system, it was a mistake. But even with just 2 vehicles, I'm having this warning on sumo:

Warning: Invalid departPos 54.63 given for vehi

[2018-10-19 19:32] CaioFerreiraB commented on #197
Hello again,

After looking at the flow's code, I solved my problem. I was having some issues with controllers and how flow works.

Really thank you for all the help and congratulations on a great job with the framework!

[2018-10-19 20:30] eugenevinitsky commented on #197
Great! Glad to hear it. Just for point of reference, an inflow would let you stochastically send vehicles on the start of each edge, so that you could keep a steady flow of vehicles going towards the junctions. That way you don't have to put all the vehicles on to start and will have more vehicles coming in at a stochastic rate.

I'm going to close the issue, but if you have any other questions or

[2018-10-19 20:30] #197 closed

[2018-10-21 20:56] eugenevinitsky opened #203 "Initial_config tutorial"
It's not very clear how to control which edges vehicles start on; it would be good to add more documentation around this.

[2018-10-22 23:49] #138 closed

[2018-10-22 23:50] kanaadp commented on #138
duplicate of #177

[2018-10-22 23:55] eugenevinitsky opened #205 "Tutorial for EnvParams"
EnvParams should have a small tutorial as well

[2018-10-22 23:58] eugenevinitsky opened #206 "Tutorial for Params class"
- [ ] Tutorial for InitialConfig
- [ ] Tutorial for SumoParams
- [ ] Tutorial EnvParams
- [ ] Tutorial SumoCarFollowingParams

[2018-10-22 23:58] #205 closed

[2018-10-22 23:59] #203 closed

[2018-10-23 22:44] kjang96 commented on #44
It looks like this is occurring because the minimum duration of a traffic light is shorter than the amount of time it takes a vehicle to get from the detector gap to the intersection. A detector gap could detect a gap, change the phase (with the aim of getting the last detected vehicle through the intersection), and the phase switch occurs before the last detected vehicles gets to/through the inte

[2018-10-23 23:06] kjang96 commented on #44
On second thought I think this might be a Sumo bug, because in the grid.py experiment, where the parameters are set to speed_limit = 35m/s, detector_gap = 0.8 s, and minDur = 3s, you can evidently clear 0.8s in 3s

[2018-10-23 23:07] eugenevinitsky commented on #44
You can clear it, but you won't necessarily. If you increase min_dur the warning goes away.

[2018-10-24 00:58] eugenevinitsky opened #207 "Flow tutorial 1.4 apply_rl_actions has typo"
It says rl_ids = self.vehicles.get_rl_ids but should say self.vehicles.get_rl_ids()

[2018-10-24 06:16] #173 closed

[2018-10-25 00:00] AboudyKreidieh commented on #44
resolved by #211

[2018-10-25 00:00] #44 closed

[2018-10-26 16:27] eugenevinitsky opened #213 "Move eugenevinitsky/ray to flow-project/ray"
- [x] Move the repo
- [x] Block pushes to master without a PR

[2018-10-29 21:41] eugenevinitsky opened #216 "Create template for submitting issues"
- [ ] One template for asking questions
- [x] One template for raising bugs
Look at Ray's issue template for an example.

[2018-10-31 04:05] mtgibson2014 opened #217 "flow/tutorials/tutorial06_environments.ipynb"
Have a mistake in the get_state instructions. The comments for getting the velocities is incorrect.

[2018-10-31 04:29] mtgibson2014 opened #218 "tutorial06_environments"
<img width="943" alt="screen shot 2018-10-30 at 9 27 05 pm" src="https://user-images.githubusercontent.com/7775864/47766175-a5334b80-dc8a-11e8-8f13-5dedf013a421.png">

Under apply_rl_actions, we have: **rl_ids = self.vehicles.get_rl_ids**.

This is a typo. It should be: **rl_ids = self.vehicles.get_rl_ids()**

[2018-10-31 13:20] #216 closed

[2018-10-31 13:21] eugenevinitsky commented on #201
Added Ethan as he is working on this.

[2018-10-31 13:30] eugenevinitsky commented on #194
@kjang96 bump, if this is a significant bug we need to know where it is happening.

[2018-10-31 13:31] #177 closed

[2018-10-31 17:42] #217 closed

[2018-10-31 17:42] #218 closed

[2018-10-31 17:43] #207 closed

[2018-10-31 18:08] #198 closed

[2018-10-31 19:13] #174 closed

[2018-11-03 05:44] AboudyKreidieh commented on #213
done as of #224

[2018-11-03 05:44] #213 closed

[2018-11-07 23:12] AboudyKreidieh commented on #192
In order to do this, I recommend we first:
- [ ] enable registering of environments without the need of including it to `__init__.py`

[2018-11-10 00:52] kev-chien opened #230 "Flow Garden benchmark descriptions update"
Minor fixes for benchmark descriptions for Flow Garden (in `flow/benchmarks/descriptions`)
- [ ] Add CORL Paper link (once it's released)
- [ ] Add youtube video strings for the benchmarks missing the correct video

[2018-11-11 03:34] eugenevinitsky opened #232 "Travis build does not match our requirements file"
Travis needs to reflect our requirements file, else we can't be sure that our installation instructions would match our passing build.

[2018-11-11 06:22] liyan2015 opened #233 "Rllib example fails due to worker failure on cluster"
---
name: rllib example `stabilizing_the_ring.py` have worker failures on cluster
about: SUMO socket error

---

**Choose an option**
This is a:
- [ ] Question

**Describe the issue**
SUMO subprocess receives socket error randomly, which causes several workers to fail.

**To Reproduce**
1. Start a Ray cluster with 3 nodes. Each node has 28 workers. Let each worker have 1 CPU.
2. Configure the `num

[2018-11-11 08:02] eugenevinitsky commented on #233
Hi @liyan2015 , I'm surprised that this is happening. I'll try and validate it ASAP; each worker is assigned a unique port number so if it doesn't fail immediately it shouldn't fail at any point.
There are two recommendations/requests that I have while we try and debug this:
(1) Ray actually assigns one worker per CPU so I'm surprised your script ran; the number of workers should be the number of

[2018-11-11 18:44] liyan2015 commented on #233
Thank you for your quick recommendations!

(1) I use `ray start --head --redis-port=6379` to start the head on the first node, and then `ray start --redis-address=<head ip>` to start the slave nodes. By `NUM_CPUS`, I guess you mean the total number of CPUs on the cluster? I once tried to use `NUM_CPUS=3*28-1=83` CPUs as workers and left 1 CPU as the scheduler, but no difference. I also tried to de

[2018-11-12 07:09] eugenevinitsky commented on #177
Note, this is resolved by upgrading sumo.

[2018-11-12 07:12] eugenevinitsky opened #236 "Upgrade Sumo"
- [x] Write a run script to run all the benchmarks, pull and visualize them @kanaadp
- [ ] Pick out the correct parameters for new SUMO
- [ ] Pick out inflow values for bottleneck with Krauss
- [ ] Confirm wave on merge even with Krauss
- [ ] Write script to check that the results are within expectation on traffic metrics

[2018-11-12 22:20] eugenevinitsky opened #237 "Calculation of v_max in stabilizing ring environments outputs negative results"
In the stabilizing ring experiments, if you fix the ring radius to be 230, the output max speed is -1.7. This doesn't seem correct?

[2018-11-13 06:11] eugenevinitsky commented on #101
Moving this up to high priority; our lack of good videos are beginning to be a huge problem.

[2018-11-13 19:47] eugenevinitsky commented on #78
- [ ] Merge phillip's PR
- [ ] Add instructions to the readthedocs

[2018-11-14 02:36] eugenevinitsky opened #239 "Add ray usage instructions to readthedocs"
We expect our users to use Ray to run the experiments, consequently, we should have a tutorial on how to run them/a quick example in readthedocs.

[2018-11-14 03:23] eugenevinitsky opened #240 "visualizer_rllib opens multiple windows"
If you look at the calls made from running visuallizer_rllib (ignoring the num_clients thing) you see the following:

eugenevinitsky   44840   0.0  0.1  4399572  16864   ??  Ss    7:21PM   0:00.06 sumo -c /Users/eugenevinitsky/Desktop/Research/Bayen/Code/flow/flow/scenarios/debug/cfg/to_visualize_20181113-1921531542165713.870879.sumo.cfg --remote-port 62314 --num-clients 1 --step-length 0.1 --no-s

[2018-11-15 04:56] eugenevinitsky opened #241 "Get flow to 90% on tests"
Get flow to 90% on tests for release 0.4.0

[2018-11-15 04:57] eugenevinitsky opened #242 "Create a controllable env for bologna/luxembourg"

[2018-11-15 04:58] eugenevinitsky opened #243 "Functional dockerized version of Flow w/ frozen version of ray and instructions for use"
We should have a dockerized version of Ray that can be used for the Flow tutorial

[2018-11-15 04:59] eugenevinitsky opened #244 "New Aimsun Kernel"
Just here to keep track of planned release items

[2018-11-15 22:06] eugenevinitsky commented on #233
@liyan2015 oh my goodness, I don't know why I didn't get notified about your response. I'm looking into this ASAP. So sorry!

[2018-11-16 02:50] eugenevinitsky commented on #233
So, the logs are slightly deceptive; for stabilizing_the_ring we change the size of the ring every instance. To do this, we have to close and open a traci connection. When you close a traci connection on sumo 0.31.0 it outputs the error that you're seeing.
Could you post the full log? It's really hard to debug rllib errors without the log and I don't have access to a multi-node cluster at the mome

[2018-11-16 02:52] eugenevinitsky commented on #233
So, the logs are slightly deceptive; for stabilizing_the_ring we change the size of the ring every instance. To do this, we have to close and open a traci connection. When you close a traci connection on sumo 0.31.0 it outputs the error that you're seeing.
Could you post the full log from the terminal? It's really hard to debug rllib errors without the terminal log and I don't have access to a mul

[2018-11-16 03:12] eugenevinitsky commented on #233
Hi @liyan2015 I am testing it out now on a cluster, should have a response for you soon.

[2018-11-16 03:15] eugenevinitsky commented on #233
Hm, it is working for me on the cluster.
Are you sure that your ray.init(redis_address="") winds up printing out the correct address on the cluster? Which version of ray are you running?

[2018-11-16 03:17] eugenevinitsky commented on #233
If you want to send me your public key, I can add you to the cluster so you can mess around on it and see what might be going wrong.

[2018-11-16 05:03] eugenevinitsky commented on #233
One more question, does this script work for you locally on one node?

[2018-11-18 07:07] eugenevinitsky opened #257 "Add examples of flow use/visualization of results to readthedocs"
Our readthedocs does not have any simple examples of how to use Flow. The tutorials are helpful, but a few short commands would be useful.
Particular sections
- [ ] An example of running and then visualizing the results
- [ ] A reference to the different experiments with a brief description and paper link (this is currently sitting entirely inside of the code as comments).

[2018-11-18 07:08] eugenevinitsky commented on #257
This is actually already there on second glance.

[2018-11-18 07:08] #257 closed

[2018-11-18 23:47] eugenevinitsky opened #259 "We call exit in base_env, should call sys.exit()"

[2018-11-19 09:08] eugenevinitsky opened #265 "Warning: At actuated tlLogic 'center0', minDur 3.00 is too short for a detector gap of 28.00m."
Hey Kathy,

When we run any of the grid examples we always see this. Is there a reasonable fix for this?

[2018-11-19 21:12] eugenevinitsky opened #266 "Tests for multi-agent part of visualizer"
- [ ] add pkl files for the multiagent component
- [ ] add test

[2018-11-20 14:42] eugenevinitsky opened #271 "Coverage badge is not updating"

[2018-11-21 21:37] eugenevinitsky opened #272 "Write a tutorial for the multiagent envs"

[2018-11-24 03:18] fywu85 commented on #156
Resolved at #261

[2018-11-24 03:18] #156 closed

[2018-11-24 03:19] fywu85 commented on #155
Resolved at #261

[2018-11-24 03:19] #155 closed

[2018-11-24 03:19] fywu85 commented on #183
Resolved at #273

[2018-11-24 03:19] #183 closed

[2018-11-25 16:46] eugenevinitsky commented on #192
Any thoughts on how to do that?

[2018-11-25 16:46] eugenevinitsky opened #275 "Add descriptions of renderer usage to Readme/Readthedocs"
- should include one example of usage/relevant image

[2018-11-25 21:45] eugenevinitsky opened #277 "Find a clean way to subclass MultiAgentEnv"
- Currently, MultiAgentEnv is a class that subclasses Env and subtly changes the step and reset method. Consequently, it lags changes merged into base_env and can easily become not current.
- Dynamic subclassing of MultiAgentEnv in base_env does not work well with testing

[2018-11-26 03:07] eugenevinitsky opened #279 "Update documentations with examples"
If you look at: https://ray.readthedocs.io/en/latest/example-lbfgs.html
they have a whole list of examples illustrating what you can do with RLlib. We should provide one of these on our documentation page as well. Obviously we have tutorials but it's more compelling if you can see a couple exciting use cases and explanations of how they work.

[2018-11-26 18:22] eugenevinitsky commented on #78
Done in #278

[2018-11-26 18:22] #78 closed

[2018-11-26 18:23] eugenevinitsky commented on #266
Done in #270

[2018-11-26 18:23] #266 closed

[2018-11-26 18:23] eugenevinitsky commented on #195
Alternate training is not supported yet in RLlib so it is what it is

[2018-11-26 18:23] #195 closed

[2018-11-26 18:24] eugenevinitsky commented on #194
@kjang96 bump. Can you point to where this happens?

[2018-11-28 02:18] eugenevinitsky opened #282 "sync_s3 line breaks"
command = ("""
            aws s3 sync {remote_dir} {local_dir} --exclude '*stdout.log'
             --exclude '*stdouterr.log' --content-type "UTF-8"
        """.format(local_dir=local_dir, remote_dir=remote_dir))

actually issues two commands due to the line break

[2018-11-28 04:33] fywu85 opened #284 "Move tutorials and examples to Binder"
Move tutorials and examples to Binder: https://mybinder.org/

[2018-11-29 03:33] #259 closed

[2018-11-29 19:33] eugenevinitsky commented on #201
Donezo!

[2018-11-29 19:33] #201 closed

[2018-11-29 19:33] #170 closed

[2018-11-30 13:33] dimikout3 opened #290 "Failed to run examples/sumo/sugiyama.py"
I followed the steps for the installation procedure (https://berkeleyflow.readthedocs.io/en/latest/flow_setup.html). However, when i tried to run the example
 ( in the "Testing the Installation" section) I get the following error:

Traceback (most recent call last):
  File "examples/sumo/sugiyama.py", line 11, in <module>
    from flow.envs.loop.loop_accel import AccelEnv, ADDITIONAL_ENV_PARAMS

[2018-11-30 16:44] eugenevinitsky commented on #290
Thank you for catching and reporting this! This is a dependency we did not intend to introduce. I will push a fix to this this afternoon and let you know when it is up but if you want to quickly resolve it you can run:
Pip install ray==0.5.3 and then
Pip install opencv-python.
That should resolve the dependencies issue.

[2018-11-30 18:17] eugenevinitsky commented on #290
PR #291 is out in response to this @dimikout3 . Hope this resolves your problem!

[2018-11-30 22:33] dimikout3 commented on #290
Thanks !!! your quick fix did work. The gui starts normally, however, when i hit the run traci fails with the following error:
Error: tcpip::Storage::readIsSafe: want to read 8 bytes from Storage, but only 4 remaining
Quitting (on error).

I have faced the same issue in older sumo releases. Could you possible know what is going on ?

[2018-11-30 22:38] eugenevinitsky commented on #290
Ah; yes. We are currently operating on an old version of SUMO and are working (this week and next) to upgrade to SUMO 1.0.1. In our scripts folder you can find the setup scripts that will install a compatible version of SUMO for you if you want it.

[2018-11-30 23:05] dimikout3 commented on #290
Thanks again for the help. I tried the scripts as you proposed and I have two comments:

1. I believe there is a typo in your "setup_sumo_ubuntu1604.sh".  The last two lines are
echo 'export PATH=$PATH:$HOME/sumo_binaries/bin' >> ~/.bashrc
echo 'export SUMO_HOME=$HOME/sumo_binaries/bin' >> ~/.bashrc
I think you wanted to use something like:
echo 'export PATH="$PATH:$HOME/sumo_binaries/bin" ' >> ~/

[2018-11-30 23:36] dimikout3 commented on #290
Sumo-gui logs the following message:

Error: tcpip::Storage::readIsSafe: want to read 8 bytes from Storage, but only 4 remaining
Quitting (on error).

[2018-11-30 23:46] eugenevinitsky commented on #290
Yeah; it looks like your Traci isn't updated yet. We're writing a PR to simplify the process but in the meantime, did you follow the instruction to run `python setup.py develop` in the main flow directory?

[2018-11-30 23:47] dimikout3 commented on #290
I deleted the  first conda enviroment and created a knew one (after using the scripts for installing sumo-binaries). I still get the same error.

[2018-12-01 00:13] eugenevinitsky commented on #290
If you run `python -c "python import traci; print(traci.__path__)` what do you get? We will figure this out soon!

[2018-12-01 00:15] dimikout3 commented on #290
python -c "python import traci; print(traci.__path__)"
  File "<string>", line 1
    python import traci; print(traci.__path__)
                ^
SyntaxError: invalid syntax

[2018-12-01 00:19] eugenevinitsky commented on #290
err; just try running `python` and then once you're in the python command line
`import traci
print(traci.__path__)
`
Just trying to figure out which traci you actually wind up pointing at. My guess is that the newer version of Traci is still getting imported.

[2018-12-01 00:20] dimikout3 commented on #290
['/home/dimikout3/sumo/tools/traci']

[2018-12-01 00:25] yunerzxy opened #296 "Name conflict for bottleneck"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
There's a bottleneck package in pandas, and conflicts with our bottleneck class.

**To Reproduce**
Leave empty if not applicable.
Try to run any example files

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/13002156/49321450-67f5ef80-f4bc-11e8-810

[2018-12-01 00:29] eugenevinitsky commented on #290
Have you reset it? i.e. `source ~/.bashrc`
You can also just do this by closing the terminal window.

[2018-12-01 00:33] dimikout3 commented on #290
I did not (omg!!). After reseting importing traci fails. In other words, if i open a python command line an type "imoprt traci" i get:
Traceback (most recent call last):
  File "examples/sumo/sugiyama.py", line 10, in <module>
    from flow.core.vehicles import Vehicles
  File "/home/dimikout3/flow/flow/core/vehicles.py", line 12, in <module>
    import traci.constants as tc
ImportError: No module

[2018-12-01 00:44] eugenevinitsky commented on #290
So here we install traci via pip so it should just be in your env; so I would get into your conda env and run `python setup.py develop` one more time and see if that fixes things?

[2018-12-01 00:56] dimikout3 commented on #290
I did run run python setup.py develop. In my python command line I can see that traci is importred from
['/home/dimikout3/anaconda3/envs/flow/lib/python3.5/site-packages/traci']. However, when i run the example i still get the traci error ...

[2018-12-01 17:44] dimikout3 commented on #290
I have finally located the problem !!! I was wrongly exporting the sumo/bin ... instead of
echo 'export PATH="$HOME/sumo/bin:$PATH"' >> ~/.bashrc    in my ~/.bashrc I had
echo 'export PATH=$HOME/sumo/bin:$PATH' >> ~/.bashrc
After correcting this I just needed to install the pip install ray==0.5.3 and the pip install opencv-python. Now everything seems to perform correctly. I also believe that the

[2018-12-03 00:50] eugenevinitsky commented on #290
Glad to hear it! I'm going to close this issue but let us know if you have any more questions!

[2018-12-04 03:21] kanaadp opened #298 "matplotlib and imutils for AMI"
when making a new ami, add matplotlib and imutils to python env (needed by renderer, not currently installed) may need this in the requirements.txt too

[2018-12-04 08:34] jzf2101 commented on #284
Hi from the binder team! We're actually trying to put it on binder right now.  Could you confirm that the installation instruction for ubuntu are correct? I tried to follow the instructions provided on the RTD and I think some Debian packages are left missing.  Local installation of sumo fails due to missing dependencies.

[2018-12-06 00:16] fywu85 commented on #284
Hi, thanks for reaching out. This is entirely possible as we are pushing for a release by mid December. A lot of pieces have been changed since the time when we wrote the installation instruction. Would you mind provide me with your os specs (Ubuntu version, etc.)? I will look into this and get back to you as soon as possible.

[2018-12-06 08:49] KidTrunks commented on #290
Hi, unfortunately I am also having problems running "python examples/sumo/sugiyama.py"

The error I encounter is:

Couldn't import TensorFlow - disabling TensorBoard logging.
Traceback (most recent call last):
  File "examples/sumo/sugiyama.py", line 11, in <module>
    from flow.envs.loop.loop_accel import AccelEnv, ADDITIONAL_ENV_PARAMS
  File "/home/python/flow/flow/envs/__init__.py", line 13,

[2018-12-06 08:54] dimikout3 commented on #290
Did you try:
pip install ray==0.5.3 and then
pip install opencv-python .

I think I had the same error when i did not use the aforementioned commands. Also, do not forget to activate the conda flow environment you have created (It is possible to encounter the same error if you do not activate your environment).

[2018-12-06 09:01] KidTrunks commented on #290
Yes I had the same issue No Module named 'ray' before this, and applied your fix which solved the problem. But this error No module named 'tensorflow' occured right after.

[2018-12-06 09:08] dimikout3 commented on #290
And I am assuming you tried " source ~/.bashrc " or closing and reopening the terminal, for enabling the changes. I remember the error you are mentioning, but in my case the 2 pip installations fixed the problem. Just to make sure, you performed the installations while the conda flow environment was activated ?

[2018-12-06 23:16] eugenevinitsky commented on #290
Hi @dimikout3 thank you for helping!

@KidTrunks sorry for the delay; did you create a flow environment and ran `source activate flow` before running anything? You're missing tensorflow and tensorboard which should have been installed in the conda install.

[2018-12-07 07:06] KidTrunks commented on #290
YESSS it worked!!! Thank you @dimikout3  @eugenevinitsky , very silly mistake by me.

[2018-12-07 07:12] eugenevinitsky commented on #290
No worries! Glad we could help you.

[2018-12-08 01:22] eugenevinitsky opened #301 "rl_actions is not clipped when being passed to reward in base_env"
Described above

[2018-12-08 01:40] eugenevinitsky opened #302 "Clip tuples in base_env"
We clip the actions passed from the RL agent but only clip if the action_space is a box. If the action space is a tuple we should still be clipping.

[2018-12-09 06:22] CYBruce opened #304 "There are always errors in OSX following Installing procedure"
**Choose an option**
This is a:
- [x] Question

**Describe the issue**
When coming to the Installing Flow and SUMO, after downloading SUMO’s github directory, something goes wrong and I cannot figure it out.

I input the code into terminal
`export CPPFLAGS=-I/opt/X11/include`
`export LDFLAGS=-L/opt/X11/lib`
`./configure CXX=clang++ CXXFLAGS="-stdlib=libc++ -std=gnu++11" --with-xerces=/usr/local --

[2018-12-09 06:50] eugenevinitsky commented on #304
@CYBruce sorry to hear about this! I'm guessing something went wrong in the ./configure line; could you post the output for this?
Additionally, we've added some instructions to make the installation process way easier!
You can take a look at: https://flow.readthedocs.io/en/latest/flow_setup.html#e-easy-install-sumo-optional
for a hopefully much simpler process.

[2018-12-09 07:49] CYBruce commented on #304
I tried this easier method, but still have errors. I cannot make SUMO work.
[terminal_rec.txt](https://github.com/flow-project/flow/files/2660336/terminal_rec.txt)

[2018-12-09 07:57] CYBruce commented on #304
By the way, I tried the (e). Easy Install SUMO, and I got this.
`Installing sumo binaries`
`~/sumo_binaries/bin ~/flow`
`scripts/setup_sumo_osx.sh: line 11: wget: command not found`
`tar: Error opening archive: Failed to open 'binaries-mac.tar.xz'`
`rm: binaries-mac.tar.xz: No such file or directory`
`chmod: *: No such file or directory`

[2018-12-09 19:21] eugenevinitsky commented on #304
Of course; happy to help. The issue here is that you don't have wget.
Can you try first installing homebrew from this link: https://brew.sh/
Then run `brew install wget` and then repeat the easy setup procedure? I think this will resolve your problems.

[2018-12-10 02:21] CYBruce commented on #304
@eugenevinitsky Thank you for your kindly help! I fixed the problem and installed sumo_binary. However, when I tried to install sumo (I install all the needed libraries)
`export CPPFLAGS=-I/opt/X11/include`
`export LDFLAGS=-L/opt/X11/lib`
`./configure CXX=clang++ CXXFLAGS="-stdlib=libc++ -std=gnu++11" --with-xerces=/usr/local --with-proj-gdal=/usr/local`  They work correctly.
Unfortunately, `make

[2018-12-10 02:36] eugenevinitsky commented on #304
Hi @CYBruce if you install the binaries, you can skip the sumo install step! You already have the binaries so everything should work as is. Highly recommended that you do this.

However, if you do want to go forward and actually do the compilation, happy to help with that as well. Unfortunately, to debug this I need the full output of make -j$nproc as the actual error is much further up in the out

[2018-12-10 03:05] CYBruce commented on #304
Wow, that's cool! Thank you for your help!

[2018-12-10 03:10] eugenevinitsky commented on #304
Great! Are you able to get any of the examples to work?

[2018-12-10 03:49] CYBruce commented on #304
when i input `sumo-gui`
it returns`FXApp::openDisplay: unable to open display /private/tmp/com.apple.launchd.uA1b5HgRU2/org.macosforge.xquartz:0`

and i input `python: can't open file 'examples/rllib/stabilizing_the_ring.py': [Errno 2] No such file or directory`
Now i'm trying to find answer online

[2018-12-10 04:01] eugenevinitsky commented on #304
Okay; so as to the former make sure you've closed and opened XQuartz; that's probably all that is.

As for the latter, what directory are you running it from? I'm guessing you're running it from a directory where the path to sugiyama.py is not `examples/sumo/sugiyama.py`

[2018-12-10 04:07] CYBruce commented on #304
I solved the latter one, but the former problem.......
I am still trying, it seems closing and opening dont work

[2018-12-10 04:10] eugenevinitsky commented on #304
You may have to restart your computer if you've installed XQuartz for the first time.

[2018-12-10 04:14] CYBruce commented on #304
Finally!!!
I will do some experiments in the next stage!

[2018-12-10 04:38] eugenevinitsky commented on #304
So glad to hear it! I'm closing this issue for now then but let us know if anything else comes up. Excited to see what you build with Flow!

[2018-12-10 04:38] #304 closed

[2018-12-11 06:27] CYBruce opened #305 "ImportError: No module named traci"
Sorry for the problem again, I solved the problem yesterday and made __*sugiyama.py*__ run correctly.
However, when I rerun the __*sugiyama.py*__  today, I got another problem saying "No module named traci". I'm sure I activate the source flow. Also I find the 'traci' direptory locally.
<img width="560" alt="2018-12-11 2 24 58" src="https://user-images.githubusercontent.com/34786389/49782296-c474c

[2018-12-11 11:10] CYBruce commented on #305
I solved this problem successfully by appending this path into `sys.path`, you can close this problem.

[2018-12-11 16:20] eugenevinitsky commented on #305
Glad you solved it!
Just to check, did you install via conda and the setup instructions? Traci should automatically have been added to your conda environment.

[2018-12-11 17:47] eugenevinitsky commented on #271
This seems to have resolved.

[2018-12-11 17:47] #271 closed

[2018-12-12 01:21] CYBruce commented on #305
@eugenevinitsky I followed the instructions and succeed. But today when I learning tutorial2, I met an error in the last step (the previous steps work well). Do you have some advice?
<img width="893" alt="2018-12-12 9 19 57" src="https://user-images.githubusercontent.com/34786389/49840613-1e2bd400-fdef-11e8-82d8-bd8d3902ca42.png">

[2018-12-12 01:33] eugenevinitsky commented on #305
Oh yeah; so, I'm still not sure if you're successfully creating a conda env. However, this can be resolved by `pip install gym==0.10.5`

[2018-12-12 01:34] eugenevinitsky commented on #305
Any error like this can be solved by running pip install <object>=<version> where you should take version from the environment.yml file.

[2018-12-12 01:37] CYBruce commented on #305
I got it!

[2018-12-12 03:56] CYBruce commented on #305
@eugenevinitsky As you said, I run python` setup.py` develop with flow env activated. But I got `sumotools-0.1.0-py3-none-any.whl is not a supported wheel on this platform.` And I think this is the key reason for `No module named traci`

[2018-12-12 04:57] AboudyKreidieh commented on #296
resolved

[2018-12-12 04:57] #296 closed

[2018-12-12 05:00] AboudyKreidieh commented on #9
It turns out we currently have this functionality (something one of the student from the 290O course figured out). Would be happy to discuss this with anyone that's interested.

[2018-12-12 05:01] eugenevinitsky commented on #9
@AboudyKreidieh can we document it then rather than closing this?

[2018-12-12 05:03] AboudyKreidieh commented on #9
oh, ya sure! i'll add:
- [ ] a test verifying it's still working
- [ ] some documentation
- [ ] an example controller using this

[2018-12-12 05:08] eugenevinitsky commented on #305
Yeah; we use that wheel to install traci. Very odd. @AboudyKreidieh any thoughts why this error might be occurring?

[2018-12-12 05:11] eugenevinitsky commented on #9
Thank you!

[2018-12-12 07:03] KidTrunks opened #306 "Setting up an Environment: lz4 not avaialble"
Ran into issue while trying to setup the environment using :
from flow.envs.loop.loop_accel import AccelEnv

the issue: "Warning: lz4 not available, disabling sample compression. This will significantly impact RLlib performance. To install lz4, run 'pip install lz4'"

After running pip install lz4, the same warning message persists.

Currently using Ubuntu 18.04 and Python 3.7.0

Any help would be

[2018-12-12 17:40] eugenevinitsky commented on #306
Hi @KidTrunks we are working to resolve this now; however, this is a warning rather than an error. The system will still run and I don't believe the speed is particularly affected.

[2018-12-12 19:37] eugenevinitsky opened #307 "Add LZ4 to installation instructions/AMI"
Currently we do not install LZ4 which leads to the warning: "Warning: lz4 not available, disabling sample compression. This will significantly impact RLlib performance. To install lz4, run 'pip install lz4'"

[2018-12-13 00:52] KidTrunks commented on #306
@eugenevinitsky Ahhh yes you are right, seems like performance is unaffected. Thought I might be missing something vital. Thanks!

[2018-12-13 09:09] CYBruce commented on #305
@AboudyKreidieh PTAL🙌🙌😁

[2018-12-14 22:38] AboudyKreidieh commented on #74
since python2 is dying soon, I highly recommend we don't waste time on this

[2018-12-14 22:40] AboudyKreidieh commented on #37
This issue is stale, so closing. I think we're happy with things as is for now. If anyone disagrees, they can reopen it.

[2018-12-14 22:40] #37 closed

[2018-12-14 22:54] eugenevinitsky commented on #74
+1, lets close this.

[2018-12-14 22:54] #74 closed

[2018-12-16 07:45] AboudyKreidieh commented on #305
@CYBruce sorry I missed this! Are you using python2 when you try to install this? It'll only work on python3 unfortunately (as will the rest of our code as well). Let me know if that's the issue and I'll be sure to respond ASAP! :)

[2018-12-16 07:47] CYBruce commented on #305
Thank you so much!!!
It's my mistake using python2 and I have fixed this.

[2018-12-16 07:49] AboudyKreidieh commented on #305
Awesome, glad it worked out. Let me know if you run into any other bugs.

[2018-12-16 18:39] AboudyKreidieh commented on #34
the PR has been merged. this is resolved

[2018-12-16 18:39] #34 closed

[2018-12-17 07:53] #305 closed

[2018-12-17 08:45] AboudyKreidieh opened #318 "rename "no_collide" -> "obey_safe_speed" and then move "no_collide" = 7"

[2018-12-19 05:41] AboudyKreidieh commented on #301
resolved by #303

[2018-12-19 05:41] #301 closed

[2018-12-19 17:22] AboudyKreidieh commented on #58
Since this is a subset of the aimsun kernel, I’m gonna close it

[2018-12-19 17:22] #58 closed

[2018-12-20 04:01] ZhuangDingyi opened #321 "FileNotFoundError when running sugiyama.py"
Hi, I really appreciate your work. I followed the steps and was ready to run sugiyama.py but got the Error:

Error during start: Traceback (most recent call last):
  File "/home/dingyi/flow-project/flow/flow/scenarios/base_scenario.py", line 827, in generate_net
    edges_dict, conn_dict = self._import_edges_from_net()
  File "/home/dingyi/flow-project/flow/flow/scenarios/base_scenario.py", line 1

[2018-12-20 09:05] CYBruce commented on #237
@eugenevinitsky May I ask why to set the ring radius between 210 and 270 in the `stabilizing_the_ring.py` instead of a fixed value? And usually how long does it takes to run the code to terminate in a PC? Because I have ran it for 4 hrs but it hasn't ended.

[2018-12-20 09:22] ZhuangDingyi commented on #321
Thanks @eugenevinitsky and sorry for a late update. I tried to install sumo in another way and it did fix the problem. But now I encountered other problems when running examples (SUMO GUI has successfully opened):

`Error: tcpip::Socket::recvAndCheck @ recv: peer shutdown`

I found that _tcpip_ problems appear frequently in SUMO. Do you have any idea about it? Thank you again for your kind respons

[2018-12-20 16:14] eugenevinitsky commented on #321
Hi @ZhuangDingyi,
This is an error message that SUMO prints that we have not yet been able to get rid of but does not seem to actually impede any of our run scripts. Does the simulation actually run?

[2018-12-21 13:08] ZhuangDingyi commented on #321
Hi @eugenevinitsky,
Actually, the simulation just got stuck in the first place when I clicked "run" button. The error message jumped out and the terminal started retrying over and over again. I think I need to focused on the SUMO issue in the following days. If I have any updates, I will let you know. Thanks again for your kind response and merry the upcoming Christmas :P

[2018-12-21 20:12] eugenevinitsky commented on #321
Hi @ZhuangDingyi, oh can you post the whole error message? We should be able to help you. Merry upcoming Christmas!

[2018-12-21 20:12] eugenevinitsky opened #324 "Update example folder README.md with example photos of experiments"

[2018-12-22 21:02] eugenevinitsky commented on #321
@ZhuangDingyi I see! It looks like your Traci version doesn't match your SUMO version. My recommendation, if you are running this in a conda env, go to the main folder and run `python setup.py develop`. Then, check your .bash_rc, or .bash_profile if you are running a mac and make sure that there are no extraneous definitions defining a path to TRACI such as
`PYTHONPATH="$HOME/sumo/tools:$PYTHONPAT

[2018-12-22 21:03] eugenevinitsky opened #327 "Switch the easy install and custom install SUMO order in setup instructions"
The easy_install process for SUMO tends to work more often, so we should push users to do it. @AboudyKreidieh, does this make sense to you?

[2018-12-22 21:49] AboudyKreidieh commented on #327
@eugenevinitsky totally agree, will create a PR for this now

[2018-12-22 22:37] #327 closed

[2018-12-24 02:45] eugenevinitsky opened #332 "Test for straight line crashes/speed mode"
Given a speed mode, can two vehicles collide on a straight road? This would be a useful test for seeing if our speed modes are working correctly.

[2018-12-24 21:44] cathywu commented on #290
I think this may still be an issue? Without ray install, I see the following error on `master`:
[code]

[2018-12-25 00:04] cathywu opened #334 "Add local schema files to OSX SUMO binaries"
Running SUMO with Flow currently requires website lookups for the scheme files. @AboudyKreidieh what do you think about packaging them with the SUMO binaries?

See output like `Warning: Cannot find local schema '/Users/cathywu/sumo_binaries/data/xsd/types_file.xsd', will try website lookup.` below.

[code]

[2018-12-25 00:28] cathywu opened #335 "Tensorflow version requirement"
Do we know what tensorflow version is absolutely required at present?

A few notes:
- `tensorflow=1.10.0` (which is the version in the `environment.yml`) is not backwards compatible on OSX 10.11.6 (El Capitan)
- `tensorflow=1.8.0` is missing the `AUTO_REUSE` flag, i.e. `AttributeError: module 'tensorflow' has no attribute 'AUTO_REUSE'`, which is used by PPO in RLlib.
- `tensorflow=1.9.0` is succes

[2018-12-25 00:48] cathywu opened #336 "[documentation] move ray cluster usage instructions out of 'local installation' section"
Currently the ray cluster usage instructions are hidden in the local install section of our docs. Perhaps move this to the tutorials section. What do you think? @nskh

![screen shot 2018-12-24 at 4 47 27 pm](https://user-images.githubusercontent.com/329117/50408223-a91baf80-079b-11e9-85b5-243985231da0.png)

[2018-12-25 01:32] cathywu opened #337 "Profile performance"
There appears to be a performance hit for very easy examples (like the sugiyama example, where RLlib/tensorflow, etc. are not needed), which takes SUMO a while to load. Any ideas where the slowdown might be? This shouldn't be much slower than running the sumo binary directly. It would be good to profile the performance and see if we are loading extra libraries when they aren't needed.

**Note**: T

[2018-12-25 09:56] AboudyKreidieh commented on #337
@cathywu the slow-down is because we import ray in `flow/envs/multiagent_env.py`. It's something we need to figure out at some point.

[2018-12-25 09:59] AboudyKreidieh commented on #334
@cathywu you can bypass this by adding the path to sumo in a `$SUMO_HOME` environment variable. In our current step instructions, this is added via the `scripts/setup_sumo_XXX.sh` files.

[2018-12-25 22:08] cathywu commented on #334
@Aboudy Kreidieh <aboudy@berkeley.edu>
Thanks for the suggestion, my $SUMO_HOME is actually set. The problem seems
to be that the schema files are not installed at that location.

For instance, here is what my $SUMO_HOME/bin looks like:
[image: Screen Shot 2018-12-25 at 2.04.50 PM.png]

I think this should be fixed by including the schema files along with the
pre-compiled SUMO binaries. Thoughts?

[2018-12-26 05:26] fywu85 opened #342 "ES runner script fails to terminate"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
A clear and concise description of what the bug/question/feature request is.
The ES runner script under flow/benchmarks/rllib fails to terminate. @eugenevinitsky

**To Reproduce**
Leave empty if not applicable.
1. File in which error occurred.
`flow/benchmarks/rllib/es_runner.py`
2. Exact

[2018-12-27 03:09] eugenevinitsky commented on #342
Sorry, this is presuming you've set the number of iterations to 1?

[2018-12-27 03:10] eugenevinitsky commented on #342
Could you add some more information @fywu85, I can't reproduce this error.

[2018-12-27 04:30] eugenevinitsky commented on #335
Hm, unclear. Downgrading to 1.9.0 may be fine; we can just put that into the environment and test that it passes on Travis.

[2018-12-27 04:31] eugenevinitsky commented on #290
I think it might be worthwhile just to add ray to the environment.yml. It slows the setup down by seconds. There isn't actually a reason right now for people to use our custom version of Ray except internally.

[2018-12-27 06:00] fywu85 commented on #342
Hey Eugene, thanks for looking into this. Did you checkout the branch `es-debug`? Are you running on `ubuntu` with `ray 0.5.3`?

[2018-12-27 08:14] cathywu commented on #335
Cool, that's a great idea, thanks for the suggestion. I'll do this next
week unless someone gets to it first.

[2018-12-27 08:20] cathywu commented on #334
Ah I see, there seems to be a small bug here. The osx sumo setup script
creates a sumo_binaries/bin directory, not a sumo_binaries/data directory,
which is where the experiment scripts is looking for the schema files.
Relevant lines reproduced below:

mkdir -p $HOME/sumo_binaries/bin
pushd $HOME/sumo_binaries/bin
wget https://akreidieh.s3.amazonaws.com/sumo/flow-0.2.0/binaries-mac.tar.xz
tar -xf b

[2018-12-28 03:33] AboudyKreidieh opened #345 "Add junction support"
this includes:
- [x] importing connection-specific information (i.e. from/to edges and lanes)
- [ ] names of all junctions
- [ ] lengths of all junctions

[2018-12-28 03:35] AboudyKreidieh opened #346 "Supporting pyglet renderer in Aimsun"
required changes:
- [ ] replace traci calls with generic kernel calls in the renderer
- [ ] add required vehicle methods (e.g. `get_timedetla`, etc...)

[2018-12-28 03:36] AboudyKreidieh opened #347 "Aimsun without GUI"
need to modify the scenario generating script to work without the GUI

[2018-12-28 03:39] AboudyKreidieh opened #348 "Importing OSM files in Aimsun"

[2018-12-28 05:08] KidTrunks commented on #306
@eugenevinitsky Yes it's all good! Thanks!

[2018-12-28 07:48] AboudyKreidieh opened #349 "Custom vehicle properties"
Incorporate the ability to modify the attributes of certain car following properties of vehicles similar to how sumo uses `SumoCarFollowingParams` and `SumoLaneChangeParams`

[2018-12-28 19:26] AboudyKreidieh opened #350 "Store data in csv"
Store the tracking information for all vehicles in a csv files, while using the Flow-specific names for everything (edges, etc...)

[2018-12-28 23:23] AboudyKreidieh opened #351 "Use ODs instead of traffic states"

[2018-12-30 23:33] cathywu opened #353 "Unable to launch ray cluster with Flow"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
A clear and concise description of what the bug/question/feature request is.

I'm not successfully able to launch a ray cluster using our autoscaling script. Is the script and/or docker image up-to-date? I noticed that the autoscaling script has the following line, which indicates a old br

[2018-12-31 00:19] #353 closed

[2018-12-31 00:39] cathywu commented on #353
The issue was that the autoscaling script doesn't naturally support branches from forks of the flow repo. I found a workaround, so I am closing this. On ray, I went in and manually updated ray after a successful launch. We may want to update the AMI.

[2019-01-03 18:41] eugenevinitsky opened #360 "Add lz4, ray, and psutil to environment.yml"
- Ray is used in so many environments that we might as well have it default installed in the environment.yml.
- Once Ray is installed, not having lz4 throws a ton of warnings
- Once Ray is installed, not having psutil throws a ton of warnings

[2019-01-03 18:43] #337 closed

[2019-01-03 19:04] eugenevinitsky opened #362 "Upgrade all rllib experiments to be compatible to Ray 0.6.1"
- [ ] Change visualizer_rllib to construct the env appropriately
- [ ] Move import of get_agent_class to ray.rllib.agents.registry

[2019-01-03 22:48] AboudyKreidieh opened #364 "remove self.scenario from Flow"
Currently there is a scenario kernel names `self.k.scenario` and the old scenario class `self.scenario`, with the latter serving in a sense as a parameter to the former. However, `self.scenario` is called a lot in Flow, and can lead to confusion. Accordingly, we should remove `self.scenario` from everywhere.

[2019-01-03 22:50] AboudyKreidieh opened #365 "Remove cls from custom_start_pos"
Many things in the custom start pos methods called variables within the scenario class (not kernel), and so I had to replace those calls with `cls.network.*`, with network being the scenario class. This is a bit hacky, so needs to be remedied.

[2019-01-04 09:56] KidTrunks opened #369 "'Worker' object has no attribute 'task_index'"
Upon running experiments of tutorial 02, the following errors were encountered:

== Status ==
Using FIFO scheduling algorithm.

Created LogSyncer for /home/python/ray_results/ring_stabilize/PPO_WaveAttenuationPOEnv-v0_0_2019-01-04_20-49-3532b24nc8 ->
Error stopping runner - retrying...
Traceback (most recent call last):
File "/home/python/anaconda3/envs/flow/lib/python3.5/site-packages/ray/tune/ra

[2019-01-04 10:01] KidTrunks commented on #369
Upon running experiments of tutorial 02, the following errors were encountered:

== Status ==
Using FIFO scheduling algorithm.

Created LogSyncer for /home/python/ray_results/ring_stabilize/PPO_WaveAttenuationPOEnv-v0_0_2019-01-04_20-49-3532b24nc8 ->
Error stopping runner - retrying...
Traceback (most recent call last):
  File "/home/python/anaconda3/envs/flow/lib/python3.5/site-packages/ray/tune/

[2019-01-04 21:45] AboudyKreidieh opened #370 "Check for overlaps in starting positions"
People that are using the random start pos method are getting situations where not all vehicles are placed in the network. This might be because of overlapping vehicles, which can also happen in the uniform case if `perturbation` is set to too large a value. This needs to be resolved by checking for overlaps and placing vehicle side-by-side instead then

[2019-01-05 01:45] #279 closed

[2019-01-08 03:01] AboudyKreidieh commented on #369
@KidTrunks thank you for bringing this up! I’ll look into it and get back to you shortly.

[2019-01-08 14:44] MouvementMondial opened #374 "Logfile to analyze the behavior of an agent"
I'd like to better understand why a trained agent acts the way he does. My idea is to use a log file (similar to SUMO's emission-xml). In addition to the SUMO file, this file should contain the following data:

- desired action (acceleration and lane change) of each trained agent for each time step
- action actually performed
- observations etc

I think my trained agent is taking advantage of the

[2019-01-08 14:48] eugenevinitsky commented on #374
Hi @MouvementMondial, we don't exactly have such a function but we have something very close. If you are using rllib the file is flow/visualize/visuallizer_rllib.py and if you are using rllab it is  flow/visualize/visuallizer_rllab.py. You pass it a checkpoint (if rllib) and can use it to replay the agent. It doesn't currently record all the actions and write them to file but you can extend it to

[2019-01-08 15:23] MouvementMondial commented on #374
Hey, thanks for the quick answer! I already looked at the visuallizer_rllib.py file, but missed the crucial loop. I think I can solve it quickly with this approach. Thank you very much!

I think I don't need the evaluation for the training. Most of the time I use C++, i.e. a clean logging class would be difficult for me ;)

As a first attempt I tried to build the _[DeepTraffic](https://selfdriving

[2019-01-08 15:45] eugenevinitsky commented on #374
Oh, this is so great! We were just talking amongst the team about the DeepTraffic task but didn't realize that it could be so cleanly implemented in Flow.
So, a few points to check that may be causing issues here:
1. Are you sure the training has converged? It's possibly not done after 120 iterations. It's worth looking at your reward curve to see if it has flattened out.
2. What speed mode does t

[2019-01-08 15:56] MouvementMondial commented on #374
1) 120 iterations of 20 episodes each. I think this is rather too much

![reward](https://user-images.githubusercontent.com/26592985/50841690-8b3a7700-1365-11e9-9473-0657c1604904.png)

2) no_collide

3) That's exactly the behavior I was trying to achieve.

Have you ever tried to turn off all the safety functions and train them?

[2019-01-08 16:07] eugenevinitsky commented on #374
Oh yeah, that looks converged. So yes, we have turned off all the safety checks and trained it before! You may very well want to do this; the training will take a bit longer but you'll probably get a good deal closer to the results you want. Given how fast it is converging anyways (20 iterations!) it shouldn't be too bad.

[2019-01-08 22:00] fywu85 commented on #369
@KidTrunks Which version of Ray are you currently using?

[2019-01-09 05:31] KidTrunks commented on #369
@fywu85 I am currently using Ubuntu version 18.04.1.
Ray Version -  0.6.0
I Installed ray by-  "pip install -U ray"

Could it be a compatibility issue? Would I need to downgrade Ray or Ubuntu?

Thanks for your help.

[2019-01-12 09:39] AboudyKreidieh commented on #350
resolved by #379

[2019-01-12 09:39] #350 closed

[2019-01-12 09:39] AboudyKreidieh commented on #348
resolved by #379

[2019-01-12 09:39] #348 closed

[2019-01-12 09:39] AboudyKreidieh commented on #347
resolved by #379

[2019-01-12 09:39] #347 closed

[2019-01-12 09:39] AboudyKreidieh commented on #244
resolved by #379

[2019-01-12 09:39] #244 closed

[2019-01-12 19:57] Yasharzf opened #381 "code documentation needs to be fixed"
Code documentation (in readthedocs) just shows the titles and the documentations are missing.

[2019-01-12 20:39] kjang96 opened #382 "Traffic light phases not being set properly"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
Traffic light phases aren't being set correctly. North/South and East/West lights should always be the same color, and opposite of each other (i.e. N/S = green, E/W = red), but currently, I'm seeing phases violating that rule (i.e. all green).

**To Reproduce**
Leave empty if not applicabl

[2019-01-12 20:39] kjang96 commented on #382
I'm going to work on this

[2019-01-14 10:42] ndeshp2s opened #383 "Using pedestrians along with vehicles"
Hello,

I have started using SUMO and FLOW for RL. I have a scenario consisting of pedestrians and vehicles.
SO I wanted to know if its possible to create a new scenario with pedestrians as well in FLOW.

Thank you.

[2019-01-14 17:48] eugenevinitsky opened #385 "Increase line length"
Currently our flake8 checks for lines of length 79 but this is a little too short. What say we increase it?

[2019-01-15 17:45] kjang96 commented on #382
Update: It appears new TraCI is slightly different. Instead of taking in "yyyrrryyyrrrr" in the setRedYellowGreenState function it takes in "yryr". In the bugged out version, it was setting the intersection lights to "yyyr" and truncating the remaining "rryyyrrrr"

[2019-01-15 20:45] eugenevinitsky opened #387 "self.k.vehicle.num_vehicles can go negative"
If you run velocity_bottleneck.py with reset_inflows turned on, after one rollout self.k.vehicle.num_vehicles is negative.

[2019-01-16 01:21] #382 closed

[2019-01-16 05:16] AboudyKreidieh commented on #335
resolved by #352

[2019-01-16 05:16] #335 closed

[2019-01-16 19:23] eugenevinitsky commented on #140
This is actually done.

[2019-01-16 19:23] #140 closed

[2019-01-17 02:35] AboudyKreidieh commented on #383
Hi @ndeshp2s we do not currently have functionality for adding pedestrians, and do not specifically plan on incorporating it some time in the near future. However, if you are interesting in contributing the codebase we would definitely be open to collaborating with you on this! Adding pedestrians will likely be something that needs to be added via the scenario class, similar to inflows and the nod

[2019-01-20 22:33] rohanchandra30 opened #389 "Error loading Tutorial 3 (RLLib)"
Error loading notebook

Unreadable Notebook: /home/rohan/research/flow/tutorials/tutorial03_rllib.ipynb NotJSONError('Notebook does not appear to be JSON: \'{\\n "cells": [\\n {\\n "cell_type": "m...',)

[2019-01-21 01:05] rohanchandra30 commented on #383
I have a related question: Suppose we have defined the dynamics for a new agent, say a motorbike, how can we add the visual graphics for its icon in the GUI? TO put bluntly, how can one get a picture of motorbikes (or any other different agent) in the simulator GUI ?

Would appreciate any help :)

Thanks

[2019-01-21 23:02] AboudyKreidieh commented on #389
hey @rohanchandra30 thank your for pointing this out! I have resolved the issue in a pull request that we will merge soon. In the meantime, please feel free to refer to the branch in PR #390 if you would like to see the tutorial

[2019-01-21 23:06] AboudyKreidieh commented on #383
hi @rohanchandra30 sumo let's you update the path to the image file used by the vehicles, which is not a feature that we currently support but is an easy addition if you are interested in us adding. As far as something more quick and dirty, you can set the colors of individual vehicles, as we do in many of the environments to distinguish between automated, visible to the agent, and unseen by the a

[2019-01-23 05:12] AboudyKreidieh commented on #107
this has been removed by a previous PR

[2019-01-23 05:12] #107 closed

[2019-01-23 05:15] AboudyKreidieh commented on #374
hi @MouvementMondial I'm marking this as resolved, but if you have any more concerns with regards to this please feel free to reopen to create a new issue

[2019-01-23 05:15] #374 closed

[2019-01-23 20:55] kjang96 opened #394 "Visualizer not working due to argparse"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
I'm guessing this is an issue with argparse. The default value for args.render_mode is 'sumo-gui', yet the code doesn't hit the conditional case that sets `sim_params.render = True`. From the ipdb debugger, when you run `p(args.render_mode)`, (all this is is a print function) it prints 'su

[2019-01-25 19:10] AboudyKreidieh commented on #290
The dependency is somewhat resolved and another issue is up for adding ray to the environment.yml file

[2019-01-25 19:10] #290 closed

[2019-01-26 04:29] KidTrunks opened #395 "Error with commandline when running examples/sumo/sugiyama.py"
Versions:
Ubuntu 16.04
Python 3.5

Problem:
The following error codes occur after running examples/sumo/sugiyama.py

Loading configuration... done.
Success.
Error: On processing option '--num-clients':
 No option with the name 'num-clients' exists.
Error: The parameter '1' is not allowed in this context.
 Switch or parameter name expected.
Error: On processing option '--collision.check-junctions':

[2019-01-28 01:04] JeanUCD commented on #395
Hi, I met the same problem, have you figured it out?

[2019-01-28 03:54] KidTrunks commented on #395
Hi @JeanUCD,

Not yet unfortunately. Please let me know if you figure anything out.

Thanks.

[2019-01-28 06:42] KidTrunks commented on #369
Hi, I think this may have been caused by a ray error.

During step 4 Running RL experiments in RAY:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'CPUS' is not defined

Process STDOUT and STDERR is being redirected to /tmp/raylogs/.
Waiting for redis server at 127.0.0.1:26152 to respond...
Waiting for redis server at 127.0.0.1:62596 to respond...
Startin

[2019-01-29 03:43] AboudyKreidieh commented on #395
Hi all, thank you for bringing this up. I will look into it and get back to you ASAP.

[2019-01-29 03:51] AboudyKreidieh commented on #395
Doing some quick research, one issue might be that the sumo version is too out-of-date:

[code]

[2019-01-29 04:12] KidTrunks commented on #395
Thanks for your help. Here is my sumo version:

SUMO Version 0.25.0
 Copyright (C) 2001-2015 DLR and contributors; http://sumo.dlr.de
 License GPLv3+: GNU GPL Version 3 or later <http://gnu.org/licenses/gpl.html>
 Use --help to get the list of options.

[2019-01-29 06:19] AboudyKreidieh commented on #395
Hey, yes that seems to be the issue. Certain options we are calling are only available for sumo version from 0.31.0 and above. I would recommend following our setup instructions to get the current sumo version on your local machine.

Link to setup instructions: https://flow.readthedocs.io/en/latest/flow_setup.html

[2019-01-31 05:56] AboudyKreidieh commented on #395
glad to hear it! let us know if you run into any other issues

[2019-01-31 05:56] #395 closed

[2019-02-01 03:38] AboudyKreidieh commented on #275
Resolved by #294

[2019-02-01 03:38] #275 closed

[2019-02-01 08:57] #237 closed

[2019-02-01 10:44] KidTrunks opened #397 "Aimsun_Next License?"
Hi I have successfully installed Aimsun according to the setup instructions. However, upon testing the installation with:

python examples/aimsun/sugiyama.py

Aimsun licenser pops up requiring an activation key. Therefore I was wondering if it is a must requirement for completing the flow tutorials? If so, how can I go about obtaining a license?

Thanks.

[2019-02-02 00:59] AboudyKreidieh commented on #31
This is a duplicate issue. Removing from the list

[2019-02-02 00:59] #31 closed

[2019-02-02 01:02] #101 closed

[2019-02-03 00:37] harryprince commented on #19
I think flow sketch can look like this:
<img width="709" alt="screen shot 2019-02-03 at 8 33 41 am" src="https://user-images.githubusercontent.com/5362577/52170942-c4141300-278e-11e9-8bf4-095beabe386d.png">

[2019-02-03 09:46] harryprince opened #399 "Add Bicycle and Parking Area Support"
Wish flow enable bike sharing simulation.

* http://sumo.dlr.de/wiki/Simulation/Bicycles
* https://github.com/lcodeca/PyPML

[2019-02-03 14:00] ae137 opened #400 "Tutorial03 (rllib) fails to run due to Exception: Unknown config parameter `sgd_batchsize`"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [X] Bug report

**Describe the issue**
I wanted to run the rllib tutorial from https://github.com/flow-project/flow/blob/master/tutorials/tutorial03_rllib.ipynb . However, it fails with the following error message (in 4.4 Running Experiments)

== Status ==
Using FIFO scheduling algorithm.
Resources requested: 0/2 CPUs, 0/0 GPUs

[2019-02-04 17:28] FarshadKoohifar opened #401 "Rllib is configured to use just one CPU thread."
**Observation**
When I install Flow as described [here](https://flow.readthedocs.io/en/latest/flow_setup.html), I get a conda environment that cannot build Ray through the recommended `python setup.py develop`:

[ 65%] Built target raylet_client
[ 65%] Built target ray_objlib
Makefile:138: recipe for target 'all' failed
make: *** [all] Error 2
Traceback (most recent call last):
  File "setup.py",

[2019-02-04 18:31] FarshadKoohifar opened #402 "Docker image is outdated"
**Observation**
The following log file is created by running the Docker image that is provided as "latest". I have used the following commands to get it and run it.
`docker pull lucasfischerberkeley/flowdesktop`
`docker run -d -p 5901:5901 -p 6901:6901 -p 8888:8888 lucasfischerberkeley/flowdesktop`
I have run the following command inside the Docker container:
python flow/examples/rllib/green_wave.

[2019-02-04 20:08] FarshadKoohifar opened #403 "Unused methods in green_wave.py"
**Observation**
In [green_wave.py](https://github.com/flow-project/flow/blob/master/examples/rllib/green_wave.py), `gen_edges(row_num, col_num)` method is only used by `get_flow_params(col_num, row_num, additional_net_params)` which is not used at all.

**Question**
Why do we have these methods and how would I use them?

[2019-02-05 00:09] AboudyKreidieh commented on #397
hey @KidTrunks an aimsun license is only needed for the aimsun-specific components. These features are mostly self-contained, and so you should be able to run all other tutorials without experiencing any issues. I will try add a link on how an aimsun license can be acquired to the setup instructions later today, but in general you do not have to worry about this unless you want to work with aimsun

[2019-02-05 00:14] AboudyKreidieh commented on #397
According to this link: https://www.aimsun.com/support-services/support/

[code]

[2019-02-05 02:13] AboudyKreidieh commented on #403
hi @FarshadKoohifar the gen_flow_params method is supposed to allow inflows of vehicles from the periphery edges instead of initializing the network with many vehicles. This is a really good point though! I will update this today with a variable that simplifies the use of this mehod.  More very soon.

[2019-02-05 02:18] AboudyKreidieh commented on #401
Hi, we are transitioning to using pip to install ray, which I recommend you go for (specifically ray==0.6.0). A new update is in the works to support this throughout the repo, including updating the setup instructions.

[2019-02-05 02:31] AboudyKreidieh commented on #397
Yup, that’s right!

[2019-02-05 02:58] KidTrunks commented on #397
I understand, thank you for the clarification. You may close it now!

[2019-02-05 03:48] AboudyKreidieh commented on #397
Glad that helped!

[2019-02-05 03:48] #397 closed

[2019-02-05 04:34] #360 closed

[2019-02-05 04:38] AboudyKreidieh commented on #306
resolved by #300

[2019-02-05 04:38] #306 closed

[2019-02-05 04:38] AboudyKreidieh commented on #307
resolved by #300

[2019-02-05 04:38] #307 closed

[2019-02-05 05:15] #318 closed

[2019-02-05 19:03] #381 closed

[2019-02-05 23:05] AboudyKreidieh commented on #400
hey @ae137 thank you for bring this up. The tutorial is out-of-date with respect to the current version of ray we are using (0.6.1). There is a new PR up to resolve this. Feel free to use it in the meantime! (see #408)

[2019-02-06 02:32] #403 closed

[2019-02-06 02:33] FarshadKoohifar commented on #401
I will test and report back as soon as I can.

[2019-02-06 08:18] fywu85 commented on #402
Hey, thanks for asking! To answer your questions:

1. The reason is very likely to be that the docker image is outdated. The root reason has to do with the underlying SUMO version and the internal configuration of the speed mode and lane change mode.
2. It is behind the master for about six months. We are truly sorry. We should have updated this long time ago. We will try to resolve the issue asap

[2019-02-06 10:41] #402 closed

[2019-02-07 08:20] niyathipriya commented on #400
Hello @AboudyKreidieh .. Thank you for mentioning the change. It was very useful for me as well. I have tried to run the example with the new code lines but still I couldn't run it. It is giving the similar error saying "NotJSONError('Notebook does not appear to be JSON: \'{\\n "cells": [\\n {\\n "cell_type": "m...',) ".  Is there something else which I have to do it apart from these changes?

[2019-02-08 06:25] AboudyKreidieh commented on #399
hi @harryprince sorry I missed this! I've been looking through the github repository you shared, and it seems that this could probably be coupled with the kernel abstractions in Flow to support the relevant features, although it would not be trivial as there is some overlap between our API and the one presented here. If you are interested in discussing how this could be done, I can share my though

[2019-02-08 07:29] AboudyKreidieh commented on #242
unlikely to happen soon; punting

[2019-02-08 07:33] AboudyKreidieh commented on #43
this is a duplication of #324 and #169

[2019-02-08 07:33] #43 closed

[2019-02-12 03:57] harryprince commented on #399
Thanks, I found Lara's job, which builds some citywide vehicle parking scenarios.

*  https://github.com/lcodeca/MoSTScenario
* https://github.com/lcodeca/LuSTScenario

[2019-02-13 23:48] FarshadKoohifar commented on #401
It looks like everything is working as intended.

Thanks

[2019-02-13 23:48] #401 closed

[2019-02-14 21:49] FarshadKoohifar opened #410 "rewards.py division by zero"
In [rewards.py](https://github.com/flow-project/flow/blob/02ff96331283aeb4a0f1c6de15dbba638a4501b3/flow/core/rewards.py), division by zero is not checked. e.g `def min_delay_unscaled` method would be revised to something like this:
[code]

[2019-02-15 18:50] AboudyKreidieh opened #411 "more expressive releases"
our releases should look more like this: https://github.com/bazelbuild/bazel/releases

[2019-02-15 22:59] AboudyKreidieh commented on #410
hey @FarshadKoohifar thank you for the suggestion! If you'd like to contribute this into flow, I'd be happy to review and merge it; otherwise, I'd be happy to add this to the repository myself. Will give you a few days to respond :)

[2019-02-15 23:02] AboudyKreidieh commented on #399
hi @harryprince, interestingly enough we had been working on these (at least LuST) in the past. To my recollection, the integration was very close to complete. I will talk to some people and see what the progress was on this. More very soon!

[2019-02-15 23:04] AboudyKreidieh commented on #242
re-opening this, since there is some interest on it (see #399)

[2019-02-16 00:35] FarshadKoohifar commented on #410
Hi @AboudyKreidieh, I do not want to create my own fork and make a pull request from my fork. Maintaining that fork would be a pain. I do not know a good way to contribute, besides that ugly option that leads to my maintenance of my own fork.
If you know how to do it correctly, let me know.
But for now, here is the new rewards.py that is robust against instances of empty network:
[code]

[2019-02-16 22:14] AboudyKreidieh commented on #410
hey, this looks great! I'll create a PR about it now. thank you for doing this

[2019-02-16 23:06] #410 closed

[2019-02-16 23:48] FarshadKoohifar opened #413 "[low priority] A lot of warning spam in the stdout"
There are a lot of warning spams that are generated when I run my code on 44 CPUs. (My server is a monster node with 48 virtual cores). Most of the following warnings repeat for each Tune worker that is spawned.
This excessive amount of spam leads to me scrolling and skimming a lot to find my line of interest.
I would love to contribute to eliminate these spams. I understand that most of the warni

[2019-02-17 04:08] AboudyKreidieh commented on #159
this should no longer be an issue since we install ray from pip

[2019-02-17 04:08] #159 closed

[2019-02-18 03:48] #413 closed

[2019-02-18 06:30] AboudyKreidieh commented on #163
This is redundant, so removing.

[2019-02-18 06:30] #163 closed

[2019-02-19 11:29] MouvementMondial commented on #394
Argparse works. The argument has been overwritten. I have created a pull-request.

[2019-02-19 22:54] KidTrunks opened #418 "Tutorial04_rllab - AttributeError: 'Monitor' object has no attribute '_close'"
Versions:
Ubuntu 18.04
Tried with python 2 python 3

Problem:
The following error code occurs after running experiment:

Loading configuration... done.
Success.
WARNING: lz4 not available, disabling sample compression. This will significantly impact RLlib performance. To install lz4, run `pip install lz4`.
Loading configuration... done.
2019-02-20 09:28:26.084209 AEDT | [training_example_2019_02_2

[2019-02-20 13:04] pnp91 opened #419 "rllib example after changing scenario"
This is a:
- [x] Question
- [x] Feature request

**Describe the issue**
Reusing the example of rllib(tried with stabilizing highway.py) with different scenario and environment but with the same algorithm. Used 5 "human"(IDM Controller) vehicles and 5 "rl"(RL Controller) vehicles. Did the following changes from the example:
1. Changed the scenario and environment to bottle neck scenario and bottle

[2019-02-21 10:26] AboudyKreidieh commented on #419
hi @pnp91 I looked into this and it seems that `BottleneckEnv` is not designed to be used by RL experiments, but rather just for simulations; instead, you will want to use `BottleNeckAccelEnv`. This environment, however, seems to be missing some features. I've created a PR meant to fix these bugs (see the branch bottleneck_env_fix). From this branch, the following script (adapted from stabilizing_

[2019-02-21 10:34] AboudyKreidieh commented on #418
hi @KidTrunks I believe your experiment did successfully run to completion. The error instead seems to be coming from the RL library rllab when it tries to terminate the environment after everything is complete. I will look into this and see if I can get rid of the bug, but rest assured your experiment was fine!

[2019-02-22 02:01] #324 closed

[2019-02-22 02:02] #365 closed

[2019-02-22 08:40] KidTrunks commented on #418
Ahh I see. Thank you for the clarification.

You may close it now!

[2019-02-22 13:15] pnp91 commented on #419
Hello @AboudyKreidieh
Thanks a lot for the help. It worked for me. My experiment was successful. But I have a doubt. Why can we not add an inflow for vehicle type "rl"? Why is it removed? I tried running with it. But I was not successful. I want to is there a rule for the inflows to add

[2019-02-25 06:31] zihao0821 opened #421 "sumo-1.1.0 traci changes"
[ Bug report ]
The latest sumo-1.1.0 have modified traci-server, which results in errors when running flow.

The code "flow/core/kernel/vehicle/traci.py".
In line 98: vehicle_obs = self.kernel_api.vehicle.getSubscriptionResults()
When running demos, it will report "TypeError xxx" and quit.
When I change line 98 into "vehicle_obs = self.kernel_api.vehicle.getAllSubscriptionResults()", then it's fin

[2019-02-25 07:55] fywu85 commented on #302
@eugenevinitsky This is the default design in gym (see [here](https://github.com/openai/gym/blob/master/gym/spaces/tuple_space.py)). When you were referring to _clipping a tuple_, what type of behavior do you want to impose? If you could provide a spec detailing the exact inputs and outputs, I am happy to implement it!

[2019-02-25 08:03] #342 closed, assigned to fywu85

[2019-02-25 08:10] FarshadKoohifar opened #422 "Incorrect traffic_light initialization in green_wave_env.py"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
In [green_wave_env.py](https://github.com/flow-project/flow/blob/master/flow/envs/green_wave_env.py), line 101:
[code]
This assumes three traffic lights per edge, which is not correct. Running this results in three green lights in on three edges and one red light which is clearly not inten

[2019-02-25 21:51] AboudyKreidieh commented on #421
hi @zihao0821 the master branch does not currently support sumo 1.1.0; however, there is a PR in the works to remedy this (see the branch `new_sumo_pr`). Feel free to use this in the meantime, as we are actively trying to resolve this PR and will have it merge hopefully within the next week or two

[2019-02-25 21:56] AboudyKreidieh commented on #419
hi @pnp91 sorry for the late reply. The issue is just a matter of the way the environment was written. Some other environemnts, however, do allow you to have an unfixed number of automated vehicles, see for example `WaveAttenuationMergePOEnv` in flow/envs/merge.py

Also, I noticed i didn't reply to your original question about details for creating custom environments. For that, I suggest you look

[2019-02-26 04:31] eugenevinitsky opened #423 "how to scale up number of agent in multi-agent environment #4161"
I want to execute /flow/examples/rllib/multiagent_exps
When the av agent is one, it works well. However, increasing the number of av agents to two or more causes this problem.
How can I run on more than two agent?

============error log================

Loading configuration... done.
Success.
Loading configuration... done.
WARNING:ray.services:Failed to start the UI, you may need to run 'pip insta

[2019-02-26 04:32] eugenevinitsky commented on #423
@owoo919 we've moved the issue here and someone should get to it by morning!

[2019-02-26 09:22] pnp91 commented on #419
Hi @AboudyKreidieh I sincerely thank you so much for taking out your time and helping a beginner as me. I know as a novice, my doubts may sound unwanted and simple. But still, thank you for taking out your time to help me understand. I appreciate a lot.

Also, I had gone through these tutorials and was trying to develop my own scenario with new environment and train with a new algorithm. So I want

[2019-02-26 13:52] pnp91 commented on #419
@AboudyKreidieh Can I use a different algorithm instead of PPO as mentioned in all the examples of rllib? I wish to use A3C algorithm and had changed the snippet of code parameters as follows:

def setup_exps():

    alg_run = "A3C"

    agent_cls = get_agent_class(alg_run)
    config = agent_cls._default_config.copy()
    config["num_workers"] = N_CPUS
    config["sample_batch_size"] = HORIZON *

[2019-02-28 14:24] pnp91 opened #433 "Unidentified warnings when using bottleneck. Feature request for description"
After training the Bottle neck scenario, I have few doubts in understanding and analyzing. If someone could help me understand, it would be highly appreciated. I encountered some warnings and it took so much time to start the training. During this time, it was giving warnings as follows:
--------------------------------------------------------------------------
Warning: Vehicle 'flow_0.111' ends t

[2019-02-28 19:40] lucfisc opened #434 "Traffic light control with RL"
@AboudyKreidieh

In the branch Meng-Master ( for minicity). We tried to add Traffic light by using
(tl_logic.add("n_i4", tls_type="actuated", programID=1)) to rllib/minicity.py/flow_params (via a tl_logic dict), the traffic light n_i4 wasn’t being recognized and we would get a ‘traffic light not found’ error.

The solution was to change that node’s type to ‘traffic_light’ in in scenarios/minicity.

[2019-02-28 23:07] AboudyKreidieh commented on #422
hi @FarshadKoohifar thanks for the catch! I'll create a PR about this now

[2019-02-28 23:12] AboudyKreidieh commented on #419
hi @pnp91, first of happy to help whenever you need it! some details may not be very well documented, and issues like these help us identify some of the missing components in our codebase. Also, in terms of the A3C thing, can you share your new script (at least the A3C component) so that I can try it locally?

[2019-02-28 23:16] AboudyKreidieh commented on #433
hi @pnp91 I'll create an issue about adding some more documentation to the bottleneck environment and see if we can resolve it in the next few days. As for the first issue, @eugenevinitsky do you know how to prevent collisions in this network?

[2019-02-28 23:17] AboudyKreidieh commented on #423
@owoo919 sorry of the delay! will look into this now and get back to you in the next few hours

[2019-03-01 08:17] pnp91 commented on #423
Even I face the same issue.

[2019-03-01 10:53] pnp91 commented on #419
Hello @AboudyKreidieh thank you for your reply. Regarding A3C, I have now succeeded in implementing it. I will share the code as well. As per my investigation, I have realized that the problem was with the hyper parameter "train_batch_size". As per 'A3C-specific configs' stated in documentation [,](https://ray.readthedocs.io/en/latest/rllib-algorithms.html) it requires "sample_batch_size" paramete

[2019-03-03 06:32] AboudyKreidieh opened #436 "expanded documentation for bottleneck environments"
things that need to be documented:

- [x] BottleneckEnv: `additional_command`
- [x] BottleneckEnv: `ramp_meter_lane_change_control`
- [x] Bottleneck: `alinea`
- [x] Bottlneck: `apply_toll_bridge_control`
- [x] Bottleneck: `distance_to_bottleneck`
- [x] Bottleneck: delete `get_bottleneck_outflow_vehicles_per_hour`
- [x] Bottleneck: `get_bottleneck_density`
- [x] Bottleneck: `get_avg_bottleneck_velo

[2019-03-03 06:37] #422 closed

[2019-03-03 18:51] #418 closed

[2019-03-03 18:54] AboudyKreidieh commented on #433
as an update, I started documented and testing some of the features in this environment in PR #437, but unfortunately do not know too much about this environment. Will try to assign this to someone soon

[2019-03-03 18:56] AboudyKreidieh commented on #400
the fix has been merged into master, so closing. If you have any other questions, feel free to start another issue or reopen this one

[2019-03-03 18:56] #400 closed

[2019-03-03 18:58] AboudyKreidieh commented on #419
hi @pnp91 you are correct! the parameters tend to change from algorithm to algorithm in rllib. For those I would generally recommend looking into their documentation: https://ray.readthedocs.io/en/latest/rllib-algorithms.html

[2019-03-03 19:22] AboudyKreidieh commented on #434
hi @lucfisc from the way the runner script is written, I think u need to add this starting from line 116:

[code]

tested it locally and it works. hope this helps!

[2019-03-05 08:20] #387 closed

[2019-03-05 22:33] #394 closed

[2019-03-06 01:47] FarshadKoohifar opened #442 "Env cannot signal the end of a run."
**Choose an option**
This is a:
- [ ] Question
- [x] Feature request
- [ ] Bug report

**Describe the issue**
Environments that inherit from Env, should be able to indicate that they have reached the end of their simulation time line.
For instance, consider a situation in which I am simulating the peak hour. After that period is over, I do not want to continue simulation, and intend to raise "done

[2019-03-06 02:13] eugenevinitsky commented on #442
Hi @FarshadKoohifar, would it just be sufficient to set the horizon to be the length that you want?

[2019-03-06 02:21] FarshadKoohifar commented on #442
Hi @eugenevinitsky,
Which horizon? I am referring to [Env](https://github.com/flow-project/flow/blob/master/flow/envs/base_env.py) that does not have any clean way to return done as True.
I had to override the whole step() and add this at the end:
```done = crash or self.steps < self.time_counter```
Are you referring to the same Env?

[2019-03-06 12:29] FarshadKoohifar opened #443 "Only one route is allowed from any given starting edge"
In the [base_scenario.py](https://github.com/flow-project/flow/blob/master/flow/scenarios/base_scenario.py), it is mentioned:

I need to have vehicles that start from the same edge, be able to turn either way when they come to an intersection. I assume this is a popular feature, so please let me know what is the reason for this prohibition and how I can contribute to solve it.

[2019-03-07 02:56] happybyr opened #446 "Do you have another docker image available in China?"
Well , I want to use flow to do some research. I try to pull the docker image as you write in your doc. But it often stop and no longer pull in the middle of the process. I try many times but still fail. I try to install in my own computer but it invoke so many problem that I can't sovle. So did you have another docker image available in China? Or a virtual machine file that already installed all

[2019-03-08 04:20] fywu85 opened #448 "Relax dependencies in requirements.txt"
**Choose an option**
This is a:
- [ ] Question
- [x] Feature request
- [ ] Bug report

**Describe the issue**
A clear and concise description of what the bug/question/feature request is.
Should we relax dependencies in requirements.txt from `==` to `>=`?

**To Reproduce**
Leave empty if not applicable.
1. File in which error occurred.
2. Exact command that was run that caused the error to occur.
3

[2019-03-08 05:31] kev-chien opened #449 "Pip install ray in readthedocs"
I believe the new recommended way to install ray is now `pip install ray`, wanted to clarify if this change should be made to the docs. If so I can submit a PR.

[2019-03-08 06:36] fywu85 commented on #446
Hi @happybyr, for now, you may try to build the docker image using [this](https://github.com/flow-project/flow/blob/docker_0.3.0/Dockerfile), which is a part of #450.

[2019-03-08 22:05] kjang96 opened #451 "SimpleGridScenario bug causes wrong number of start pos"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
In scenarios/grid.py >> class SimpleGridScenario's `gen_custom_start_pos` method on line 578, the per_edge variable forces the number of vehicles on each edge to either be identical, or produces fewer start positions if total_vehicles % (row_num+col_num)*2 != 0 (i.e. if the expression on t

[2019-03-08 22:05] kjang96 commented on #451
In progress

[2019-03-10 04:22] happybyr commented on #446
Thank you so much. I have install the Flow successful. Another question ,I run the tutorial_03,  I modify the source code to call the "sumo-gui",  but it often stop run in 50.1s and must be restarted,  I want to see the further behavior or the car.Fow example, extends the simulation time to 300s.  So which parameter should I modify? I just can't find it. I have tryed the 'horizon' and some other p

[2019-03-10 10:32] ae137 commented on #400
Thanks for fixing!

[2019-03-11 01:09] happybyr opened #454 "How to extend the train/run time?"
I run the tutorial_03, I modify the source code to call the "sumo-gui", but it often stop run in 50.1s and must be restarted, I want to see the further behavior or the car.Fow example, extends the simulation time to 300s. So which parameter should I modify? I just can't find it. I have tryed the 'horizon' and some other parms but didn't work.

[2019-03-11 01:09] #446 closed

[2019-03-12 08:47] #19 closed

[2019-03-12 08:51] AboudyKreidieh commented on #443
hi @FarshadKoohifar you can specify different routes from the same starting edge by using a routing class, see: https://github.com/flow-project/flow/blob/master/flow/controllers/routing_controllers.py

One example of multiple routes originating from the same edge can be seen in `BayBridgeRouter`, where the route from lanes 2 on edge "183343422" is supposed to be different from the default.

[2019-03-12 08:56] #451 closed

[2019-03-12 09:00] AboudyKreidieh commented on #454
hi @happybyr with rllib experiments, two gui's are opened, the first to register the environment and runs one step (since there are 50 warmup seconds the first training step is at 50.1s), and then the second window to open the environment where training occurs. Are you receiving two windows when you run this? if so everything should be working for you

[2019-03-12 09:02] AboudyKreidieh commented on #449
The installation instructions was modified to say this before:

[code]

Do you think this is sufficient? If not, feel free to create a PR!

[2019-03-12 09:04] AboudyKreidieh commented on #448
We talked about this offline. My thought is as long as it is not affecting anything negatively, we stick to our current setup.

[2019-03-12 09:04] #448 closed

[2019-03-12 09:04] #411 closed

[2019-03-12 09:17] AboudyKreidieh commented on #442
hi @FarshadKoohifar I created a PR to resolve this. see #457

[2019-03-12 09:20] AboudyKreidieh commented on #423
hi, I could not reproduce this error. can you try updating to the newest version of Flow and try again? If you are still getting this issue, please share the version of the packages in `requirements.txt`

[2019-03-12 23:02] kev-chien commented on #449
Ah my bad I didn't read carefully enough, this is fine! I might tweak it to be clearer.

[2019-03-13 09:11] happybyr commented on #454
hi @AboudyKreidieh . I get 2 windows when I run the experiment. Do you mean that increase the `warmup_step` attribute can extend the train time? I increase it and it works. But when pass more than 200s, the red car disappears. I know that the red car mean the autodrive car. I don't know if it's a common result. Or maybe some other params need to be modify?

[2019-03-13 09:29] happybyr commented on #454
Another question. I get the Flow toolkit from `docker pull` command. But it seem that many code in the docker image are different with you git repo. Why this happeded?

[2019-03-14 00:14] umangs94 commented on #434
Hey, I tried this but I am still seeing errors. I committed my code to _meng_tl_issue_.

`Traceback (most recent call last):
  File "/Users/umang/ray/python/ray/worker.py", line 856, in _process_task
    *arguments)
  File "/Users/umang/ray/python/ray/function_manager.py", line 481, in actor_method_executor
    method_returns = method(actor, *args)
  File "/Users/umang/ray/python/ray/rllib/evaluat

[2019-03-15 07:18] KidTrunks commented on #418
Hi @AboudyKreidieh ,

Sorry for coming back to the same issue again, but I don't think the simulation run to it's completion.

After playing with # of rollouts and times steps the simulation on the SUMO gui always terminates at 50 seconds. I have attached a screenshot for you to see and the error code is the same as previous.

I apologise in advance if everything was fine like you said, but it is

[2019-03-15 15:08] Exorcismus opened #462 "Load sumo.cfg file"
is it possible to load a network using a sumo.cfg file ?
as my network has route files (route.rou.xml) and additional files (addFile.add.xml)

[2019-03-15 15:36] Exorcismus opened #463 "Error running the Oakland-San Francisco Bay Bridge on Windows"
can flow run on windows ?
Traci.py throws error in functions `self.sumo_proc = subprocess.Popen(
                    sumo_call, preexec_fn=os.setsid)`
`AttributeError: module 'os' has no attribute 'setsid'`
and so in `killpg`

[2019-03-15 17:49] FarshadKoohifar commented on #443
Thanks a lot!

[2019-03-15 17:49] #443 closed

[2019-03-15 17:51] FarshadKoohifar commented on #442
Thanks.

[2019-03-15 17:51] #442 closed

[2019-03-15 18:13] Exorcismus opened #464 "How to implement route.rou.xml in flow"
how can I simulate/introduce/convert the below line into flow code

[code]

[2019-03-19 05:15] AboudyKreidieh commented on #462
hi @Exorcismus in regards to your comment, Flow does allow you to import custom .net.xml files, but we have not previously implemented methods to add sumo.cfg files as well. Are the route and additional files used similar to the ones we generate? If so, there may be a quick fix for this. Feel free to share your files (or snippets of them) if you'd like to me check!

[2019-03-19 05:18] AboudyKreidieh commented on #463
We do not actively support installing our software on windows machines; however, people have installed it using Windows 10's Ubuntu console feature. I would warn though that it tends to be slow, so if you don't want to replace Windows with Ubuntu or duel boot, I'd recommend [creating a virtual machine](https://itsfoss.com/install-linux-in-virtualbox/) and running Flow from there.

[2019-03-19 05:20] AboudyKreidieh commented on #454
hi @happybyr sorry for the late reply! For your first issue, can you share with me your Flow git commit number and ray version so that I can try to recreate what you are seeing. As for the second issue, @fywu85 can you look into this?

[2019-03-19 05:24] AboudyKreidieh commented on #464
hi @Exorcismus this goes back to your previous comment. there is a PR in the works to do something similar. Essentially, in this case we create a route called "route0_0" in the scenario's `specify_routes` method and assign it the aformentioned edges, then use traci's `addFull` method in the environment to add the vehicle with that route at that depart time. If this is a bit unclear, I will try to

[2019-03-19 06:32] happybyr commented on #454
I got the Flow from `docker pull lucasfischerberkeley/flowdesktop` directly. I just want to know how can I extend the train time. Actually I run the rllab example in your tutorial folder.  The ideal result should be `We witness that, after some training, that the autonomous vehicle learns to dissipate the formation and propagation of "phantom jams" which form when only human driver dynamics is inv

[2019-03-19 20:22] AboudyKreidieh opened #467 "add examples to visualizer tutorial"

[2019-03-19 23:11] Exorcismus commented on #462
Hi @AboudyKreidieh , thanks for your answer, here is a snippet of my additional files

`<additional>

<tlLogic id="Bank-Albert" type="static" programID="AM Peak" offset="55">
        <phase duration="21"  state="rrrGGGG"/>
        <phase duration="5"   state="rrryyyy"/>
        <phase duration="29"  state="GGGrrrr"/>
        <phase duration="5"   state="yyyrrrr"/>
    </tlLogic>

	<tlLogic id="Ban

[2019-03-19 23:21] Exorcismus commented on #464
in the example, how can I specify the `depart` param, as seen below in the tutorial snippet, I can only assign the edges

`class myScenario(myScenario):  # update my scenario class

    def specify_routes(self, net_params):
        rts = {"edge0": ["edge0", "edge1", "edge2", "edge3"],
               "edge1": ["edge1", "edge2", "edge3", "edge0"],
               "edge2": ["edge2", "edge3", "edge0",

[2019-03-20 03:12] CYBruce opened #468 "params.json FileNotFound although the file does exist in Ubuntu14.04"
**Choose an option**
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

**Describe the issue**
I trained a bottleneck environment for 200 iterations and I got the ray_results correctly. Then I want to visualize it using visualizer_rllib.py. I had done this before successfully on my Mac, but this time I can't make it work in Linux Ubuntu14.04. The error reason said the params.json fi

[2019-03-20 06:20] #468 closed

[2019-03-20 21:10] AboudyKreidieh commented on #332
Closed the associated PR, so closing this as well.

[2019-03-20 21:10] #332 closed

[2019-03-21 14:42] DMarcelAM opened #470 "specify_routes with an osm file"
Hello,
I'm trying to collect scenario data from an OpenStreetMap file, but I don't know how to get the rts for the specify_routes function from the osm file. How can I do this?

Thank you for your time and the framework, it's great.

[2019-03-21 19:22] fywu85 commented on #454
Hi @happybyr I apologize. The docker image you are using is very outdated. Can you run a `git pull` to update your flow inside the docker?

Meanwhile, you mentioned that when you change `HORIZON=100`, the experiment time does not increase. Theoretically, increasing `HORIZON` should work. Have you restarted your jupyter notebook kernel after the change? It is likely that the change you made did not

[2019-03-21 23:37] #449 closed

[2019-03-22 00:04] kev-chien opened #471 "RLlib post-training print full command to visualize checkpoint"
**Choose an option**
This is a:
- [ ] Question
- [x] Feature request
- [ ] Bug report

**Describe the issue**
After training using RLLib, it would be nice to have a command to visualize the results trained outputted/ pretty-printed right after. For instance, "run `python flow/..../visualizer_rllib.py <path in ray_results> 1` to visualize agent training", where the path to ray_results is the correc

[2019-03-22 03:04] happybyr commented on #454
ok, I'll try. But you'd better update your docker image.

[2019-03-22 03:23] happybyr commented on #454
I tryed it. But there are many library incompatible. Bad experience!

[2019-03-22 06:24] fywu85 commented on #471
This should not be impossible. I will look into this.

[2019-03-22 06:35] fywu85 opened #472 "Enable renderer in headless mode"
**Choose an option**
This is a:
- [ ] Question
- [x] Feature request
- [ ] Bug report

**Describe the issue**
Enable renderer in headless mode so that it can be easily used in various window-less environments (travis, ec2, binder).

[2019-03-22 06:38] fywu85 commented on #346
@AboudyKreidieh The renderer does not invoke kernel in any way. In fact, all it requires are several lists and params. If you can specify how to add required vehicle methods, I can help with this one.

[2019-03-22 06:39] fywu85 commented on #298
@kanaadp Has this been resolved?

[2019-03-22 06:50] fywu85 commented on #463
@Exorcismus I was able to successfully run `examples/sumo/bay_bridge.py` on my Windows Linux Subsystem (WLS). The command you see is explained [here](https://stackoverflow.com/questions/38083168/attributeerror-module-os-has-no-attribute-setsid). Perhaps you are running this with native Windows python environment? Why not try doing it with WLS if you do not want to duel boot/virtual machine?

[2019-03-22 10:45] CYBruce commented on #454
@fywu85 I think above question can be solved by increasing the `HORIZON`. However, I have another question about `visualizer_rllib.py`. I have trained a bottleneck environment and I want to visualize it. But it always stops at 771s. It gave the information

 Then I checked the code, found this in `visualizer_rllib.py`.

So I change 'config['horizon']' and 'env_params.horizon' to the horizon I want

[2019-03-22 11:22] CYBruce opened #473 "Allowing lane change can cause collision in bottleneck environment"
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

**Describe the issue**
I want to allow cars to change lanes in the bottleneck scenario.
I have adjusted the lane change mode several times (1621, 256 and others). However, if the inflow outnumbers 1700veh/h, there will have collisions in the experiment. I wonder if there exists a collision avoidance method for lane changing?

[2019-03-22 11:46] CYBruce commented on #471
Visualize the learning curve might be a good option.

[2019-03-22 15:06] nancyhwr opened #474 "what's the meaning of each variable in one state"
I have a simple question. I checked the initial state under the loop scenario, take one as an instance:
      `'rl_0': ('rl', 'top', 0, 55.71428571428572, 0)`

I wonder what each variable represents here?  Where can I find the state explanation under each scenario? My reward function is defined based on the states and actions so that knowing their meanings would help. Thank you!

[2019-03-22 17:45] fywu85 commented on #471
@CYBruce Do you know that you can visualize the learning curves using `tensorboard --logdir ~/ray_results`?

[2019-03-22 17:51] fywu85 commented on #473
Which SUMO version are you at? Newer ones tend to have better collision avoidance implementation. LMK if the following helps:
[code]
And use lane change mode of `0b011001010101` and speed mode of `0b11111`.

[2019-03-22 17:52] AboudyKreidieh opened #475 "document all attributes in classes"

[2019-03-22 17:54] AboudyKreidieh commented on #474
hi @nancyhwr the values are, in order:
- vehicle type: 'rl'
- starting edge: 'top'
- starting lane (0 if rightmost): 0
- starting position on edge (in meters): 55.71428571428572
- starting speed (in m/s): 0

[2019-03-22 18:42] nancyhwr commented on #474
Thank you @AboudyKreidieh !

[2019-03-22 18:42] #474 closed

[2019-03-22 21:00] nancyhwr opened #476 "ray tune error with multiagent policy graph"
My error happens in the run_experiments(), specifically

[code]
My code is based on the mutliagent example "multiagent_stabilizing_the_ring" project. Bascially, I want to try multiple RL CAVs on the same ring road with a shared PPO policy. Please let me know if I understood something wrong. Different with that example, I set

[code]
policy graph part was kept the same:

[code]
Additionally, it's s

[2019-03-22 21:24] eugenevinitsky commented on #476
Hi @nancyhwr, unfortunately the actual error is probably further up in the log. Could you attach the entire output? That'd be really helpful for debugging.
The shared policy is defined on the single-agent states and actions. If you want to make it otherwise, you would need to modify it. Happy to help with that if that's what you want.

[2019-03-22 21:43] nancyhwr commented on #476
I was stupid, I wen to the ray results and I saw this:

I used "WaveAttenuationPOEnv" under the Multiagent Scenario, that's why the ray execution threw an error. So I changed back to "MultiWaveAttenuationPOEnv" and set the num_ring = 1, I guess this is the only way that I can use single-ring with MAS, right?
Thank you @eugenevinitsky .  Could I also ask what's the 'av' mean in this

`policy_graphs

[2019-03-22 21:57] nancyhwr commented on #476
Should I just change the policy graph like

`policy_graphs = {'shared_ppo': (PPOPolicyGraph, joint_obs_space, joint_act_space)}
`

and I guess I need to overload the get_state and get_action funcs. Please correct me if I'm wrong.

[2019-03-22 22:53] AboudyKreidieh commented on #346
we need to abstract any calls to `traci_connection` to kernel calls, so that similar methods can be implemented with aimsun. Then we will have to implement them in aimsun and see if it works

[2019-03-23 01:50] CYBruce commented on #473
@fywu85 Thank you for your help. My Sumo version is v0_31_0-812-g1d4338a. I will try the above method and I will let you know if it works. By the way, would you please have a look at another question at issue #454?

[2019-03-23 04:02] CYBruce commented on #473
@fywu85  I followed the shell code you given above. In the last sentence 'make', error happens.
'user@user--Super-Server:~/sumo/build/cmake-build$ make
[  3%] Built target utils_gui_windows
[  3%] Built target foreign_phemlight
[  3%] Built target foreign_tcpip
[  3%] Built target generate-version-h
[  3%] Building CXX object src/gui/CMakeFiles/gui.dir/GUIViewTraffic.cpp.o
In file included from /h

[2019-03-23 04:30] eugenevinitsky commented on #476
Hi @nancyhwr , sorry for the delay.
So, I'm going to answer your questions but just so you're not blocked by me, a really good resource is the RLlib multi-agent docs which have a bunch of examples: https://ray.readthedocs.io/en/latest/rllib-env.html#multi-agent-and-hierarchical

So there are two components to defining a multi-agent environment: defining the policy's (i.e. what are the states and a

[2019-03-23 04:31] eugenevinitsky commented on #473
Hi @CYBruce, with lane changing mode 1621, you do get lane changes but they should be extremely infrequent and the experiment should not crash as a result of the crashes. Are you getting that the experiment is crashing?

[2019-03-23 05:11] CYBruce commented on #473
@eugenevinitsky Yes, I notice that when the inflow rate is more than 1700veh/h, there will be a crash. Could there be other reasons?

[2019-03-23 05:31] eugenevinitsky commented on #473
Could you log the error? That shouldn't happen.

[2019-03-23 05:43] CYBruce commented on #473
Sure. Thank you for the help. I changed some places in the example bottlenecks.py.
The sumo report
'''
Loading configuration... done.
***Starting server on port 40756 ***
Loading net-file from '/home/user/flow/flow/core/kernel/scenario/debug/cfg/bay_bridge_toll_20190323-1338041553319484.7853382.net.xml'... done (1ms).
Loading additional-files from '/home/user/flow/flow/core/kernel/scenario/debug/c

[2019-03-23 05:44] fywu85 commented on #284
Hi This totally falls through the cracks. I added the Dockerfile in the binder branch but could not successfully open it after build. Can you look at the issue [here](https://github.com/jupyterhub/binder/issues/158)?

[2019-03-23 05:49] fywu85 commented on #473
@CYBruce To address the build error, can you `conda install ffmpeg` and retry?

[2019-03-23 05:59] CYBruce commented on #473
@fywu85 Still gives the same error.

[2019-03-23 06:04] CYBruce commented on #473
Below is the bottlenecks.py. I changed the inflow_rate, lane changing mode and speed mode.
[code]

[2019-03-23 14:11] nancyhwr commented on #476
Thank you so much @eugenevinitsky. I saw the article that you linked on the Bair blog too,  your explanation untangled my mind a lot. And yes, I am trying to make a centralized controller within a small range so that the joint action and space won't be too large.

[2019-03-24 01:51] fywu85 commented on #284
OK, the issue is resolved. Now the new problem is that Traci could not establish valid TCP connection when running on Binder. A most recent Binder build can be accessed [here](https://mybinder.org/v2/gh/flow-project/flow/binder). Will need to resolve this if we want to make it work on Binder. Working on it now.

[2019-03-24 23:31] eugenevinitsky commented on #476
Ah, glad that helped. So, for each policy graph you can just construct your desired action space as is currently done in the action_space and observation_space methods in the MultiWaveAttenuationEnv. For example, if you want to control two accelerations at once, you might make the action space Box(low=min_accel, high=max_accel, shape=(2,)) which will tell the policy graph to have two values as the

[2019-03-26 20:30] mynkpl1998 opened #484 "Error Connecting to sumo via TraCI"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
I am trying to run the tutorial named as "Running Sumo Simulations". However, I am getting the traci connection error. The internal Sumo Error is given below.
[code]

**To Reproduce**
Full Error Stack
[code]

**Desktop (please complete the following information):**
 - OS: LUbuntu 16.04 LTS

[2019-03-27 02:47] CYBruce commented on #473
Hi, @eugenevinitsky . Is this issue a bug or did I do something wrong?

[2019-03-28 01:53] AboudyKreidieh commented on #470
hi @DMarcelAM sorry for the late reply! The edges can be collecting from the SUMO simulation or from the osm file. I have created a new tutorial on using osm files, and made some modifications to allow it to be simpler to use from scratch. See the new tutorial (tutorial07_osm) in the branch associated with PR #486 for more. This will be merged soon too. Hope it helps!

[2019-03-28 09:58] MouvementMondial commented on #476
I also have a question regarding shared policies, which I could not answer with the ray-docs... If I have two RL-vehicles, both mapped on the same policy. I set "policies_to_train" to the only existing policy.

From which RL-vehicle are the experiences gathered and included in the training? Do I suppose correctly that the batches are collected from the experiences of both vehicles?

[2019-03-28 14:43] eugenevinitsky commented on #476
That is correct; batches are collected from both RL vehicles and used for the training.

[2019-03-28 16:02] eugenevinitsky opened #487 "Multiagent visuallizer is broken"
Ray has updated their visuallizer to work correctly with multi-agent and LSTMs. We need to port it over:
https://github.com/ray-project/ray/blob/master/python/ray/rllib/rollout.py

[2019-03-28 16:19] nancyhwr commented on #476
Thank you very much! (sorry for the late answer) @eugenevinitsky

[2019-03-29 08:26] binderwang opened #488 "Error when using new_sumo_pr branch"
When using the latest new_sumo_pr branch with SUMO version 1.1.0, test with sugiyama.py, I got this error

[code]
As I added `self.vehicles = scenario.vehicles` in `flow/envs/base_env.py`, everything is OK.

[2019-03-30 07:08] AboudyKreidieh opened #489 "remove no_internal_links"
This feature is sumo-specific and only needed by the loop scenario. Would be better to remove it.

[2019-03-30 12:59] CYBruce opened #491 "The reset function in the bottleneck env have bugs"
**Choose an option**
This is a:
- [ ] Question
- [x] Feature request
- [x] Bug report

**Describe the issue**
From my point of view, the `reset()` function in the bottleneck env keep all other network parameters match the previous except the inflow rate. So the `AV_FRAC` should not change. But in the `reset()` function, the `AV_FRAC` is replaced with 0.1. If users use a different `AV_FRAC` like 0.

[2019-03-30 18:10] AboudyKreidieh commented on #462
hi @Exorcismus sorry for the late reply! We've been off here for the past week. From what I'm seeing these files have to do with the traffic light properties. In that case, I would recommend exporting this information from the xml files using something like `lxml` and then passing this data to `TrafficLightParams`. For more on this, see PR #492, where we did this for vehicles

[2019-03-30 18:11] AboudyKreidieh commented on #464
hi @Exorcismus, as of PR #492 you can do this by simply specifying the route file under the `template` attribute in `NetParams`. Let me know if you need help with this.

[2019-03-30 18:16] AboudyKreidieh commented on #484
hi @mynkpl1998 this is an error that i've experienced before but still can't pinpoint. One solution I've had for this in the past is to uninstall sumo (i.e. delete the sumo_binaries folder) and reinstall it (run `scripts/setup_sumo_ubuntu1604.sh`) after you have run `source activate flow`. The environment might be causing some issues when trying to find some packages

[2019-03-30 18:17] AboudyKreidieh commented on #488
hi @binderwang thank you for this update. I will fix the branch in a bit and get back to you on this

[2019-03-30 18:18] AboudyKreidieh commented on #491
hi @CYBruce thank you for pointing this out. I will get someone to add this feature soon

[2019-03-31 01:02] CYBruce commented on #491
Thank you @AboudyKreidieh . I will be a master student at Tsinghua-Berkeley Shenzhen Institute in September, so we have some connections. Perhaps I will go to Berkeley in 2020 for a master degree. I am willing to do some help with flow project. We can keep in touch. BTW, I am using flow to do some experiments for my graduation thesis and I really appreciate your job.

[2019-04-01 02:23] AboudyKreidieh commented on #488
@binderwang the branch has been cleaned for some bugs. it should be functional now

[2019-04-01 02:31] AboudyKreidieh commented on #491
@CYBruce all great to hear! And thank your kind words and support in finding these features and bugs. If you'd like to get in touch with us, you can send us a personal email, see: https://flow-project.github.io/contact.html

[2019-04-01 16:37] #55 closed

[2019-04-01 23:44] fywu85 commented on #454
@CYBruce Can you elaborate more why it does not work? I not quite sure how to handle this but if I were you I would try replacing the following line
https://github.com/flow-project/flow/blob/4a3731c876fbb305133f4a2826354c8677a9399c/flow/visualize/visualizer_rllib.py#L198
with something like `for _ in range(custom_horizon):`.

[2019-04-03 18:14] nancyhwr opened #494 "How to distribute RL vehicles uniformly?"
How to add multiple RL vehicles among human-driven vehicles so that they distributed evenly or uniformly? Currently, I iteratively add several human-driven vehicles with a unique id first and one RL vehicle with an id and so on.

Is there any smarter approach that I can take? Thank you!

[2019-04-04 15:52] DMarcelAM commented on #470
Hi @AboudyKreidieh, thanks to your tutorial I have my network. The networks comes with some traffic lights but I want to delete some of these and add others. I want to add the traffic lights via TrafficLightParams but I don't know the nodes ID. Could you give some help please?

[2019-04-04 19:01] AboudyKreidieh commented on #494
hi @nancyhwr your approach is the cleanest way of doing it, and we've used the same approach before, see: https://github.com/flow-project/flow/blob/master/flow/benchmarks/figureeight1.py

[2019-04-04 19:02] nancyhwr commented on #494
Oh, gotcha. Thank you @AboudyKreidieh !

[2019-04-04 19:02] #494 closed

[2019-04-08 17:56] amztc34283 commented on #108
Was this solved?

[2019-04-10 16:18] nancyhwr opened #496 "Multi-agent MultiLoopScenario RL actions issues"
I'm trying the multiloop scenario, currently set the NUM_RING = 1 and the action is box(1, ) type.
Then I added more than 1 RL vehicles, take 3 RL vehicles as an example:

in `multiagent_envs/loop/wave_attenuation.py: _apply_rl_actions`:
the RL action mapped to each RL vehicle is a vector with the length of the total number of RL vehicles instead of a vector with length = 1, so that the action (ac

[2019-04-10 21:26] nancyhwr commented on #496
I kept the common policy graph so all rl vehicles update a common policy if this makes more sense.

[2019-04-10 21:35] nancyhwr opened #497 "How to craft the iteration output"
I guess I haven't fully understood the FLOW work mechanism, just wondering where can I craft the output after each iteration. I mean this output: (basically I'm trying to output the average velocity of a given traffic flow). Thank you!!!

[code]

[2019-04-12 11:55] hyyh28 opened #499 "The green_wave task go wrong when I use DQN"
When I use DQN algorithm to train the green_wave task, I find in the training log, the episode rewards are all NaN. I have read the issues in the ray project and found that if the config['timesteps_per_iteration'] is not equal to the simulator steps, it will be that, but I have make it equal to the simulator steps which is 200 but I still go wrong, so I want to get your help. Here is the picture
!

[2019-04-12 12:12] hyyh28 commented on #499
And when I user A3C algorithm, there still have this problem, I think may be some bug in the base_env because I add `print(self.time_counter)`in the step function, I find the reset function dosen't work.

[2019-04-12 14:27] hyyh28 commented on #499
Sorry I have found that I missed the parameter config['horizon'], and now I have solved the problem

[2019-04-12 14:27] #499 closed

[2019-04-14 00:02] thanos91 opened #500 "compute_reward in TrafficLightGridEnv inconsistent with its documentation"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
In TrafficLightGridEnv the function compute_reward is documented to be the negative per vehicle delay minus a penalty for switching traffic lights, but only the second part is implemented.

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following i

[2019-04-14 19:01] AboudyKreidieh commented on #470
Hi @DMarcelAM I am not sure if you can do it from Flow as of yet, but you can modify the xml file using sumo's `netconvert` method and then run the subsequent xml file in flow (see the tutorial on template files in PR #492)

[2019-04-16 06:46] pnp91 opened #501 "FLOW adding new algorithm through Rllib"
**Choose an option**
This is a:
- [x] Question
- [x] Bug report

**Describe the issue**
I have added new algorithm named SAC inside agents folder of Rllib to access it as a predefined algorithms like ddpg,ppo e.t.c. But when I add it, I am getting the following errors. Is there any possible way which  I can get out of it? I have also added it inside the 'flow' env created in anaconda environments.

[2019-04-16 20:29] AboudyKreidieh commented on #501
hi @pnp91 it looks like the issue may be a missing config variable, namely:

[code]

Can you look into whether you are not providing this input to the config file? If so, we can discuss this again from there.

[2019-04-16 20:38] AboudyKreidieh commented on #500
hi @thanos91 thank you for bringing this up! should be resolved as of #503

[2019-04-16 20:43] AboudyKreidieh commented on #497
hi @nancyhwr sorry for the late response! I'm not sure I understand the question. If you would like to see the results that are logged from an experiment, you can check the `ray_results` folder. Moreover, you can visualize results by following this documentation: https://flow.readthedocs.io/en/latest/visualizing.html. Hope this helps! If it doesn't answer your questions, please feel free to clarif

[2019-04-16 20:44] AboudyKreidieh commented on #496
hi @nancyhwr trying to reproduce the bug now. Will get back to you once I have a fix.

[2019-04-16 20:55] AboudyKreidieh commented on #497
another note: based on the title of your issue, if you'd like to add information to the step logs, that would probably need to be done from the RL algorithm side of things (in your case RLlib).

[2019-04-17 00:49] DMarcelAM commented on #470
Thanks for the great idea @AboudyKreidieh . I used sumo's netedit tool based on netconvert method to adjust my network with GUI. Now that I have all the traffic lights I needed, I want to control some of these traffic lights via RL. Should I create a custom enviroment similiar to green_wave_env.py to train some of the traffic lights of my network? Because I want to have both static and RL controll

[2019-04-18 00:48] AboudyKreidieh commented on #470
yes, you will likely need to create a modified version of the green_wave_env.py environment. You may need to change the states and actions to make the names of the traffic lights you are interested in.

[2019-04-20 02:13] AboudyKreidieh commented on #488
closing this as it's been resolved. feel free to reopen or start a new issue if you have any questions @binderwang!

[2019-04-20 02:13] #488 closed

[2019-04-20 02:15] #500 closed

[2019-04-21 15:00] tbinetruy commented on #484
I've just upgraded my Ubuntu to 19.04 from 18.04 LTS and get the same error. Ubuntu 18.04 has Sumo 0.32 in its repo whereas 19.04 has 1.1.0. On the sumo repo, I found the following issue: https://github.com/eclipse/sumo/issues/4617, and since Flow mention to `git checkout 1d4338ab80` the sumo repo, if Sumo was installed or updated from Ubuntu recently or that sumo was compiled before checking out,

[2019-04-23 13:56] pnp91 commented on #501
Hey @AboudyKreidieh, thank you so much for your reply. Sorry I had to get back to you late due to my experiments. I have tried introducing new parameter lamba as you have suggested. It works now partially with few examples of Flow except for figure_eight.py. It starts failing after a certain time running only min of 7 successful training iterations. Vehicles keep teleporting due to increased numbe

[2019-04-23 23:32] eugenevinitsky commented on #501
Hi @pnp91 did you install SUMO via our binary? This is a bug in an old version of SUMO that we have patched in the binary. Basically, once a certain number of time-steps is taken, SUMO bugs out.

[2019-04-24 14:10] pnp91 commented on #501
@eugenevinitsky  Thank you for your reply. Yes. I have installed through the set up given through this link https://berkeleyflow.readthedocs.io/en/latest/flow_setup.html#sumo
But problem still persists. I am using Ubuntu 18.04. Could it be a problem with version?

[2019-04-25 09:46] TNelen opened #510 "extra vehicle parameter"
Hi,
I'm doing some experiments training an RL agent for the gird0 scenario, using visualizer_rllib, to visualize the results.

Is it possilbe to visualize kpi's other than the reward, average speed and outflow?
I'm looking for kpi's like, average waiting time and total waiting time. I can't find any parameters like these built in in the scenario.

Where do i need to look for these, or is there any

[2019-04-26 06:53] AboudyKreidieh commented on #510
Hi @omitoz, you have a few options to do this:

* If you would like to compute these parameters during the simulation, you can create a new environment that prints the parameters, for example:

[code]

* If you would like to compute the parameters after running the simulations, you can generate an emission path by setting `SumoParams.emission_path` to a valid path and then using the generated emis

[2019-04-26 06:57] AboudyKreidieh commented on #501
hi @pnp91 older versions of sumo have this bug. You can see how to fix it here: https://github.com/flow-project/flow/blob/master/docs/sumo-depart-time-issue.md

Note that this is a bit outdated, but you should be able to find the same line, and replacing it with the recommended line should fix the problem. Hope this helps! Let me know if it doesn't work.

[2019-04-26 23:11] kjang96 opened #511 "FLOW Internal Wiki"
Create internal onboarding documentation including, but not limited to: Github workflow, team expectations, community interaction guidelines.

@ashkan-software is on setting up the wiki
@kjang96  is on gathering the onboarding docs

[2019-04-27 00:27] ashkan-software commented on #511
This is great. Let's come up with what we need for each of them. Maybe assign @eugenevinitsky to tell us what we need to community interaction guidlines?

[2019-04-27 00:33] ashkan-software commented on #511
I created this for now. We can populate it with links, information, etc.
https://github.com/flow-project/flow/wiki/Flow-Internal-On-boarding-Guideline

[2019-04-27 00:34] ashkan-software commented on #511
Sorry. Correct link is:
https://github.com/flow-project/flow/wiki/Flow-Internal-Onboarding-Guideline

[2019-04-29 09:35] pnp91 commented on #501
Hi @AboudyKreidieh Thank you so much for this advise and it really helped a lot after I changed it:)

[2019-05-09 10:19] WonteakLim opened #518 "rllab error"
**Choose an option**
This is a:
- [ X ] Question

**Describe the issue**
When I executed the rllab example, I faced to the following problem.
Could you explain why this problem occurs?

**Output**
/home/limpython3/anaconda3/envs/flow/lib/python3.5/site-packages/theano/tensor/signal/downsample.py:6: UserWarning: downsample module has been moved to the theano.tensor.signal.pool module.
  "downsample

[2019-05-10 09:25] AaronLiuSy opened #519 "visualization"
**Choose an option**
This is a:
- [ *] Question
- [ ] Feature request
- [ ] Bug report

**Describe the issue**
when I run the tutorial of visualization(rllab/plotting reward),there is a error no such a progress.csv file in my gym_log, and when I check all my training results,I found that I do not have any csv files in my gym_log.
Is there any problem in my training process?

**To Reproduce**
Leave

[2019-05-10 20:48] AboudyKreidieh commented on #518
hi @WonteakLim thank you for pointing this point. there is a compatibility bug with the master branch of rllab-multiagent. you can fix this (temporarily), by checking out the `aboudy_patch` branch:

[code]

I will try to get the patch to master soon.

[2019-05-12 23:26] ashkan-software commented on #109
When I run the grid scenario for a long time, I get:
"traci.exceptions.TraCIException: Departure time in the past."

Here is the full log:
File "/Users/ashkany/Documents/GitHub/flow/examples/rllib/multiagent_exps/DQN/run_this.py", line 199, in <module>
    run_grid(writer, file)
  File "/Users/ashkany/Documents/GitHub/flow/examples/rllib/multiagent_exps/DQN/run_this.py", line 144, in run_grid

[2019-05-12 23:28] ashkan-software commented on #109
@maheshmurag Did you ever resolve the "Departure time in the past."?

[2019-05-12 23:34] ashkan-software commented on #511
Internally working on it...

[2019-05-12 23:34] #511 closed

[2019-05-14 11:40] pnp91 opened #522 "Increasing the number of vehicles in Figure Eight scenario"
**Choose an option**
This is a:
- [x] Question
- [x] Feature request

**Describe the issue**
Figure eight scenario only accommodates a maximum of 14 vehicles in Flow. Even if I give more than this, it is not effective. But I am planning to extend this to 100 vehicles involving RL and human vehicles. I just want to know the reason behind this limitation to be able to apply in a real world scenario.

[2019-05-15 03:37] eugenevinitsky commented on #522
Yes, you can absolutely combine multiple scenarios or increase the length of the roadway to accommodate more vehicles. If you point me at the specific scenario we can try and figure out the exact change you would need to make.

[2019-05-15 03:41] eugenevinitsky commented on #519
Hi @AaronLiuSy, apologies that you're having this issue. We don't use rllab-multiagent very much anymore, but are looking into this to see if we can reproduce it. Did the experiment actually complete? Was there other output before this point?

[2019-05-15 03:57] AaronLiuSy commented on #519
I guess the training process has completed, with the attachment, I will show you the package which include the output,   and those files are all result I got from every training.
Another question is how can I get the average velocity of this system after training? Now I'm trying to stabilizing the ring road(single lane), I have gotten a large amount of data and plotted the graph of average velocit

[2019-05-15 23:35] AboudyKreidieh commented on #519
hi @AaronLiuSy you should be able to find the progress.csv file in `rllab-multiagent/data/local/`, and choosing the folder with the experiment that you ran.

In terms of visualizing the average speed, you can run the checkpoints after training is complete using `flow/visualize/visualizer_rllab.py`. If you add the tag `--gen_emission`, it will create a csv file with the state of all vehicles at eve

[2019-05-16 22:18] #242 closed

[2019-05-16 22:55] #476 closed

[2019-05-16 22:58] #470 closed

[2019-05-16 23:04] #434 closed

[2019-05-16 23:08] #433 closed

[2019-05-17 17:22] #144 closed

[2019-05-17 17:23] #182 closed

[2019-05-17 17:24] AboudyKreidieh commented on #176
Not needed since we are deprecating rllab

[2019-05-17 17:24] #176 closed

[2019-05-17 17:25] AboudyKreidieh commented on #196
This is a duplicate of #32

[2019-05-17 17:25] #196 closed

[2019-05-17 17:26] AboudyKreidieh commented on #241
Moved to a separate planning document

[2019-05-17 17:26] #241 closed

[2019-05-17 17:29] AboudyKreidieh commented on #272
Moved to a separate planning document

[2019-05-17 17:29] #272 closed

[2019-05-17 17:30] AboudyKreidieh commented on #48
Moved to a separate planning document

[2019-05-17 17:44] AboudyKreidieh commented on #186
We have not had any issues reported about incompatibility of binaries. Closing for now

[2019-05-17 17:44] #186 closed

[2019-05-17 17:54] AboudyKreidieh commented on #464
the mentioned PR has been merged, so closing. If you are still having issues with this please feel free to reopen this or start a new issue!

[2019-05-17 17:54] #464 closed

[2019-05-17 17:58] AboudyKreidieh commented on #184
This is redundant with a few other issues, so closing

[2019-05-17 17:58] #184 closed

[2019-05-17 18:08] AboudyKreidieh commented on #243
@fywu85 did you meet with @ashkan-software and update the setup instructions in the website?

[2019-05-17 18:11] AboudyKreidieh commented on #233
this PR is stale, closing

[2019-05-17 18:11] #233 closed

[2019-05-17 18:11] fywu85 commented on #243
Not yet. Sorry, I was not aware of this. Will check this with Ashkan right now.

[2019-05-18 00:32] AboudyKreidieh commented on #419
assuming this has been resolved, so closing. feel free to open a new issue if anything else emerges!

[2019-05-18 00:32] #419 closed

[2019-05-18 00:36] AboudyKreidieh commented on #236
this has been moved to a different tracking document, so closing here

[2019-05-18 00:36] #236 closed

[2019-05-18 00:39] #497 closed

[2019-05-19 11:23] AboudyKreidieh commented on #88
This doesn't look like it will work out. Fortunately most of us use Macs, so we should be able to keep up with the build like that.

[2019-05-19 11:23] #88 closed

[2019-05-20 13:13] pnp91 commented on #522
@eugenevinitsky Thank you so much for your kind reply and I deeply regret and apologize for delay in my response. My main goal is to accommodate more autonomous vehicles in figure eight scenario. And not to restrict to 14 vehicles. A solution for this, I have identified to merge the scenarios inorder to increase the capacity of ring. I will definitely try increasing this and get back to  you in-ca

[2019-05-20 13:55] eugenevinitsky commented on #522
Sounds good! You should also be able to increase the ring length parameter, which should give you more space to stick extra vehicles in.

[2019-05-20 14:51] pnp91 commented on #522
Oh yes I am aware of this parameter but wasn't aware that it can hold extra vehicles in. Thank you so much for the solution. That sounds a good option. And especially thanks a lot for timely constant support and encouragement, explaining us with all patience without ignoring. I have noticed it many times and feel so happy for this pro-active support from Team Flow. Kudos!!

[2019-05-22 09:11] pnp91 opened #526 "addition of many RL vehicles in a given scenario and activate render only after an instance"
Hello,
I have added more number of RL vehicles in the example "cooperative merge" distributively. But I have noticed that, my agents which I have added, does not accelerate much when compared with 'human' vehicles. Because of this, there are many collisions which leads in teleporting and the agent doesn't train well.
1. I have tried with the sumocarfollowing parameters 'speed_factor', 'speed_dev'

[2019-05-23 22:04] AboudyKreidieh commented on #526
Hi @pnp91, in response to your questions:

1. The RL vehicle might be colliding because your `minGap` value is too small. I would recommend taking it up to a larger value, say around 2. You can also consider increasing your `tau` value to around 0.5 or 1. Tuning thee values and possibly others may be key for you to avoid collisions.
2. To visualize the policy after training (with the renderer on),

[2019-05-26 10:58] #364 closed

[2019-05-26 12:59] yurunsheng1 commented on #321
Hi, I meet the same problem when running the examples/sumo/sugiyama.py in **Pycharm**:
[code]

But it is fine when using **Terminal** to run the code. I have no idea why this occurs.......

Thank you!

[2019-05-27 06:35] pnp91 commented on #526
Hi @AboudyKreidieh :
1. I have already checked with these parameters and was not much visible difference. Hence I tried with speed_factor and speed_dev as well. But it did not help.
2. If I am correct, visualize is only for viewing one checkpoint and not from a particular point till end of training, right?. Yes I have already used 'visualize' after training is completed. But only for visualizing p

[2019-05-27 12:47] sotte opened #529 "Remote control traffic lights via TraCI"
**Choose an option**
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

**Describe the issue**
I want to control the traffic lights with keyboard inputs via TraCI.

Let's assume I run (a slightly changed version of) `examples/sumo/grid.py`. With a hypothetical `remote_control.py` I want to control the traffic lights.
According to the [TraC PythonI](https://sumo.dlr.de/wiki/TraCI/Int

[2019-05-27 18:16] eugenevinitsky commented on #529
Hi @sotte, just to make sure I'm understanding correctly, you want to make it so you can control a traffic light switch via a keyboard press? If so, this isn't something we've built out but I actually happen to have a branch that shows how to do it; not for traffic lights but for cars. If you look at this branch: https://github.com/flow-project/flow/tree/user_control you should be able to modify t

[2019-05-27 18:46] eugenevinitsky commented on #529
I should add that this is a very neat thing to have for tutorials, and if you do happen to develop a way to control traffic lights by key press, we would love to merge it in.

[2019-05-28 07:09] sotte commented on #529
@eugenevinitsky exactly, I want to control the traffic light via a keyboard press (or a car, or anything really). I have a hacky version of a custom acceleration controller that listens to key presses in a sep. thread and determines the acceleration of a car (directly returns the acceleration without using TraCI). I was about to do the same for the traffic lights, but the structure for traffic lig

[2019-05-28 14:47] eugenevinitsky commented on #529
Hi Stefan, this might suggest that we need a refactor of the traffic lights class to make it simpler to use since it’s easy to do this for cars but hard for traffic lights. Do you have thoughts on what this might look like since you’ve messed around with it a bit?

Also, yes, there is a way to connect TrACI scripts. There is a SumoParam called num_clients that causes SUMO to block until it receive

[2019-05-30 14:25] Antonio-Dominguez commented on #518
I have exactly the same problem! Do you have any news?

[2019-05-30 14:32] Antonio-Dominguez commented on #518
I have exactly the same problem! Do you have any news?
I do not understand why this does not work. Could you please help me out with this? I'd really appreciate that. @AboudyKreidieh @WonteakLim
When I execute the last code box of _tutorial09_environments_ this is the message I get:

[2019-05-30 15:31] AboudyKreidieh commented on #526
hi @pnp91:

1. You can avoid collisions altogether by setting `speed_mode` to "all_checks"; however, that may lead to some unrealistic behavior by vehicles on the main highway. Other values for the `speed_mode`, say 9, may also do the trick for you.
2. I don't think sumo supports rendering for only a subset of simulations, as you must call specific binaries that either include the gui or not befor

[2019-05-30 15:33] AboudyKreidieh commented on #518
hi @Antonio-Dominguez I don't think you shared the entire log, can you run it again and let me know? If this is it, it's possible the script ran properly.

[2019-05-30 15:37] AboudyKreidieh commented on #321
Hi @yurunsheng1 sorry for the late reply! My best guess is pycharm is having difficulty finding the sumo binaries, hence the error message:
[code]
You may want to look into this online, there may be suggestions about how to mix it.

[2019-05-30 15:44] Antonio-Dominguez commented on #518
Hello @AboudyKreidieh. That was all the output I could see when executing the last piece of code in the notebook.
I get a similar error when I execute the example _green_wave.py_ with this command:
`python examples/rllab/green_wave.py`

You'll find attached the complete log I get in the console. I've tried several times to integrate **flow** with **rllab** but it doesn't seem to work properly.

[2019-06-02 10:51] sotte commented on #529
Hey Eugene,

I haven't figured out a clean way/a way that makes me happy to control the traffic lights, but I'll keep you posted. Thanks for pointing out the TraCI setup!

If you're going to change the interface for traffic lights, I think the interface should be similar to vehicles and their controllers. Maybe something like this:
[code]

Maybe this separates the logic for `Actuated` and `Static`

[2019-06-04 15:17] bmwilly opened #534 "Installing sumo on macOS: libproj not loaded"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
Following the [install instructions](https://flow.readthedocs.io/en/latest/flow_setup.html#installing-flow-and-sumo) leads to the error
[code]

**To Reproduce**
Follow the install instructions up to the command `sumo --version`.

**Expected behavior**

**Screenshots**

**Desktop (please co

[2019-06-04 23:31] mtgibson2014 opened #536 "Removing Obsolete Reward Function in reward.py"
Hi all,

These are the only functions in reward.py that are being used by the environments:

- rewards.desired_velocity
- rewards.rl_forward_progress
- rewards.min_delay_unscaled
- rewards.boolean_action_penalty
- rewards.penalize_headway_variance

I could go ahead and remove the ones that aren't being used, but I wanted to make another suggestions. Do y'all think it'll be better to remove this fi

[2019-06-05 06:36] AboudyKreidieh commented on #536
@mtgibson2014 thanks for doing this! From my end, the only reward I'd like to keep that is not being used by any environment is:

* rewards.punish_rl_lane_changes

We used this for the multi-lane ring road experiments, which I at some point want to recreate in flow.

[2019-06-05 16:58] DMarcelAM opened #537 "RL traffic lights in sumo imported network"
Hello,
I have imported a sumo network file (net.xml) and I want to train RL traffic lights in this scenario. In order to do this I have create a custom scenario (with the routes) and  a custom enviroment (based on green_wave_env) to train the RL traffic lights. But I am getting some errors.

Here is the  code I used (based on green_wave example):

[code]

Here are the errors I get:

[code]

I have

[2019-06-05 18:58] alt113 commented on #534
Check the following [post](https://stackoverflow.com/questions/56466395/libproj-not-loaded-while-installing-sumo-on-macos) on StackOverflow for a fix.

[2019-06-06 00:45] kjang96 commented on #536
I'd like to keep average_velocity, min_delay, penalize_standstill, penalize_near_standstill. These are all used in my experiments, but I haven't merged the code into master yet.

[2019-06-06 08:43] bmwilly commented on #534
@alt113 thanks, but as listed in my issue description, I tried that and it doesn't work.

[2019-06-06 12:15] cspatharis opened #538 "Colliding Vehicles"
**Choose an option**
This is a:
- [X] Question
- [  ] Feature request
- [  ] Bug report

Hello,
I created a scenario and disabled all checks in order to be possible to have collisions between vehicles. Also, when a collision happens, the two colliding vehicles transport from the scenario and the rest of the cars continue until the end of episode steps. My question is, if there is a way to get the

[2019-06-06 19:57] AboudyKreidieh commented on #534
hey @bmwilly, so in terms of linking problems, I do not personally have experience installing these things in mac, but maybe @eugenevinitsky @kjang96 @nathanlct might know? (If so, please feel free to respond guys).

If the solution is you need to rebuild sumo from source, then you can follows [our instructions](https://flow.readthedocs.io/en/latest/flow_setup.html#optional-direct-install-of-sumo-

[2019-06-06 19:59] #522 closed

[2019-06-06 20:00] AboudyKreidieh commented on #462
Closing this for now. Feel free to reopen if needed!

[2019-06-06 20:00] #462 closed

[2019-06-06 20:06] AboudyKreidieh commented on #518
hi @WonteakLim sorry for the late reply! Looking through the log, specifically

[code]

It looks like the issue might have something to do with a specific variable you added (perhaps the numbers are set to, for example, 3.0 instead of 3). I've had this issue before, but not sure if with rllab. It might actually be numpy tha is causing the issues here. I'd recommend trying to add an `int()` wrapper

[2019-06-06 20:06] #421 closed

[2019-06-06 20:14] AboudyKreidieh commented on #538
hi @cspatharis the names of the collided vehicles are acquired during the `update` method in flow/core/kernel/vehicle/traci.py via the `sim_obs[tc.VAR_TELEPORT_STARTING_VEHICLES_IDS]` variable (see line 121).

To get the names of the colliding vehicles, you can store them under a new class variable in this file (say `self.collided_ids`) then call it in the environment via the vehicle kernel, e.g.

[2019-06-06 20:21] AboudyKreidieh commented on #536
great, thanks kathy! that leaves:

* rewards.total_velocity
* rewards.punish_small_rl_headways
* rewards.punish_queues_in_lane
* rewards.reward_rl_opening_headways

unless @eugenevinitsky has any objections, feel free to remove them.

also, @kjang96 can you create an issue about adding your experiments to the repo? We can add it to a later release, and if you're too busy to do it we can probably g

[2019-06-06 20:53] AboudyKreidieh commented on #537
hi @DMarcelAM I feel like the issue might have something to do with your definition of the `observation_space` or `action_space` variables in your environment. In order to help me reproduce your bug, would you be able to share these methods as well? Thank you!

[2019-06-06 21:36] DMarcelAM commented on #537
[code]

[2019-06-06 22:30] AboudyKreidieh commented on #537
Ah, I see. I believe that since you are using a template, and thereby not originating the network with a set number of vehicles, `self.scenario.vehicles.num_vehicles` is initialized to 0, resulting in the size bug. You can consider replacing these variables with a fixed (non-zero) number and that should do the trick.

Let me know if it doesn't work and I'll be happy to iterate through this with yo

[2019-06-06 22:37] AboudyKreidieh commented on #529
hi @sotte thanks for the suggestion! I definitely like the idea of separating the traffic light controllers the same way we did for the vehicle controllers. @kjang96 think you can start a perhaps detailed issue about how we can go about this? We can then consider assigning it to someone in future releases.

[2019-06-07 00:02] kjang96 commented on #536
@AboudyKreidieh yes, will add the issue!

[2019-06-07 00:07] kjang96 opened #540 "Merge in roundabout experiments"
[Internal] Add roundabout experiments from ICCPS into the repo

[2019-06-07 00:38] DMarcelAM commented on #537
I was trying with different numbers but I'm obtaining similar errors,
I set `self.scenario.vehicles.num_vehicles = 1`  I get `ValueError: cannot reshape array of size 2 into shape (1,). `
I `set self.scenario.vehicles.num_vehicles = 2`  I get `ValueError: cannot reshape array of size 1 into shape (2,).`
I set `self.scenario.vehicles.num_vehicles = 3`  I get `ValueError: cannot reshape array of siz

[2019-06-07 00:42] kjang96 commented on #534
Hi @bmwilly, can you post a picture of the traceback when you run `scripts/setup_sumo_osx.sh`?

[2019-06-07 07:44] cspatharis commented on #538
Thank you for your response.

I've been using SUMO for some time now and developed my project there but I wanted to move my project to Flow. I just realized that Flow does not support the latest version of SUMO that contains some crucial methods for my project. Can you tell me which is the latest supported version of SUMO and if there is a plan to move to the latest versions in the future?
Thanks

[2019-06-07 09:16] bmwilly commented on #534
@AboudyKreidieh thanks, but I tried building from source and ran into further issues. I can open a separate issue about that.

[2019-06-07 09:17] bmwilly commented on #534
@kjang96 that step runs successfully:
[code]

[2019-06-07 16:34] DMarcelAM commented on #537
I set num_vehicles=0 in green_wave example (tot_cars=0)  and there's no error. But when I add inflows to green_wave_example I get the same error: `ValueError: cannot reshape array of size 1 into shape (0,)`

[2019-06-07 21:51] eugenevinitsky commented on #538
Hi @cspatharis, I believe the plan is to upgrade in the next week or so; we've had a few requests to upgrade. Do you happen to know the exact release date @AboudyKreidieh ?

[2019-06-09 10:36] AboudyKreidieh commented on #536
@mtgibson2014 you can go ahead and delete the 4 reward functions I mentioned.

[2019-06-10 03:01] KidTrunks opened #543 "Visualization - Plotting Reward"
![Internal Server error](https://user-images.githubusercontent.com/45654203/59170054-29827100-8b80-11e9-96e6-7654fd7cca42.png)
**This is a:**
Question

**Describe the Issue:**
Hi I am trying to visualize Automated vehicle learning by using the plotting reward function. The simulation has run to it's completion and I made sure the progress.csv and .json files are in the folder. The .json file was v

[2019-06-10 05:58] mtgibson2014 commented on #536
Cool! It's done and I made a PR for it.

[2019-06-10 05:58] #536 closed

[2019-06-10 07:51] cspatharis commented on #538
Glad to hear that.

Basically, what I miss from the newer version is a way to get both the IDs of the colliding vehicles. In the latest version there is a constant called "tc.VAR_COLLIDING_VEHICLES_IDS" that does this job, but I haven't yet figured how to do it in your version of Flow. The previous answer from @AboudyKreidieh was very helpful, but it returns only the first vehicle that caused the

[2019-06-11 07:55] AboudyKreidieh commented on #537
I think the environment you are using may include a `get_state` method that doesn't take into account variability in the number of vehicles, hence the shape error when you turn on inflows. You can probably debug this by printing `self.state.shape` or `len(self.state)` and seeing if the number changes. If so, I wont recommend padding the observations (see flow/envs/merge.py as an example).

[2019-06-11 07:58] AboudyKreidieh commented on #538
hi @cspatharis sorry for the late reply. We will be upgrading sumo version `Eclipse SUMO Version v1_1_0+0000-2147d155b1` within the next day. The release will still be in development, so you may experience a few bugs, but for the most part we think everything should work fine. A more final release will come in the next week. I will let you know when both the development and final releases are up.

[2019-06-11 08:02] AboudyKreidieh commented on #534
hi @bmwilly yes it would be great if you would create an issue for the installation as well, so that we can resolve this for you and anyone else that might be experiencing this or will in the future. Also, please consider adding your question to slack under [our tag](https://stackoverflow.com/questions/tagged/flow-project), as that way other people who might have already resolved this would be mor

[2019-06-11 08:09] AboudyKreidieh commented on #543
hi @KidTrunks we're looking into this now and will get back to you soon!

[2019-06-11 21:48] KidTrunks commented on #543
Cheers @AboudyKreidieh let me know if you need any other information.

Regards.

[2019-06-12 10:38] AboudyKreidieh commented on #538
hi @cspatharis the most recent version of `master` currently supports sumo-1.1.0

[2019-06-12 11:31] cspatharis commented on #538
Thank you very much. I'll give it a try right away ;)

[2019-06-12 11:31] #538 closed

[2019-06-14 08:54] guilhermevarela commented on #518
Hi,

I'm having similar issues when running :

It seems that GymEnv's constructor and it´s invocation on script is mismatched, could you please clarify? @AboudyKreidieh :

python /home/gsavarela/rllab/scripts/run_experiment_lite.py  --exp_name 'green-wave_2019_06_14_09_41_54_0001'  --n_parallel '1'  --seed '6'  --log_dir '/home/gsavarela/rllab/data/local/green-wave/green-wave_2019_06_14_09_41_54_0

[2019-06-14 11:32] bmwilly commented on #534
@AboudyKreidieh I've added a comment on https://stackoverflow.com/a/56597328/2554659 since it's the same exact problem. I feel a separate SO post would be more confusing.

[2019-06-14 11:45] bmwilly opened #546 "proj-includes not found when building sumo from source on macOS"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
Following the [instructions to build sumo from source on macOS](https://flow.readthedocs.io/en/latest/flow_setup.html#optional-direct-install-of-sumo-from-github) leads to the following error:

[code]

**To Reproduce**
[code]

Note that `proj` is definitely installed:

[code]

**Expected b

[2019-06-14 11:46] bmwilly commented on #534
@AboudyKreidieh I created another issue with my problem from building from source: https://github.com/flow-project/flow/issues/546

[2019-06-14 12:37] buechelmartin commented on #321
Hi @yurunsheng1,

just had the same issue with Pycharm giving the FileNotFoundError while in the terminal everything worked fine. The problem was, as @AboudyKreidieh pointed out, that the binaries of Sumo could not be found within PyCharm.

The Sumo path was added to the bashrc file by the sumo installation script, but Pycharm does not load this, unlike the terminal. Other than expected, starting

[2019-06-14 14:22] buechelmartin opened #547 "stabilizing_highway: Error: Answered with error to command 0xc4: The vehicle human_0 to add already exists."
After I was eventually successfully running the example "stabilizing_the_ring" I tried with "stabilizing_highway".
Now I keep getting the following messages (errors / warnings), and I wonder if this something I can ignore. Seems like the agent is able to learn something, but the error message makes me believe it might  be nothing useful.
Thanks for any hints!

More specifically, I wonder:
- [x]  i

[2019-06-14 18:09] Yasharzf commented on #547
It seems you haven't set the sumo-related parameters properly. You should set SumoParams(restart_instance=True)

[2019-06-15 11:33] cspatharis opened #548 "Adding new vehicles to scenario with custom depart time/edge"
**Choose an option**
This is a:
- [X] Question
- [ ] Feature request
- [ ] Bug report

Hello again,
so far testing the new version of SUMO with FLOW works like a charm.
I want to ask a question though about creating scenarios like with NetEdit. Specifically, what I need is to create the scenario beforehand, e.g. the number of vehicles, the edge that the x vehicle will enter the scenario, what rout

[2019-06-15 11:58] buechelmartin commented on #547
Thanks this removed the inflow warning as well as the Error command 0xc4.
Collisions occur from time to time.

Please note that I only tried to run the example "stabilizing_highway" as provided, so maybe this can be added to the example code.

Concerning the collisions, I read that the RL controllers action is intended to be restricted to safe, collision free actions. I there still some issue in t

[2019-06-15 23:20] eugenevinitsky commented on #547
Hi @buechelmartin, this env seems to have a bug where on rare occasion, SUMO incorrectly computes the safe velocity and it leads to a collision. We tend to handle this case in our research by just throwing this sample out or penalizing it.
However, have you tried upgrading to the new version of SUMO that we just released compatibility with recently? It may resolve this issue, we are still investig

[2019-06-16 02:47] BHGEdeveloper opened #549 "Support for Swarm Intelligence and Evolutionary Algorithms"
I am interested in using Flow for VANETs (Vehicular Ad hoc NETworks) routing protocols, which play a key role in the design and development of Intelligent Transportation Systems. Besides RL,
genetic algorithms, particle swarm, ant and bee colony optimization based routing algorithms for VANETs already exists in literature. Does Flow supports these algorithms? If not, how difficult would it be to i