[2019-06-16 03:08] eugenevinitsky commented on #549
Definitely! Flow is abstractly written to support the gym interface so you can always write a wrapper environment that calls the step and reset methods of Flow and then performs training around it. Essentially all Flow cares about is that you have a method that computes actions and passes it to Flow's step function, and then a method for resetting the environment when a rollout is done.
We do not

[2019-06-16 03:09] eugenevinitsky commented on #548
Hi, this should be a supported use case; once you have your netfile (which you can get out of netedit) you can use it to instantiate a Flow scenario. @AboudyKreidieh may be able to provide you more details?

[2019-06-16 16:18] yurunsheng1 commented on #321
I will have a try, thank you so much! @buechelmartin @eugenevinitsky @AboudyKreidieh

[2019-06-17 02:32] buechelmartin commented on #321
If you initial motivation of using Pycharm was to be able to use the debugger, you might want to know that I wasn't successful yet in using it within the environment python code.
Seems like the way Ray is calling it's workers isn't supported by the Pycharm debugger, at least unless you are using the Professional version. I could not verify this finding for sure though.

Being aware that this might

[2019-06-17 03:21] BHGEdeveloper commented on #549
I know Flow is integrated with SUMO. For VANET experiments, I need wireless communication networks simulator such as OMNeT++ (https://omnetpp.org/intro/) alongside of road traffic network simulator like SUMO. Does Flow supports any wireless communication networks simulator?

[2019-06-17 13:02] AboudyKreidieh commented on #548
hi, yes this is supported. Please check out the following tutorial for more: https://github.com/flow-project/flow/blob/master/tutorials/tutorial08_network_templates.ipynb

[2019-06-17 13:06] AboudyKreidieh commented on #547
hi @buechelmartin, looking into this some more, the collisions seem to be because the `minGap` car following parameter is being set to 0 for vehicles controlled by us (see lines 283-287 in flow/core/params.py). I will remove this in an upcoming PR, and will update you shortly. For now, you are encouraged to delete these lines.

[2019-06-17 13:11] AboudyKreidieh commented on #546
hi @bmwilly from these lines:

[code]

it looks like the problem might be proj_api.h. Can you check if this in in /usr/local/include? Maybe if you link this file to this folder the problem could be resolved.

[2019-06-17 13:27] AboudyKreidieh commented on #243
@fywu85 checking on this again. Can we close?

[2019-06-17 15:04] bmwilly commented on #546
@AboudyKreidieh you can see that it exists in my previous comment
![image](https://user-images.githubusercontent.com/3588399/59614911-ef861180-9121-11e9-974e-a8c1787aa606.png)

[2019-06-17 16:55] buechelmartin commented on #547
Thanks @AboudyKreidieh , this seems to avoid the collisions!

[2019-06-17 16:55] #547 closed

[2019-06-17 22:05] kjang96 commented on #51
@mtgibson2014  Start by figuring out what needs more documentation

[2019-06-17 23:04] mtgibson2014 opened #550 "Flow Challenge/Webpage for Newcomers"
We need to develop a page for students who are interested in joining the lab - we can put a link to the challenge here. Also, we need a starting simple challenge to give to students (currently working on this).

[2019-06-18 00:21] eugenevinitsky commented on #549
Hi @BHGEdeveloper we haven't put any work into integrating those wireless communication simulators; if you're interested in building out or testing such support I can't imagine it'll be a ton of work and we're happy to help you sketch out how the integration would look like!

[2019-06-18 00:26] DMarcelAM commented on #537
Hi @AboudyKreidieh and thanks for answer my questions,
When you say that my get_state method should not take into account variability in the number of vehicles, how can I use the speed of each vehicle (the number of vehicles is still variable) as a state ?

[2019-06-18 00:29] eugenevinitsky commented on #537
Hi @DMarcelAM, the tricky thing is that unless you use something special, a neural network takes in a fixed number of states as its input. If the number of states is variable, you either have to:
(1) Figure out how to select a fixed number of vehicle states from the total number of vehicle states
(2) Use a neural net architecture that can adapt to the number of vehicles in the system like a transf

[2019-06-18 01:01] nathanlct opened #551 "Incompatibilities with Aimsun in new Flow release"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
Aimsun examples are not running in Flow release 0.4.0

Two bugs I had but there might be more, I didn't dwelve into it much:

- There is a new method `get_initial_speed` in `vehicle/traci.py` that is not in `vehicle/base.py` nor in `vehicle/aimsun.py`, but at some point it gets called on t

[2019-06-18 02:34] nathanlct commented on #336
Fixed in #552.

[2019-06-18 02:34] #336 closed

[2019-06-18 07:05] fywu85 commented on #243
Sorry about the slow reply. Still working on it. Will close this ASAP.

On Mon, Jun 17, 2019 at 6:27 AM Aboudy Kreidieh <notifications@github.com>
wrote:

[2019-06-18 14:28] Antonio-Dominguez opened #553 "Having both RL and actuated traffic lights in a simple grid scenario"
[QUESTION]
Hello!
I am trying to create a simple grid scenario containing at the same time actuated traffic lights and a group of RL-based traffic lights. I am modifying the following scripts:

- flow/examples/rllib/green_wave.py (Experiment)
- flow/scenatios/grid.py (Scenario)
- flow/envs/green_wave_env.py (Environment)

According to the ADDITIONAL_ENV_PARAMS variable, either all traffic lights a

[2019-06-18 17:40] eugenevinitsky commented on #553
Hi @Antonio-Dominguez, there's absolutely a way to do this. @kjang96 is most familiar with this environment; she should be able to help you! It might also be worthwhile for us just to add an example of this codebase.

[2019-06-18 19:31] Antonio-Dominguez commented on #553
Perfect! Thank you very much @eugenevinitsky ! I'd really appreciate your help @kjang96

[2019-06-18 23:19] ashkan-software commented on #475
We need to add attributed to the following files. Could everyone who wrote them add attributes to these files?

/GitHub/flow/flow/envs/bay_bridge/base.py
/GitHub/flow/flow/envs/loop/lane_changing.py
/GitHub/flow/flow/envs/loop/loop_accel.py
/GitHub/flow/flow/envs/loop/wave_attenuation.py
/GitHub/flow/flow/envs/bottleneck_env.py
/GitHub/flow/flow/envs/green_wave_env.py
/GitHub/flow/flow/envs/merge.

[2019-06-19 06:22] basit2120 opened #556 "running rllib/greenwave.py"
This is a: **Question**

**Describe the issue**
when ever i try to rub green wave file present in rllib i come across this issue

**To Reproduce**

[code]

**Desktop (please complete the following information):**
 - OS: ubuntu 18.06

[2019-06-21 22:25] nathanlct opened #558 "test_green_wave non deterministic"
This is a: **Bug report**

**Describe the issue**

Travis gives me the following error in two of my PRs:

[code]

This test (`test_examples.py` > `TestRllibExamples` > `test_green_wave`) seems to behave in a non-deterministic way:

In #552, you can see in the commit history that the commit `Merge branch 'master' into tutorials-docs` shows that branch build passed and PR build failed:

![image](htt

[2019-06-22 02:52] KidTrunks opened #559 "DeprecationWarning: The redirect_output arguement is deprecated"
**This is a:**
Question

**OS**: Ubuntu 18.04

**Describe the Issue:**
Hi, I am trying to run Tutorial03_rllib. Only minor adjustments to the Tutorial code is made and the following error was encountered:

Traceback (most recent call last):
  File "stabilizing_the_ring.py", line 123, in <module>
    ray.init(num_cpus=N_CPUS, redirect_output=True)
  File "/home/python/anaconda3/envs/flow/lib/python

[2019-06-22 03:00] KidTrunks commented on #559
Hi it worked after deleting  (redirect_output=True)

You may close the issue. Thanks.

[2019-06-22 03:00] #559 closed

[2019-06-23 02:11] fywu85 commented on #243
Closure pending #560.

[2019-06-24 07:00] kjang96 commented on #436
This will be linked with #42

[2019-06-24 07:18] kjang96 commented on #436
@AboudyKreidieh  Where are the `distance_to_bottleneck`, `get_avg_bottleneck_velocity`? I ran a system search and couldn't find these. Maybe obsolete?

Also-- I left the following untouched, I think it would be better for @AboudyKreidieh or @eugenevinitsky  to document your code because I don't want to get it wrong: `ramp_meter_lane_change_control`,  `apply_toll_bridge_control`, BottleckAccelEnv's

[2019-06-24 08:23] guilhermevarela commented on #518
@Antonio-Dominguez @AboudyKreidieh Apparently the problem is that either self.steps and self.k.num_vehicles are being assigned to infinity -- they're being overflowed. The patch is to perform a min(x, 1000.0) and then converting to int() as Aboudy pointed out

[2019-06-24 08:28] guilhermevarela commented on #518
That´s what happens when someone installs rllab project but skips the documentation part saying to install rllab-multiagent. I would like to suggest that the script breaks with an import error rllab_multiagents not found. instead of breaking on that manner

[2019-06-24 14:31] TNelen opened #562 "green wave MultiAgent"
**Choose an option**
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

**Describe the issue**
Hi i'm trying to make the green wave example multi-agent. When i try to run, i get the following error.
[error_2019-06-24_16-08-17.txt](https://github.com/flow-project/flow/files/3321264/error_2019-06-24_16-08-17.txt)

i made a multi agent environment in a new python file 'green_wave_env'.

[2019-06-24 22:44] ashkan-software opened #563 "Make Flow installation easy"
Let us make the flow installation, as easy as other famous python packages (e.g. TensorFlow, or PyTorch) with as few commands as possible (e.g. `pip install flow`)

[2019-06-24 23:53] kjang96 commented on #553
Hi @Antonio-Dominguez! Thanks for your patience! Taking a look at this now.

[2019-06-25 04:47] xiaoToby commented on #290
Hi:
I also met that similar problem.
source /Users/xiaohongzhi/anaconda3/bin/activate
(base) wlan-napt-002:aimsun xiaohongzhi$ source /Users/xiaohongzhi/anaconda3/bin/activate
conda activate aimsun_flow
(base) wlan-napt-002:aimsun xiaohongzhi$ conda activate aimsun_flow
(aimsun_flow) wlan-napt-002:aimsun xiaohongzhi$ python sugiyama.py
Traceback (most recent call last):
  File "sugiyama.py", line

[2019-06-25 05:20] Yasharzf commented on #290
HI Xiao, You need to activate flow (not aimsun_flow).

[2019-06-25 06:11] xiaoToby commented on #290
Hi Yasharzf
I follow your advice.
the result is the same.

[2019-06-25 06:15] xiaoToby commented on #290
Hi Yasharzf
I follow your advice.
the result is the same.

I am using macOS and visual studio code.
Except that:
 also followed the official tutorial to exercise.
On the tutorial_1 I met problems again, the error log is below:

*Traceback (most recent call last):  File "tutorial_1.py", line 9, in
<module>    from flow.envs.loop.loop_accel import AccelEnv  File
"/Users/xiaohongzhi/flow/flow/envs/__

[2019-06-25 06:46] xiaoToby commented on #290
I tried your method on the terminal.
It looks ok, and the aimsun is automatically opened, but i didn't see any
special on the aimsun.
[image: 屏幕快照 2019-06-25 下午3.44.32.png]
There is something wrong?

肖鸿治 <xiaohongzhi0603@gmail.com> 于2019年6月25日周二 下午3:14写道：

[2019-06-25 15:23] Yasharzf commented on #290
Ah, unfortunately Aimsun is now broken. It will be fixed this ASAP. Please follow issue #551

[2019-06-25 21:51] ashkan-software commented on #475
I have created the `document_attribute` for all of the commits for this issue.

Please commit your changes only to this branch :)

[2019-06-25 22:57] ashkan-software opened #564 "Make file names better and more 'logical'"
The name of some of our files are good. But the name for some other files are quite confusing.

Look at this example:

RL version of traffic lights: `examples/rllib/green_wave.py`
non-RL version of traffic lights: `examples/sumo/grid.py`

Environment for RL version of traffic lights: `green_wave_env.py`
Environment for non-RL version of traffic lights: `loop_accel.py`

[2019-06-25 23:05] nathanlct commented on #551
Fixed in #565

[2019-06-25 23:05] #551 closed

[2019-06-25 23:06] nathanlct opened #566 "Aimsum load.py doesn't work anymore"
This is a: **Bug report**

**Describe the issue**

Since #565, using the `load.py` file to load an Aimsun template results in a bug.

[2019-06-25 23:41] yhb08 opened #567 "Fully Web-based flow"
Hi,
After the discussions today in the meeting, we discussed having a fully web-based Flow could really benefit Flow community.

The idea, is that, the person simply goes to a website, and run Flow experiments immediately!(SUMO, dependencies, Jupyter, etc. all are pre-installed)

This helps in avoiding the long installation process and using any operating system.

 Following are some examples of f

[2019-06-25 23:56] mtgibson2014 commented on #51
It seems like we need to talk about what we expect our users to use in their own experiments. I'm guessing all environments, human controllers, traffic scenarios, and visualizers?

Also, to this end, it's actually unclear about "how" users use Flow and what they can use it for. Aside from the examples **SHOWING** users how to use Flow, there's nothing that clearly shows what they are suppose to us

[2019-06-26 03:15] xiaoToby commented on #290
By the way.
I tried to reinstall all the software(Flow, SUMO, Rlib, Aimsun) by following the instructions on the websites(https://flow.readthedocs.io/en/latest/flow_setup.html#)

When I tried to install sumo, there is an error:
failed to open 'binaries-mac.tar.xz'

I check the official website of SUMO, about Download part, now we can download it except Windows.
So, there are any other ways to go o

[2019-06-26 05:34] basit2120 opened #568 "Modifing Green Wave"
**Choose an option**
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

How we can implement existing rllib algorithm i.e. ARS algorithm in green wave.

[2019-06-26 11:07] xiaoToby commented on #304
Now I installed the wget.
But I still get that question.
Why? Please help

[2019-06-26 11:14] xiaoToby commented on #546
How to link that file to this folder?
I really face many problems when install procedure.
Please help.

[2019-06-27 03:31] zhouhao0605 commented on #321
Hi @AboudyKreidieh, I tried sumo-gui successfully but encountered problems with when trying the example. Can you provide any insights? Thanks

(base) hao@hao-B360-AORUS-GAMING-3-WIFI:~$ source activate flow
(flow) hao@hao-B360-AORUS-GAMING-3-WIFI:~$ python examples/sumo/sugiyama.py
python: can't open file 'examples/sumo/sugiyama.py': [Errno 2] No such file or directory

[2019-06-27 11:44] AboudyKreidieh opened #569 "Add output from emission path to tutorial 1"

[2019-06-27 16:00] xiaoToby commented on #395
Now
I ran that program.
I get an error: want to read 4 bytes from Storage, but only 3 remainning.
How to fix it?
BTW, my sumo version is 0.32.0

[2019-06-27 19:37] TNelen opened #570 "Multi Agent traffic light control"
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

Hi, i'm trying to make a multi-agent implementation of the 3x3 grid.

What i want to achieve is that an agent (traffic light) gets as state the information of only of the cars driving on the edges connected to the intersection on which the traffic light is located.

Is it possible to get the id of the traffic light that the agent is

[2019-06-27 19:40] omitoz commented on #568
in the green_wave example, in the function setup_exps(): there is a parameter alg_run, default set on PPO, you can change that to ARS.

Keep in mind that there could be any config parameters that you need to change.

[2019-06-27 19:53] TNelen commented on #570
Are the agent assigned to the traffic light in a standard order?
If it is for example top left, to bottom right, i can manually assign the edge id's to a particular agent?

[2019-06-27 19:55] eugenevinitsky commented on #568
@TNelen thank you for the answer! That is correct, you just need to change the line that says 'PPO' to 'ARS'. You may also need to remove some of the config parameters that are used in PPO but do not exist in ARS.

[2019-06-27 20:07] #562 closed

[2019-06-27 23:20] kjang96 commented on #553
@Antonio-Dominguez, `tl_type` is a vestige of old code that missed a refactor. So thanks for bringing it to our attention! I’m working on an update that will make this simpler to code. Unless you want to see the actuated traffic baseline in action, you can set `tl_type` to anything and it won't affect the outcome. In the meantime, to answer your questions and fix your problem:

- There are two lay

[2019-06-27 23:46] kjang96 commented on #570
Hi @TNelen!

- First, the easiest way to select and know the ID of the node you want the traffic light to be at is to set `render=True` in the runner script. See the attached image. In the GUI, click the rainbow circle (in the image, this is right of the dropdown bar that says "custom_2." Then click Junctions and select "Show junction name" That will tell you the name of the node / traffic light.

[2019-06-28 00:05] kjang96 commented on #543
Hi @KidTrunks, apologies for getting to you late on this. Our team is mostly moving to RLlib now, so we've been slower on rllab issues. I managed to recreate your error. This is likely a versioning issue. Can you try using Flask 0.12.2 and tell me if the problem still persists?

[2019-06-28 00:20] kjang96 commented on #543
Update -- it looks like the problem should be fixed without changing Flask. The versioning issue is with plotly. Try running `conda install plotly=2.4.0` in your env.

[2019-06-28 01:40] KidTrunks commented on #543
Thanks @kjang96 worked like a charm!

[2019-06-28 01:55] #543 closed

[2019-06-28 02:25] KidTrunks opened #571 "RLib Visualization Error - ModelCatalog"
**This is a:** Question

**OS:** Ubuntu 18.04

**Describe the Issue:**
Hi I am trying to use the Replaying a Trained Policy function under the RLlib Visualization Tutorial.
 I have already looked through this thread and updated visualizer_rllib.py file:
https://github.com/flow-project/flow/pull/372
However I am still getting the ModelCatalog and get_preprocessor_as_wrapper errors.

Upon running th

[2019-06-28 06:17] xiaoToby opened #572 "Can not run scripts/setup_sumo_osx.sh"
This is a: **Bug report**

**Describe the issue**

When I followed the instructions, I ran the command "scripts/setup_sumo_osx.sh"
 there is a error.

[code]

**Desktop (please complete the following information):**
 - OS: My os is macOS Mojave 10.14.5

[2019-06-28 06:38] basit2120 commented on #568
Thanks  for the help guys.

[2019-06-28 06:39] xiaoToby commented on #572
BTW,
I cannot download the sumo by following your instruction file.
I tried other ways to download sumo. https://github.com/DLR-TS/homebrew-sumo/blob/master/README.md

So i went on the instructions, actually i can ran "python examples/sumo/sugiyama.py".

Then i tried to download Aimsun, the aimsun is not free, right?
So i tried to download the trial version. Then i test my installation,
run "pytho

[2019-06-28 06:49] xiaoToby commented on #572
Ok, on your website, there is another way to install sumo. - (Optional) Direct install of SUMO from GitHub

I tried it. And then i check sumo_binaries/bin, there is no file here. ....

The log is :
(flow) wlan-napt-003:flow xiaohongzhi$ cd ~
(flow) wlan-napt-003:~ xiaohongzhi$ git clone https://github.com/eclipse/sumo.git
fatal: destination path 'sumo' already exists and is not an empty directory.

[2019-06-28 07:15] kjang96 opened #573 "Change plotly version to 2.4.0"
This is a: **Bug report**

**Describe the issue**
In installation, plotly should be changed to version 2.4.0. See https://github.com/flow-project/flow/issues/543 for reference.

[2019-06-28 08:39] TNelen commented on #570
Thanks you for the answer! I think I got all the information now to make ik work.

[2019-06-28 21:53] #570 closed

[2019-06-28 22:31] kjang96 commented on #436
Leaving this open while the last 4 functions are undocumented, will proceed with merging the other documentation

[2019-06-29 06:02] xiaoToby commented on #321
My log is that:
(flow) wlan-napt-002:flow xiaohongzhi$ python examples/aimsun/sugiyama.py
^CListening for connection... Traceback (most recent call last):
  File "examples/aimsun/sugiyama.py", line 59, in <module>
    exp = sugiyama_example()
  File "examples/aimsun/sugiyama.py", line 52, in sugiyama_example
    env = TestEnv(env_params, sim_params, scenario, simulator='aimsun')
  File "/Users/xia

[2019-06-29 06:05] xiaoToby commented on #321
^CTraceback (most recent call last):
  File "/anaconda3/envs/flow/lib/python3.5/site-packages/ray/monitor.py", line 379, in <module>
    monitor.run()
  File "/anaconda3/envs/flow/lib/python3.5/site-packages/ray/monitor.py", line 320, in run
    time.sleep(ray._config.heartbeat_timeout_milliseconds() * 1e-3)
KeyboardInterrupt
WARNING: Logging before InitGoogleLogging() is written to STDERR
F0629 1

[2019-07-01 10:10] basit2120 opened #579 "how to print variables"
This is a: **Question**

when ever i try to print anything from green wave environment i get following error

[code]

[2019-07-01 20:25] fywu85 commented on #472
Closes #580

[2019-07-01 20:25] #472 closed

[2019-07-01 20:36] fywu85 commented on #284
Closes #577

[2019-07-01 20:36] #284 closed

[2019-07-01 20:38] fywu85 opened #581 "Add comprehensive unit tests on the renderer module"
This is a: **Feature request**

**Describe the issue**
Add comprehensive unit tests on the renderer module. Achieve at least 90% coverage.

[2019-07-01 20:41] fywu85 opened #582 "Speed up Binder build process"
**Choose an option**
This is a:
- [ ] Question
- [x ] Feature request
- [ ] Bug report

**Describe the issue**
Significantly speed up binder build process by caching relatively static dependencies into a Docker image.

[2019-07-01 21:01] kjang96 commented on #42
Fixed everything except:
[] utils/aimsun/run.py
[] utils/aimsun/scripting_api.py
[] utils/aimsun/generate.py
[] utils/aimsun/load.py

[2019-07-01 21:03] kjang96 commented on #42
Hi @Yasharzf @AboudyKreidieh  since you wrote the aimsun code in question (see comment above), can you fill in the documentation for this one?

[2019-07-01 21:08] kjang96 commented on #475
@AboudyKreidieh For subclasses attribute documentation, are we including attributes of the parent class as well, or just attributes unique to the subclass?

[2019-07-01 22:19] #243 closed

[2019-07-01 22:29] kjang96 commented on #139
@eugenevinitsky  Is this still relevant?

[2019-07-02 07:35] AboudyKreidieh commented on #475
Let's just document the subclass's attribute. We can add a comment like:

See the parent class for description of other attributes.

[2019-07-02 17:48] TNelen opened #583 "Specific Get_state() return based on RL agent-id"
**Choose an option**
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

Hi,

I'm tying to make a multi agent implementation of the 3x3 grid (grid0) for traffic light control
In the get_state function, i want to differ in information that i sent to the RL agent in this function. So agent 1 get only the information of vehicles driving on edges heading towards intersection 1.

How can

[2019-07-02 19:56] ashkan-software commented on #583
@TNelen  hello! Could you please post your question according to https://github.com/flow-project/flow#technical-questions? I will answer it once you post it immediately :).

[2019-07-02 20:05] eugenevinitsky commented on #529
Hi @sotte, just following up, were you able to get this to work?

[2019-07-02 20:05] eugenevinitsky commented on #519
Hi @AaronLiuSy, hope this was able to help! I'm closing the issue but if you still need help please reopen it or post another issue!

[2019-07-02 20:05] #519 closed

[2019-07-02 20:08] nathanlct commented on #583
As @ashkan-software said, please post your question [here](https://stackoverflow.com/questions/tagged/flow-project) using the tag `flow-project`!

[2019-07-02 20:08] #583 closed

[2019-07-02 20:30] nathanlct commented on #572
Hello @xiaoToby,

Your first issue looks similar to the one we have already answered [here on stackoverflow](https://stackoverflow.com/questions/56786954/failed-to-install-sumo-binaries). Can you see if that works for you?

Regarding your problem with running the `aimsun/sugiyama.py` example, we are aware of this bug and it is fixed in #565. You can pull the `aimsun_bug` branch if you need to be a

[2019-07-02 20:52] nathanlct commented on #579
Hello @basit2120,

Do you not get the error when you don't print?
Can you provide us with the command that you ran and potentially the code that you modified and that is concerned by the issue?

Thank you!

[2019-07-02 20:59] #534 closed

[2019-07-02 21:19] nathanlct commented on #571
Hello @KidTrunks,

Can you tell us what your ray version is?

Thanks!

[2019-07-02 21:28] #569 closed

[2019-07-02 21:30] #568 closed

[2019-07-02 22:02] nathanlct commented on #556
Hello @basit2120,

Are you still having this issue? If yes, could you please ask your question on [StackOverflow](overflow.com/questions/tagged/flow-project) using the tag `flow-project`? You should get an answer quickly on there.

Thank you!

[2019-07-03 03:07] xiaoToby commented on #572
Thanks for your helping.

I still have a question, the aimsun is not free, right?
If i want to use it normally run your programs, i need to pay.

About rllib/stabilizing_the_ring.py , I realize my problem, i need to change render=True.

Thanks.

[2019-07-03 04:11] nathanlct commented on #572
Indeed, you need to buy a license in order to use Aimsun, or you can get a one month free trial.

However most of our experiments use Sumo/Traci so just ignore the Aimsun part and you should be fine!

As for the `rllib/stabilizing_the_ring.py` example, render is set by default set to False as it makes the training process much faster.
You can however train an agent without rendering it, and then r

[2019-07-03 04:19] basit2120 commented on #579
Hi Nathan Lichtlé
No i don't get the error when i execute the code without print function
the command is
python flow/examples/rllib/green_wave.py

On Wed, Jul 3, 2019 at 1:52 AM Nathan Lichtlé <notifications@github.com>
wrote:

[2019-07-03 04:21] basit2120 commented on #556
no i have fixed the error.

[2019-07-03 04:23] basit2120 commented on #579
No i don't get the error when i execute the code without print function
the command is
python flow/examples/rllib/green_wave.py

[2019-07-03 04:26] nathanlct commented on #579
So you deleted your comment, have you fixed the issue or not?

If not, can you copy/paste the part of the code where you have the print function?

Thanks!

[2019-07-03 04:35] nathanlct opened #588 "test"
ignore this

[2019-07-03 06:04] #588 closed

[2019-07-03 07:20] nathanlct commented on #553
@Antonio-Dominguez, I hope your questions have been answered!

If you have any further ones, please from now on post them on StackOverflow using the tag `flow-project`!

[2019-07-03 07:24] nathanlct commented on #548
@cspatharis, we hope that your questions have been answered.
If you have any further ones, please post them on [StackOverflow](https://stackoverflow.com/questions/tagged/flow-project) using the tag `flow-project`!

[2019-07-03 07:24] #548 closed

[2019-07-03 08:51] KidTrunks commented on #571
Hi @nathanlct I am using ray version-0.6.4

[2019-07-03 11:24] #510 closed

[2019-07-03 13:20] guilhermevarela commented on #556
@basit2120 I'm just experiencing that exception, How did you fixed it?

[2019-07-03 15:36] sotte commented on #529
Hey @eugenevinitsky, due to time constraints we only ended up using the hacky remote control for the cars, not the traffic lights. That being said, if there was a traffic light remote control, we would use it pretty much right away :)

Sadly I also didn't have time to try out the TRACI approach.

I hope that helps!

[2019-07-04 04:14] basit2120 commented on #579
yes i have fixed the issue.

[2019-07-04 04:19] basit2120 commented on #556
first i install Jupyter in flow environment and secondly use the old version of flow. In latest version i'm still  facing this issue.

[2019-07-04 14:21] BingLiHanShuang opened #590 "How can I change different sizes for different vehicles in VehicleParam?"
It seems that the size of vehicle can't be changed?

[2019-07-04 14:52] Antonio-Dominguez opened #591 "Mismatching phase size in tls when setting up more than one lane in Simple Grid Scenario"
I am modifying **SimpleGridScenario** class in _../flow/scenarios/grid.py_ and _.../examples/rllib/green_wave.py_ so that I can turn my simple grid into a double lane per corridor scenario. I added them and I also set up new connections so that vehicles can turn right and left. This is shown in the attached image. For every approach, the first lane allows vehicles to turn left and go straight on a

[2019-07-04 16:13] nathanlct commented on #590
Hello @BingLiHanShuang,

That does not seem to be currently supported, however you can easily change it by adding a `length` parameter to `VehicleParam`'s `add` method, and setting `type_params['length'] = length` in this method. (Also add `'length': length` in the `self.type_parameters[veh_id]` dict if you want to use inflows).

Hope this answers your question!

[2019-07-04 16:34] #590 closed

[2019-07-04 18:45] ashkan-software commented on #591
Hello,

We are already answering this question on Stack Overflow. So, I am closing this issue so we all can answer there.

[2019-07-04 18:45] #591 closed

[2019-07-05 03:57] jingyanping opened #592 "question"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [ ] Bug report

**Describe the issue**
A clear and concise description of what the bug/question/feature request is.

**To Reproduce**
Leave empty if not applicable.
1. File in which error occurred.
2. Exact command that was run that caused the error to occur.
3. Please attach the full error output log.

**Expected behavior**
A

[2019-07-05 03:57] #592 closed

[2019-07-05 03:59] jingyanping opened #593 "this is a question,i use ubuntu1404 and sumo 0.19.0, and i follow the installation instructions to setup, but i can't open the file "python examples/sumo/sugiyama.py" in testing installation and "python examples/rllib/stabilizing_the_ring.py" have same problem. report that: "No module named flow". No problems with previous installations。 who can help me？"
**Choose an option**
This is a:
- [x] Question
- [ ] Feature request
- [ ] Bug report

**Describe the issue**
A clear and concise description of what the bug/question/feature request is.

**To Reproduce**
Leave empty if not applicable.
1. File in which error occurred.
2. Exact command that was run that caused the error to occur.
3. Please attach the full error output log.

**Expected behavior**
A

[2019-07-05 04:08] jingyanping commented on #593
i use ubuntu1404 and sumo 0.19.0, and i follow the installation instructions to setup, but i can't open the file "python examples/sumo/sugiyama.py" in testing installation and "python examples/rllib/stabilizing_the_ring.py" have same problem.  report that: "No module named flow". No problems with previous installations。
who can help me？

[2019-07-05 04:09] #593 closed

[2019-07-05 08:23] buechelmartin commented on #321
@zhouhao0605: looks like your sumo path is not in your python path and you dont call the full, correct path.

@xiaoToby : check out the tutorial about visualization. per default, sumo is not rendered since this takes too long during training. you can run the visualizer from the checkpoints later. thats all in the tutorials

[2019-07-06 00:02] kjang96 opened #596 "stabilizing_the_ring not working for Aimsun x RLlib"
**Choose an option**
This is a:
- [ ] Question
- [ ] Feature request
- [x] Bug report

**Describe the issue**
A clear and concise description of what the bug/question/feature request is.

Running stabilizing_the_ring.py experiments via Aimsun exhibit stop and go waves and RL control (i.e. slow, learning-how-drive behavior) when using rllab, but no traffic forms and the 'rl' vehicle doesn't appear

[2019-07-06 06:48] jingyanping commented on #395
i meet the same problem, so i want to know how to update the sumo.
BTW:i use ubuntu 14.4
        python 3.7(it is possible to use python3.7?)
        sumo 0.19.0
THANKS!

[2019-07-08 20:49] kjang96 commented on #171
I have some refactoring I want to introduce to the grid that will change the grid interaction hugely. Will push for discussion ASAP.

[2019-07-08 22:27] kjang96 commented on #564
Alternatives for the grid are "traffic_light_grid.py", "intersection.py"

[2019-07-09 00:16] kjang96 opened #598 "ray_autoscale not working"
## Bug Description

Running RLlib experiments on EC2 is currently broken. First, pyarrow isn't installed on the AMI (the default is ami-0067051ba5c8f0b64). Second, I tried with an AMI that does have pyarrow (made ami-09ee73f99ee3510b0 for this purpose, title 'kathy'), and the setup commands don't work.

## Bug Reproduce

scripts/ray_autoscale.yaml

The exact command that you did run that caused th

[2019-07-09 07:08] nathanlct opened #600 "Environment vs scenario"
## Feature Description

Following the meeting, we may want to merge the scenarios and the environments together:

- the term environment could be understood as the physical environment (ie the scenario, whose name comes from sumo) (other suggestion is to rename the folder `envs` to `rl_envs`)
- except for some generic environments (`TestEnv`, `AccelEnv`...), most environments are written just for

[2019-07-09 07:50] jingyanping opened #601 "Failed to run examples/sumo/sugiyama.py"
hi,
I followed the steps for the installation procedure (https://berkeleyflow.readthedocs.io/en/latest/flow_setup.html). However, when i tried to run the example
( in the "Testing the Installation" section) I get the following error:

sean@ubuntu:~$ source activate flow
(flow) sean@ubuntu:~$ cd flow
(flow) sean@ubuntu:~/flow$ python examples/sumo/sugiyama.py
Traceback (most recent call last):
  Fi

[2019-07-09 08:14] guilhermevarela commented on #563
I am using macos 10.14.5 (Mojava) and as of now running scripts/setup_sumo_osx.sh installs SUMO 1.1 which is as far as I can tell is not compatible with flow:
`gsavarela@macbook ~/W/p/flow> vim scripts/setup_sumo_osx.sh
gsavarela@macbook ~/W/p/flow> which sumo
/Users/gsavarela/sumo_binaries/bin/sumo
gsavarela@macbook ~/W/p/flow> rm -rfd /Users/gsavarela/sumo_binaries/
gsavarela@macbook ~/W/p/flow>

[2019-07-09 08:16] jingyanping commented on #601
I have solved this problem，because in "/home/sean/flow/flow/envs/green_wave_env.py", there is a line of code that was originally ”from gym.spaces.tuple import Tuple_space” , I changed it to "from gym.spaces.tuple import Tuple"

but i met this problem,when i write the code "~/flow$ python examples/sumo/sugiyama.py", sumo can open, but sumo report an error:
Error: tcpip::Storage::readIsSafe: want to

[2019-07-09 08:27] #556 closed

[2019-07-09 08:27] #572 closed

[2019-07-09 08:28] #579 closed

[2019-07-09 08:36] nanxintin opened #603 "Error when running python examples/rllib/stabilizing_the_ring.py"
## Bug Description
After I install Flow and SUMO, I run " python examples/rllib/stabilizing_the_ring.py", and there is an error.

Error during start: [Errno 2] No such file or directory: '/home/noahrl/sk/flow/flow/core/kernel/scenario/debug/cfg/stabilizing_the_ring_20190709-1611201562659880.1063194.net.xml'

I found that the cfg folder is empty. How can I get the "stabilizing_the_ring_20190709-161

[2019-07-09 08:56] jingyanping commented on #601
(flow) sean@ubuntu:~/flow$ python --version
Python 3.5.2 :: Continuum Analytics, Inc.

[2019-07-09 10:03] jingyanping commented on #395
Error: tcpip::Storage::readIsSafe: want to read 8 bytes from Storage, but only 4 remaining
The TraCI protocal changed in version 1.0.0.
Please make sure that TraCI client version and SUMO version match. @xiaoToby

i met the same problem，
I ran that program.
I get an error: want to read 4 bytes from Storage, but only 3 remainning.
How to fix it? i don't know how to change TRACI version
BTW, my sumo

[2019-07-09 10:52] jingyanping opened #605 "tutorial01_sumo"
PLEASE DO NOT ASK YOUR QUESTIONS HERE ON GITHUB!

If you have a question or run into some problem (e.g. during installation or when running an example)
with Flow, please direct your technical questions to Stack Overflow using the "flow-project" tag.

link: https://stackoverflow.com/questions/tagged/flow-project
tag: flow-project

[2019-07-09 10:52] #605 closed

[2019-07-09 15:33] eugenevinitsky commented on #603
Hi @nanxintin, sorry this is happening! Could you post the entirety of the error? My suspicion is that SUMO isn't properly installed.

[2019-07-09 15:34] eugenevinitsky commented on #601
Hi @jingyanping, sorry abaout this issue! This suggests that your version of SUMO is out of date. Could you reinstall SUMO via the instructions and see if that helps?

[2019-07-09 22:27] ashkan-software commented on #564
Change some of the parameter names, such as `num_traffic_lights`, which actually represents the number of intersections, not individual traffic lights.

[2019-07-10 02:43] nanxintin commented on #603
Hi @eugenevinitsky , I have solved the error by adding SUMO to the system PATH.
Thanks for your reply.

[2019-07-10 02:44] #603 closed

[2019-07-10 03:50] KeithAnshilo opened #608 "Visualizing emission files using time_space_diagram.py"
Hi!

Can you help on how to define the "flow_params" argument?

I tried to the path of "params.json" to the "flow_params" argument. Is this correct?

Here's the error I got:
File "/home/daremapua/flow/flow/utils/rllib.py", line 94, in get_flow_params
    for veh_params in flow_params["veh"]:
KeyError: 'veh'

[2019-07-10 05:12] jingyanping commented on #601
I solved this problem because of the version problem. I have no problem updating to sumo1.1.0. Thank you very much。@eugenevinitsky

[2019-07-10 05:13] #601 closed

[2019-07-10 07:57] jingyanping opened #609 "Error when running python examples/rllib/stabilizing_the_ring.py"
hi, i am sorry to trouble you again.
when i run the python examples/rllib/stabilizing_the_ring.py, i met the problem ``DeprecationWarning: The redirect_output argument is deprecated.``

[code]
@eugenevinitsky

[2019-07-10 15:27] nathanlct commented on #609
If the argument is deprecated, then remove it.

`ray.init(num_cpus=N_CPUS + 1)`

It means that you have installed a version of `ray` more recent that the one Flow uses (i.e. `0.6.1` as mentioned in `requirements.txt`).

[2019-07-10 15:37] nathanlct commented on #608
Hi @KeithAnshilo,

What is the `flow_params` argument?

The usage of the file is as follows:

[code]

[2019-07-10 16:19] #42 closed

[2019-07-10 23:03] cathywu opened #610 "Error when running multiagent examples"
## Bug Description

The multi-agent examples (rllib) error when run.

## Bug Reproduce

File in which the bug occurred: `examples/rllib/multiagent_exps/multiagent_stabilizing_the_ring.py`

The exact command that you did run that caused the bug:
`python examples/rllib/multiagent_exps/multiagent_stabilizing_the_ring.py`

There are similar errors for:
`python examples/rllib/multiagent_exps/multiagent

[2019-07-10 23:54] alt113 opened #611 "Generate JSON file from Experiment"
## Feature Description

Please provide:

- Clear description of the feature: Generate JSON file of Flow parameters from the experiment.py to be later used in plotting results.

[2019-07-11 01:02] cathywu commented on #610
The issue was that the AMI `ami-0067051ba5c8f0b64` has an older version of SUMO (and in particular, an older version of traci), so there was an API mismatch. This can be resolved by updating SUMO.

[2019-07-11 01:02] #610 closed

[2019-07-11 01:56] jingyanping commented on #609
@nathanlct thank you very much,
When I run this program, the following is the content displayed by the terminal, but it is constantly refreshed, there is no sumo animation effect like " examples/sumo/sugiyama.py", I want to know if this is correct?

(pid=8866) 2019-07-10 18:49:50,725	INFO rollout_worker.py:428 -- Generating sample batch of size 200
(pid=8866)
(pid=8866) -----------------------
(pi

[2019-07-11 02:21] jingyanping opened #612 "TypeError: unorderable types"
PLEASE DO NOT ASK YOUR QUESTIONS HERE ON GITHUB!

If you have a question or run into some problem (e.g. during installation or when running an example)
with Flow, please direct your technical questions to Stack Overflow using the "flow-project" tag.

link: https://stackoverflow.com/questions/tagged/flow-project
tag: flow-project

[2019-07-11 02:22] #612 closed

[2019-07-11 02:38] nathanlct commented on #609
@jingyanping You are training a policy, there is nothing to see. If you look in the parameters, you will see `render=False`, that is why no GUI opens. This significantly speeds up the simulation during the training. If you want to see how your training is doing, please refer to tutorial 5 about visualization.

If you have other questions, please post them on StackOverflow using the tag `flow-proje

[2019-07-11 02:38] #609 closed

[2019-07-11 02:56] jingyanping commented on #609
@nathanlct hi,
Thank you very much for your reply, i will follow what you said.  i still have a question ask you，when i run“python examples/rllab/stabilizing_the_ring.py”，i met the problem with “TypeError: unorderable types: tuple() <= int()”

/home/sean/Downloads/enter/envs/flow/lib/python3.5/site-packages/theano/tensor/signal/downsample.py:6: UserWarning: downsample module has been moved to the

[2019-07-11 03:01] nathanlct commented on #609
As I said, please post your other questions on StackOverflow using the tag `flow-project`, one question per post, I and the other contributors will be happy to help you there.

As a side note, please wrap your logs into triple backquotes like this, here and on Stackoverflow:

[code]

It will make it much easier for us to read them.

[2019-07-11 03:07] jingyanping opened #613 "Error when running python examples/rllab/stabilizing_the_ring.py"
@nathanlct, hi, i am sorry to trouble you again.
when i run the python examples/rllab/stabilizing_the_ring.py, i met the problem
TypeError: unorderable types: tuple() <= int()

(flow) sean@ubuntu:~/flow$ python examples/rllab/stabilizing_the_ring.py
/home/sean/Downloads/enter/envs/flow/lib/python3.5/site-packages/theano/tensor/signal/downsample.py:6: UserWarning: downsample module has been moved t

[2019-07-11 03:14] nathanlct commented on #613
Hi @jingyanping, again:

- this is how to post a question on Stackoverflow: https://www.wikihow.com/Ask-a-Question-on-Stack-Overflow ; post it [here](https://stackoverflow.com/questions/tagged/flow-project) using the tag `flow-project`,

- and to post the output of your console in a more readable way, add 3 backticks ``` before them, and 3 backticks after them.

Thanks.

[2019-07-11 03:14] #613 closed

[2019-07-11 03:19] jingyanping commented on #613
okay，I will take a closer look at how to ask questions.

[2019-07-11 03:30] nanxintin opened #614 "How to define various Traffic Scenarios ?"
Hi,

Could you give me some suggestions on how to define various traffic scenarios ? Especially those for multi-agent learning.

Thanks.

[2019-07-11 05:05] basit2120 opened #615 "is this flow project is compatible with GPU because it takes to much time for the completion of the iterations."
PLEASE DO NOT ASK YOUR QUESTIONS HERE ON GITHUB!

If you have a question or run into some problem (e.g. during installation or when running an example)
with Flow, please direct your technical questions to Stack Overflow using the "flow-project" tag.

link: https://stackoverflow.com/questions/tagged/flow-project
tag: flow-project

[2019-07-11 05:57] #615 closed

[2019-07-11 16:32] eugenevinitsky commented on #613
Hi @jingyanping,

Since you did post it here, the issue is actually a bug in RLlab. I don't quite remember how to resolve it, but you can set a breakpoint in the gaussian_gru_policy at the line that throws the error and it should become clearer.
However, more generally, we aren't supporting RLlab anymore since that project is no longer receiving engineering support. I'd highly recommend switching

[2019-07-11 16:33] eugenevinitsky commented on #614
Hi @nanxintin,

Could you explain slightly more what you want? There are two different things it sounds like:
(1) Traffic scenarios: the actual road construction, which edges vehicles start from, what the vehicle flows look like, etc.
(2) How to define an RL environment, which specifies the rewards, actions, and states of the system.

Which one are you referring to?

[2019-07-11 21:17] cathywu opened #618 "rllib visualizer rendering"
The rllib visualizer now renders with many options, but the documentation does not yet reflect this. For instance, the `--save_render` flag overrides the SUMO rendering with pyglet, even if SUMO rendering is set. This should be clarified in the documentation.

[2019-07-11 21:18] cathywu commented on #618
@fywu85 Would you have thoughts on this one?

[2019-07-11 22:06] nathanlct commented on #596
@kjang96 I haven't tried the rllab example, but running `examples/rllib/stabilizing_the_ring.py` with Sumo/traci replaced by Aimsun seems to work for me (at least the RL vehicle is not driving smoothly at all).

[2019-07-11 22:34] #566 closed

[2019-07-11 22:38] nathanlct opened #621 "Aimsun training not working when loading a template via load.py"
## Bug Description

In `core/kernel/vehicle/aimsun.py`, in `_add_departed`:

- RL vehicles generated by Aimsun (via arbitrary type name "rl" for instance) are not associated to an RLController class in Flow, thus they are not really RL vehicles

- all vehicles are added in `self.__human_ids`, which is not true for RL vehicles

It is the same if we want some human vehicles to be controlled by Flow

[2019-07-11 22:41] nathanlct opened #622 "Aimsun tests"
## Feature Description

We need to have tests for Aimsun so that the examples depending on `generate.py` and `load.py` don't stop working all the time.

[2019-07-12 02:29] nanxintin commented on #614
Hi @eugenevinitsky ,

Thanks for your reply.
I have just looked through the tutorials, which includes the two things you mentioned above.
I want to train multiple autonomous vehicles with RL in the flow, while the multi-agent scenarios and examples are not clear enough at present. The multiagent_figure_eight example has one autonomous vehicle and an adversary vehicle.  This is different from class

[2019-07-12 02:41] eugenevinitsky commented on #614
So, it sort of depends on the exact scenario you want. The two example scripts in the multi-agent folder show to to create the policy graph that is assigned to the agents. Then, in your step function you need to return a dictionary of observations for each agent that you are training, and in your apply_rl_action method you need to use the action for each agent that was in the dictionary of observa

[2019-07-12 21:18] cathywu opened #628 "Remote extraneous output from SUMO loading"
## Feature Description

Remove extraneous output from Flow execution of SUMO. This output is displayed for every episode of RL training, which is quite extraneous.

Example:
[code]

[2019-07-13 20:38] #618 closed

[2019-07-15 06:32] cathywu opened #633 "Testing order in travis builds"
## Feature Description

We current check for flake8 and pydocstyle issues before actually running the unit tests. Can we consider running them afterwards? Folks may spend a lot of time re-formatting and stylizing code before realizing that the implementation was broken in the first place.

I suggest moving the following lines:
https://github.com/flow-project/flow/blob/0cee1b9cf427a409ec2fc5287626c

[2019-07-15 06:36] cathywu commented on #633
I realized that one downside is that it takes a lot longer to get the formatting / style errors, if one needs to wait for all the unit tests to run through. Alternatively, can we have a separate travis build that just does the style / format checks?

[2019-07-15 06:36] cathywu commented on #633
Or, can we have the travis build continue to the unit tests even if the linting fails?

[2019-07-15 07:41] KeithAnshilo commented on #608
I followed that syntax, yet this is the error that I get;

Traceback (most recent call last):
  File "flow/visualize/time_space_diagram.py", line 422, in <module>
    flow_params = get_flow_params(args.flow_params)
  File "/home/daremapua/flow/flow/utils/rllib.py", line 94, in get_flow_params
    for veh_params in flow_params["veh"]:
KeyError: 'veh'

[2019-07-15 11:43] nathanlct commented on #633
Good idea! Maybe it would even be possible to run flake8 and pydoc before installing the whole environment (ie in before_install), with just the packages we need (flake8, pydocstyle, maybe some other things) since they should run quite fast while building everything takes ~5 minutes each time.

[2019-07-15 16:40] cathywu commented on #633
+++ yes, that would be fantastic!

[2019-07-15 20:56] #467 closed

[2019-07-15 21:55] albenbagabaldo commented on #206
let's turn this into an interactive notebook

[2019-07-16 03:16] cathywu opened #636 "flow 0.4.0 seems to have broken mulit-agent grid experiments"
## Bug Description

After the sumo_binaries were updated in this latest upgrade to 0.4.0, I am no longer able to run my grid multi-agent experiments. I was successfully running experiments as of 0.3.1 (`commit c0c096eaf5646cf5b44a76861834a40cbc68cf2a` in `cathywu/flow:grid_avs`). Any ideas why?

## Bug Reproduce

File in which the bug occurred: `examples/rllib/multiagent_exps/multiagent_grid_avs.p

[2019-07-16 03:31] cathywu commented on #636
Sorry, this is my bad.

[2019-07-16 03:31] #636 closed

[2019-07-16 05:15] cathywu commented on #598
For reference: I updated the instance and created a new AMI with SUMO 1.0.0: `ami-01c3028573a3e1b39`

[2019-07-16 22:06] eugenevinitsky opened #637 "Deprecate RLlab"
It's time to kill RLlab. We're not using it anymore nor testing it and it's causing errors for users that we can reproduce. Thoughts? @AboudyKreidieh @fywu85 @cathywu and anyone else?

[2019-07-16 22:10] AboudyKreidieh commented on #637
based on discussions we've had during group meetings, the plan is to deprecate rllab in flow 0.5.0

[2019-07-16 22:10] eugenevinitsky opened #638 "Example scripts for openAI Baselines integration/Dopamine"
https://github.com/openai/baselines is a pretty common starting point for RL training. It'd be neat to integrate it. Alternately, we could also integrate Google's Dopamine: https://github.com/google/dopamine

The process would be:
(1) Add an example script that successfully uses one of these frameworks.
(2) Add a link to how to use it to the setup instructions.

[2019-07-16 22:10] cathywu opened #639 "Refactor traffic light env methods"
## Feature Description

A lot of code is shared between the multi-agent and single-agent traffic light environments. They are just slightly different. We can refactor them to use the same methods for more maintainability and software resilience.

Relevant files:
- `flow/multiagent_envs/traffic_light_grid.py`
- `flow/envs/green_wave_end.py`

This issue is prompted by https://github.com/flow-project

[2019-07-16 22:17] eugenevinitsky commented on #639
+1!

[2019-07-16 22:18] eugenevinitsky commented on #637
Nice. Okay.

[2019-07-16 22:20] cathywu opened #640 "Support both RL and non-RL lights in multiagent traffic light env"
## Feature Description

Currently the implementation assumes that all traffic lights are RL-based agents. This would involve explicitly keeping track of RL and non-RL traffic light agents.

Relevant files:
- `flow/multiagent_envs/traffic_light_grid.py:get_state()` (see inline comment)

This issue is prompted by https://github.com/flow-project/flow/pull/623#discussion_r304124102, thanks @eugenevini

[2019-07-16 22:25] cathywu opened #641 "Support different configurations of observed local lights/edges in multiagent traffic lights env"
## Feature Description

Currently the (partially observed) traffic lights environment is configured to observe the local nearest 4 lights and edges (up, down, left, right). We should support more flexibility in the observed lights and edges.

Relevant files:
- ` flow/multiagent_envs/traffic_light_grid.py`

This issue is prompted by https://github.com/flow-project/flow/pull/623#discussion_r30412410

[2019-07-16 23:11] cathywu commented on #638
Relatedly, we can integrate with https://github.com/hill-a/stable-baselines.

[2019-07-16 23:13] cathywu commented on #638
I do really like the idea of supporting a library with lightweight implementations of RL methods.

[2019-07-17 04:49] nanxintin commented on #614
Hi @eugenevinitsky, the controller in the grid0.py baseline is used to control the traffic lights.
How can I control multiple vehicles in the grid scenario? Is there any  open intersection scenario used for multi-agent negotiation in Flow?
Thanks.

[2019-07-17 16:40] eugenevinitsky opened #644 "Workflow tutorial"
If you're going to run FLOW at scale (e.g. on AWS), we should have a quick tutorial that runs you through this process. This involves:
1. Spinning up a cluster
2. Syncing the results to s3
3. Pulling the results from s3.
4. Visualizing them locally.
Alternately, this can also be a few lines on readthedocs

[2019-07-17 16:41] eugenevinitsky opened #645 "Workflow tests"
The process of:
1. Spinning up a cluster with our current AMI
2. Running a quick exp and syncing to some s3 folder
Should also be tested. The AMI breaks quite often and it'd be good to know it's coming.

[2019-07-17 17:41] cathywu commented on #645
+100

[2019-07-17 18:50] cathywu opened #646 "Environment performance upper bounds"
## Feature Description

It would be great to systematically produce performance upper bounds for new environments (a sense of the best we can hope to achieve), so that we have a reference point upon which to assess the learning methods. An easy thing to do would be to run the inflow one lane / edge at a time and add up the total throughput. Thus there is no contention between lanes / edges (from l

[2019-07-17 18:56] cathywu commented on #644
We could add a "For Developers" section to the readthedocs.

[2019-07-17 18:57] cathywu commented on #644
We can base it off of rllab's documentation, which I always found super helpful: https://rllab.readthedocs.io/en/latest/user/cluster.html

[2019-07-17 18:59] cathywu commented on #645
One possible consideration: it might cost us $$ to run tests, if we are spinning up EC2 instances every time we run unittests.

[2019-07-17 21:09] cathywu commented on #637
FYI it looks like a project called garage as succeeded rllab: https://github.com/rlworkgroup/garage. Maybe worth checking out.

[2019-07-17 21:13] cathywu commented on #638
Another library to consider is garage (https://github.com/rlworkgroup/garage) based on rllab. See also #637 .

[2019-07-18 06:42] cathywu opened #650 "Support evaluation parameters"
## Feature Description

We have environments which permit specifying variable vehicle inflows, vehicle densities, etc. (upon reset). However, when evaluating, we may want to evaluate on a specific inflow or density. For instance, when comparing against other methods for a specific setting.

How can this be supported naturally for a variety of environments? Do we want a separate EvaluationParams ob

[2019-07-18 07:04] jingyanping commented on #522
When I was running the  flow/examples/rllib/stabilizing_the_ring.py. it generated a series of files, such as 'checkpoint_20',  'checkpoint_40'..., 'progress.csv',  'result.json'.  When I finished training, I didn't know how to look at my training results. I read the documentation find that have two ways to resolve that,

 First : input code `python ./visualizer_rllib.py /ray_results/result_dir 1`

[2019-07-18 07:24] pnp91 commented on #522
@jingyanping The first command is used to visualize the files from any particular checkpoint number. But for this, you have to be in the path of Visualize file. You can make "cd flow/flow/visualize" and then view the output at one particular checkpoint. For example if you wish to see the output at checkpoint 40, then type the following after you are at visualize folder
python ./visualizer_rllib.py

[2019-07-18 07:48] jingyanping commented on #522
Thank you very much for your kind reply, i followed your suggestion,
'''
(flow) sean@ubuntu:~/flow/flow/visualize$ python ./visualizer_rllib.py /ray_results/stabilizing_the_ring/checkpoint 40
'''
But it has reported an error:
'''
Traceback (most recent call last):
File "./visualizer_rllib.py", line 384, in <module>
visualizer_rllib(args)
File "./visualizer_rllib.py", line 57, in visualizer_rllib
c

[2019-07-18 08:00] pnp91 commented on #522
I think the problem is you used wrong name for <exp_tag>.. It is not the name of .py file. But there is a parameter inside .py file called exp_tag, you have to copy that name. It is also the same name which you have inside your "ray_results" folder.
One more problem is checkpoint number. You just need to mention the number and not as "checkpoint_40".
Hopefully my below example screenshot helps you

[2019-07-18 08:32] jingyanping commented on #522
oh yes, i resolve that problem follow  your advice,Thank you very much!!!

[2019-07-18 08:35] pnp91 commented on #522
Cool! 😀

Kindly contact me in case of any concerns.

Thanks & Regards,
Niyathipriya Pasupuleti
Tel : +4915143598348

On Thu, 18 Jul 2019 at 10:32, jingyanping <notifications@github.com> wrote:

[2019-07-18 09:34] buechelmartin opened #651 "RayOutOfMemoryError when running stablizing_highway example"
Although this might be an issue of ray, since triggered from flow code, I decided to open this as a bug report here.
There seem to be a few ongoing issues with ray itself, where the origin of the problem most likely lies.
The purpuse of this bug report should be to make sure that eventually, flow will support future versions of ray, with all the correct configurations necessary to avoid this bug.

[2019-07-18 09:39] buechelmartin commented on #651
Additional info:
Installed flow following the installation guidelines using anaconda.

Ray Version: 0.6.1

[2019-07-18 10:11] buechelmartin opened #652 "Running num_cpus=1 leads to ray.tune.error.TuneError"
## Bug Description

For some reason which is not plausible to me, in the rrlib/stablilizing_highway example, Ray is inizialized with:

[code]
For sure, the naming is not ideal, which might be the only problem, if num_cpus needs to be NUM_WORKERS + 1.

But I can find some other misleading logs as described below:

Running the example with the lines above, it leads to the following log, saying it is

[2019-07-18 10:20] buechelmartin commented on #652
In reality, I have 8 CPUS on my laptop. Running num_cpus=8, I get:

[code]

The maximum number of workers I seem to get is 6 with num_cpus=7, when it says
`Resources requested: 7/7 CPUs, 0/1 GPUs`

[2019-07-18 11:55] jingyanping commented on #522
I'm sorry to disturb you again.
About the "tensorboard-logdir=~/ray_results" command, Is it meaning that when i open one terminal to train the vehicle, and input "tensorboard-logdir=~/ray_results" in another terminal at the same time? If i do that, the terminal show that" TensorBoard 1.9. 0 at http://ubuntu:6006 (Press CTRL+C to quit)", but i can't open the Link, i think that is not right.

At 201

[2019-07-18 12:02] pnp91 commented on #522
no.. you can do in any terminal after the training is completed.. you can
right click on the link and open it in new tab.
[image: Screenshot from 2019-07-18 14-00-38.png]

On Thu, 18 Jul 2019 at 13:55, jingyanping <notifications@github.com> wrote:

[2019-07-18 12:45] jingyanping commented on #522
Thanks!!!
i will try it!

At 2019-07-18 20:02:36, "niyathipriya" <notifications@github.com> wrote:
no.. you can do in any terminal after the training is completed.. you can
right click on the link and open it in new tab.
[image: Screenshot from 2019-07-18 14-00-38.png]

On Thu, 18 Jul 2019 at 13:55, jingyanping <notifications@github.com> wrote:

—
You are receiving this because you were mentioned.

[2019-07-18 16:30] cathywu commented on #651
Is it possible that your machine is indeed out of memory, as the error suggests? Can you try to see if you still get the same error with something like 10 rollouts instead of 50 or using an instance with more memory? For reference, we typically use instances with 30 GB memory.

[2019-07-18 23:46] cathywu opened #653 "Rewards --> Metrics"
## Feature Description

Let's consider refactoring `core/rewards.py` into `core/metrics.py` or similar. That way, folks can use the metrics as rewards or penalties as they wish. The current file is getting a bit disorganized with some functions specifying rewards and others specifying penalties.

Examples of current reward functions:
- `desired_velocity` -- sounds like a reward
- `average_velocity

[2019-07-19 08:37] fywu85 commented on #581
Closure pending #655

[2019-07-19 09:32] buechelmartin commented on #651
My machine has 16GB RAM, so yes that's the limit.
The question is why it is eating up all that memory. I would expect the memory usage being constant over the iterations? So if it can do the first 120 iterations, it should be able to do more as well?

At the time of writing this, the very same experiment keeps running now with N_CPU = 4 instead of 1 as when the error above happened. It just reache

[2019-07-19 16:49] cathywu commented on #651
Interesting. Yes, thanks for clarifying. The memory usage should not be dramatically increasing during the run of a flow experiment. If you have identified a memory leak in flow, we'd be very interested. Is it possible that old copies of the environment are sticking around in memory between iterations?

I personally have not had issues with processes falling asleep. We are aware of some recent ray

[2019-07-19 16:53] eugenevinitsky commented on #651
Hi @buechelmartin,

Do you see the processes fall asleep right before Ray prints out it's status report on the average mean, reward, variance etc.? It's possible that one of the rollouts is taking much longer than the other so most of the rollouts complete, go to sleep. The pattern you'd see if this is the case is only one process running, then all of the processes resuming all at once.

[2019-07-19 16:55] eugenevinitsky commented on #651
Also, can you try decreasing the total number of rollouts? This would help diagnose if it's an error due to the total batches from the rollouts eating up all of your memory i.e. keeping all of the information from the rollouts in memory smoehow winds up taking up too much memory.

[2019-07-19 17:16] buechelmartin commented on #651
@cathywu
I was fearing that this is a memory leak when opening this issue, since I sometimes got this error message too on another workstation with 64GB RAM. But on the occurence from the log above, I believe today this was a combination of a) flow already eating up most of the memory b) this weird zeitgeist-fts process peaking at the same time as c) Tensorboard peaking in memory usage.
I will rep

[2019-07-19 17:16] #651 closed

[2019-07-19 17:35] buechelmartin opened #657 "All processes falling asleep during flow experiment"
## Bug Description

During training the rrlib example "stabilizing_highway", all processes fall asleep and do not recover.

## Bug Reproduce
Probably hard to reproduce, I will provide more information as soon as available.
Running the example examples/rrlib/stabilizing_highway.py.
Happend with different settings of N_CPUS, N_ROLLOUTS, HORIZON.

## Output Log

no error messages. Last console output

[2019-07-22 14:47] eugenevinitsky opened #659 "wget is missing from conda/requirements.txt"
wget is a requirement for the sumo setup but is missing from our requirements files

[2019-07-22 14:48] eugenevinitsky commented on #659
Additionally, brew seems to be a requirement for macs.

[2019-07-22 18:00] eugenevinitsky commented on #475
This is done and can be turned into a PR.

[2019-07-22 18:16] eugenevinitsky commented on #657
Hi, we're really sorry that you're dealing with this and are looking into it ASAP.

[2019-07-22 18:54] ashkan-software commented on #475
Nice! Going to make it

[2019-07-22 18:56] #475 closed

[2019-07-22 21:51] eugenevinitsky opened #663 "Benchmark unit tests"
- Train a fixed policy for each of the benchmarks and upload them to Flow.
- Use the fixed policy's reward as a slow unit test that we can use to decide if we can upgrade SUMO version.

[2019-07-23 18:07] eugenevinitsky commented on #652
So, this isn't exactly a bug, the maximum number of works is your total number of CPUs - 1.

[2019-07-23 18:08] eugenevinitsky commented on #652
Additionally, many of the Ray algorithms require num_cpus greater than or equal to 2. We're working on porting in a lighter library than RLlib but in the meantime that should help?

[2019-07-23 18:28] #489 closed

[2019-07-23 22:26] eugenevinitsky commented on #638
Yeah, since we've already built all this support for rllib garage makes sense!

[2019-07-24 12:04] buechelmartin commented on #652
Well, Ray not giving back the correct total number of max. available CPUs I would call a bug.

On the Flow side, I feel it is definitely misleading to call that constant N_CPUS and comment it with "# number of parallel workers". Maybe this could reduce some confusion.

[2019-07-24 12:09] buechelmartin commented on #657
Hi, not sure what you can do here i fear, currently I cannot reproduce this myself. But I'll post if I find out more on my side...

[2019-07-24 19:40] #581 closed

[2019-07-24 20:06] AboudyKreidieh commented on #194
This is stale, closing unless someone is experiencing it now.

[2019-07-24 20:22] eugenevinitsky commented on #194
I'd like to reopen this, if this is a bug we need to track it. The minute @kjang96 gets back we can close it if it's actually stale.

[2019-07-25 02:52] jingyanping commented on #522
hello，
I'm sorry trouble you again. i have trained the auto car in a closed network using PPO algorithm, it can dissipate stop-and-go waves in the closed loop.(The PPO algorithm can also be replaced with other algorithm,such as A3C,DQN,DDPG,right?). i trained the auto car in closed network, Can it be migrated to an open-loop network,for example, on a single-lane road with one or two ramps? If so,c

[2019-07-25 08:05] pnp91 commented on #522
Hello Ping,

yes you can do that. You need to change in the scenario which you define
with the specify routes, specify connections and specify edges functions.
This is well explained further in tutorial on "how do we create our own
custom scenarios". Although building a scenario is  not a very easy task, I
would suggest you to follow the tutorial given in FLOW. They have
appreciable description wh

[2019-07-25 08:13] jingyanping commented on #522
OK,thank you very much for your reply!

At 2019-07-25 16:05:24, "niyathipriya" <notifications@github.com> wrote:
Hello Ping,

yes you can do that. You need to change in the scenario which you define
with the specify routes, specify connections and specify edges functions.
This is well explained further in tutorial on "how do we create our own
custom scenarios". Although building a scenario is not

[2019-07-25 08:15] pnp91 commented on #522
No problem :) All the best

On Thu, 25 Jul 2019 at 10:14, jingyanping <notifications@github.com> wrote:

[2019-07-25 19:09] eugenevinitsky commented on #522
Hi Jing, this is actually a very good question and something that's not incredibly easy to do at the moment (though we're working on making it easier)! It's definitely possible, but you have to mess around a good deal with rllib to make it work.

[2019-07-26 01:16] snageshr commented on #9
Hi when I try to run any scenario using SL2015 as lane change model I get an error as

Error: value '0' must be greater than or equal to minExclusive facet value '0'
 In file 'X/flow/flow/core/kernel/scenario/debug/cfg/highway_example_20190725-1726581564100818.2933977.add.xml'
 At line/column 4/430. I have enabled the sub-lane using 'lateral_resolution', also attached the .xml file. Can you provid

[2019-07-26 02:33] jingyanping commented on #522
Hi eugenevinitsky，I read a paper(Dissipating stop-and-go waves in the closed and open networks via deep reinforcement learning) from your team, which is to transfer the experience gained in the closed network to the open network through transfer learning. But i cant't understand how this is done now.
Another problem is that the auto car i trained in the closed network used the PPO algorithm in tut

[2019-07-28 01:25] #436 closed

[2019-07-28 01:25] #659 closed

[2019-07-28 04:04] zhouhao0605 commented on #553
@Antonio-Dominguez Hey buddy, I'm also trying the green_wave.py, just curious have you encountered the issue of sumo termination? I checked the error report, it seems the default horizon is a float variable, so it encounter problems when doing np.zeros( horizon,.)
I solved the issue by setting HORIZON to 1000. I am wondering did you have the similar experience and how do you solve that?
@eugenevin

[2019-07-29 20:42] eugenevinitsky opened #669 "Mac install shell script has mismatched quotes"
Line 4 of setup_sumo_osx.sh has mismatched quotes so that it can't actually run if you don't have brew.

[2019-07-30 13:37] cspatharis opened #672 "Different outputs in different version of Ubuntu"
Hello,

I'm facing a problem in the past few days. I am running the same experiment in 4 different PCs (2 with Ubuntu 16.04 and 2 with Ubuntu 18.04) and while the 2 Ubuntu 16.04 PCs manage to solve the problem perfectly, the Ubuntu 18.04 PCs behave differently.

Specifically, I'm running a multi-agent RL experiment where I have removed all the safety measures and collision are allowed. The goal is

[2019-07-30 16:46] eugenevinitsky commented on #672
Hello, this is extremely strange! Is there any way you could give us access to the scripts you are running so that we can test it?
At the moment the only possible error I can imagine is that the SUMO version between the machines is different.

[2019-07-31 13:06] nanxintin opened #673 "Decentralized multiagent_figure8"
Hi,
I am working on decentralized multi-agent training process.

In the examples/rllib/multiagent_exps, the multiagent_figure_eight.py has one autonomous vehicle and an adversary, which is different from the cooperative multi-agent setting.
I want to train multiple vehicles with decentralized PPO method, where agents can share the learning policy.
I refer to the "https://flow.readthedocs.io/en/lat

[2019-07-31 17:53] eugenevinitsky commented on #614
Oh my, I'm so sorry I missed this! You would have to do two things:
(1) In the run script you would have to add a policy graph for the vehicles similar to how it is done for the lights
(2) You would have to extend the _apply_rl_actions method in the environment to take the actions from the vehicles and actually apply them. For an example of that, look at any environment beside the grid environment

[2019-07-31 17:55] eugenevinitsky commented on #673
Hi @nanxintin,

Happy to help. It looks like you're extremely close, this is a minor bug. Could you give us the entire error? It's very hard to debug without it. I'd also recommend just setting a breakpoint break that line and checking that the values in rl_action_list are what you'd expect them to be.

[2019-07-31 17:55] eugenevinitsky commented on #673
Finally, if you open a PR I can actually step through your code and see what is going on.

[2019-08-01 09:32] nanxintin commented on #614
@eugenevinitsky  Thanks for your reply. I will working on this with your suggestions.

[2019-08-01 09:34] nanxintin commented on #673
Hi @eugenevinitsky, I check the values in rl_action_list, and change the action_space function to solve the bug. Thanks again.

[2019-08-01 09:34] #673 closed

[2019-08-01 21:19] AboudyKreidieh commented on #633
resolved by #634

[2019-08-01 21:19] #633 closed

[2019-08-01 23:47] AboudyKreidieh commented on #178
just checked on this and it is outdated/resolved, so closing

[2019-08-01 23:47] #178 closed

[2019-08-05 22:07] #175 closed

[2019-08-05 22:08] #277 closed

[2019-08-06 17:45] persimmon2014 opened #674 "Can't find module TraCI"
I have solved this issue. But I guess I'll make a note here. After I followed the installation step-to-step and ran the example sugiyama.py. The modules "flow" and "TraCI" can't be found.

By adding:
[code]
to sugiyama.py solved the "flow" module not found issue.

For finding TraCI, I had to do "(Optional) Direct install of SUMO from GitHub" from the installation tutorial and add the following lin

[2019-08-06 19:23] cathywu commented on #674
I've come across the same or similar issue (on OSX). I believe that @aboudy's
pre-compiled SUMO binaries tarball does not contain sumolib and TraCI, so
the installation instructions seem incomplete. How are we directing users
to install TraCI / sumolib?

[2019-08-06 19:30] eugenevinitsky commented on #674
We currently have them install it when they run python setup.py. We can, and should move this to the setup instructions/setup script.

[2019-08-07 13:46] pnp91 opened #675 "multiagent scenarios with different reward function unable to run"
Hello,
I have been working with Multi agents RL simulation but with different reward functions. It worked and unfortunately I had experienced a hard disk crash and had to reinstall everything from start. I have installed flow 0.3.0 version with ray 0.6.1 and Sumo

. I had previously worked with these same version set up. Unfortunately, multi agent files doesn't train and always throws a same error

[2019-08-07 16:42] eugenevinitsky commented on #675
Hmm, so we can look into the error and figure this out, but in terms of the fastest response to immediately make your errors go away, you could upgrade to Flow 0.4.0 which is compatible with a new version of SUMO that does not have this departure time bug anymore.

[2019-08-07 18:33] Antonio-Dominguez commented on #591
Hello @AboudyKreidieh @ashkan-software
I still have the same problem and I couldn't find any solution on StackOverFlow. Please check this out! Any help would be more than appreciated: [issue in StackOverFlow](https://stackoverflow.com/questions/56875030/mismatching-phase-size-in-tls-when-setting-up-more-than-one-lane-in-simple-grid)

FLOW FILES: [FLOW FILES](https://www.dropbox.com/sh/zpkb19wxaqmo

[2019-08-07 18:37] eugenevinitsky commented on #669
This was resolved in #670

[2019-08-07 18:37] #669 closed

[2019-08-07 19:15] AboudyKreidieh commented on #650
In other repositories you'd have a separate evaluation environment, which would be the same as the training environment but for a few inputs (e.g. setting a specific inflow). If this is something we're interested in, we can consider setting a flow_params input to the visualizers.

[2019-08-07 19:59] cathywu commented on #650
I wonder if it would make sense to have option command line inputs to the rllib visualizer for this purpose? Those parameters can feed a flow_params object like you suggest.

[2019-08-08 18:09] cathywu opened #678 "Extra sumo-gui pop-ups in visualizer"
## Feature Description

Currently, visualizing a policy (via `flow/visualize/visualizer_rllib.py`) with flow+rllib creates several (3?) extraneous instances of `sumo-gui` before the one that will actually play the policy. This is counter-intuitive to new users, and could cause them to believe that the visualizer is not working. Can we either avoid these instances or make clear in the documentation

[2019-08-09 16:15] AboudyKreidieh commented on #558
resolved by #671

[2019-08-09 16:15] #558 closed

[2019-08-12 02:39] weizi-li opened #680 "Issues regarding the Flow tutorials"
First of all, thank you for putting up all the tutorials! They are very helpful and I learned a lot from them.

Last week, I've started to learn these tutorials and found some aspects of the tutorials can be potentially improved. These aspects range from general suggestions and things I feel aren't very clear. I've also fixed some typos and made some edits, which will show in the pull request. In

[2019-08-12 07:00] ashkan-software commented on #680
Thank you very much @weizi-li for your time and writing such long and detailed description of your suggestions. We certainly take all of your suggestions into consideration. :)

[2019-08-12 12:42] eugenevinitsky opened #682 "Add multi-lane examples to green-wave"
The greenwave environment could come pre-configured with the ability to increase the number of lanes. This would help users with questions like these: https://stackoverflow.com/questions/57461233/increasing-lanes-for-grid-scenario

Currently, we explicitly assign inflows to all of the edges by enumerating them. It should be easy to extend this logic so that if you increase the number of lanes, tho

[2019-08-12 19:25] Antonio-Dominguez commented on #682
- Phase size changes when adding additional lanes. So, _state_ parameter in _phases_ variable in **grid.py** must be changed in accordance with the new phase size.

- __apply_rl_actions_  in **green_wave_env.py** also must be changed so that the call to _self.k.traffic_light.set_state_ won't send a state containing a wrong phase size in the online (TraCi) program.

- Connections between lanes/edge

[2019-08-12 21:22] fywu85 commented on #302
Closure pending #685

[2019-08-12 22:01] eugenevinitsky opened #686 "Add some gui-mechanism to binder"

[2019-08-12 22:13] #385 closed

[2019-08-12 23:14] AboudyKreidieh commented on #51
resolved by #679

[2019-08-12 23:14] #51 closed

[2019-08-13 04:36] ashkan-software commented on #682
Thank you @Antonio-Dominguez!

[2019-08-13 11:49] cspatharis commented on #672
I've mad a mistake to my algorithm, but it is still weird how the one managed to solve my problem. Anyway, sorry for the false alarm. :)

[2019-08-13 11:49] #672 closed

[2019-08-13 12:22] trainplane commented on #682
@Antonio-Dominguez Oh, thank you so much!

As far as I understood, The number of cars are not increasing in direct proportion to the number of lanes. The total cars are distributed among lanes (maybe equally, i didn't count :) ).

Is there a way to make total cars doubled instead of distributing them among lanes? I mean that for instance, 20 cars for one lane; 20 cars for another lane.

And lastly

[2019-08-13 15:46] Antonio-Dominguez commented on #682
Hello @trainplane !

By now the script enables you to create a nxm grid scenario and you can also add more lanes manually if you want. Given that this task hasn't been automatized yet, you have to do this kind of modifications (updating phase size, allowing turning movements, enable lane changing, injecting vehicles to other lanes, etc) by yourself.

You can alternatively try to modify `gen_custom

[2019-08-13 15:55] Antonio-Dominguez commented on #682
With respect to the warning message I get during my simulations (shown below), it seems that almost every vehicle in my simulations collides, because lane changing parameters are not well set up I guess. Every time a collision is produced, the vehicle is teleported and the simulation is restarted automatically without completing the horizon.

I'd like to change it so that vehicles do not collide b

[2019-08-13 21:12] kjang96 opened #687 "Upgrade Ray to 0.7.3"

[2019-08-13 21:14] kjang96 commented on #687
Some things I've found:

State spaces max and min values are strictly enforced now, so they need to be clipped. Something like if ```isinstance(self.action_space, Box):
                rl_actions = np.clip(
                    rl_actions,
                    a_min=self.action_space.low,
                    a_max=self.action_space.high)``` works.

The `redirect_output` arg from ray.init is deprecat

[2019-08-13 21:25] kjang96 commented on #682
Hi @Antonio-Dominguez, can you share your branch with me and I can take a look? The 'Teleporting vehicle' warning is something I got a lot once upon a time, and probably has something to do with parameters. I'll look into completing horizon despite collision --for reference, in the past we've circumvented the issue by preventing collision (i.e. via no_collide speed mode)

[2019-08-13 21:27] kjang96 commented on #639
Refactor in progress!

[2019-08-13 21:33] kjang96 commented on #608
Hi @KeithAnshilo sorry for the late response. The parameters of flow_params are passed  flow/utils/registry.py. If you look in that file, you'll see see many references to params with different keys such as params['exp_tag'], params['env_name']. Now, the parameters of flow_params need to match the key names you see in this file. Is this still an issue for you? If it is, can you give me the Flow ve

[2019-08-13 21:38] #596 closed

[2019-08-13 21:40] eugenevinitsky commented on #682
Yeah @Antonio-Dominguez, if you prefer not to put your code up, you can send us a link to a private repo or something. You've clearly been working at this a while and we would love to help resolve this.

[2019-08-13 21:47] eugenevinitsky commented on #680
Hi, I really do like the short MDP/RL tutorial suggestion. I think we will port one in.

[2019-08-13 22:39] eugenevinitsky commented on #682
To answer this directly if you want a a quick hack, base_env in its step method checks for a crash and if so sets done=True. If you want to disable it, you can remove that check.

[2019-08-14 06:03] xiaoToby opened #689 "Problem about Get_state() function based in multi-agent"
I saw  answer on that problem [https://stackoverflow.com/questions/56860049/how-to-write-get-state-return-based-in-multi-agent-based-on-agent-id](url)

There are some example codes: def get_state(self):
<
 def get_state(self):

        agent_state_dict = {}
        i = 0
        for intersection, edges in self.scenario.get_node_mapping():
            i = i + 1
            agent_id = self.agent_nam

[2019-08-14 14:25] Antonio-Dominguez commented on #682
Hello @eugenevinitsky and @kjang96,
First of all, thank you for your help. I really appreciate this. I just invited you to my private repository.

- `flow/examples/rllib/newGreenWaveGrid2.py` is the main script (a new version of `green_wave.py`). The `render` variable is set to false so that I can see what happens in the simulations.
- `flow/flow/scenarios/grid2.py` contains `SimpleGridScenatrio2`

[2019-08-14 15:37] xiaoToby commented on #680
Yeah, I also agree with the MDP/RL tutorial suggestion.
Because I also confront an issue that I want the routes to be random.
On sumo, there is an assistant file (randomTrip.py) to help to create random routes of a network,
but it cannot work on FLOW.
I think random routes function has a big influence on some project which based on FLOW.

[2019-08-14 15:47] buechelmartin commented on #657
I am still facing this problem. It happens many times with PPO, I never saw this when running ES.

I found the following in the RAY docu, but cannot really say if this is related or helpful in this case.

It currently almost always hangs during the evaluation at the end of an iteration. The last log output is:

[code]

I also created a stack dump at the moment while the processes are still sleepin

[2019-08-14 17:20] Antonio-Dominguez commented on #682
Just in case, check the new commit please, there was an error that I just fixed. It is good now.

[2019-08-14 19:47] kjang96 commented on #678
+111

[2019-08-14 20:08] eugenevinitsky commented on #678
Yeah, I hate this and have hated this for over two years now. Going to prioritize resolving this.

[2019-08-15 01:18] #614 closed

[2019-08-15 08:51] xiaoToby commented on #689
@cathywu @AboudyKreidieh @eugenevinitsky

[2019-08-15 14:37] bmwilly opened #691 "Environment reset is broken"
## Bug Description

The environment does not reset properly when `flow.core.experiment.Experiment.run` is called with `num_runs` > 1.

## Bug Reproduce

File in which the bug occurred: `examples/sumo/bottlenecks.py`

The exact command that you did run that caused the bug:
`python examples/sumo/bottlenecks.py`

## Output Log

[code]

## Versions

- OS: ? macOS 10.14.6
- Flow version: ? 0.4.1.dev
-

[2019-08-15 14:38] bmwilly commented on #691
possibly related: https://github.com/flow-project/flow/issues/491

[2019-08-16 20:01] kjang96 commented on #682
Hey @Antonio-Dominguez , I'm trying to replicate the problems right now. Regarding the first problem with the 'teleporting vehicles' warning message, this goes away if you set tau (the driver's desired (minimum) time headway) parameter to 1.1 in SumoCarFollowingParams. This is because the simulation step is set to 1, so if tau is <1 (which it is by default), the vehicle might move past the desired

[2019-08-16 20:11] ashkan-software commented on #689
This issue is being answered here (more discussion to be added soon) https://stackoverflow.com/questions/57488624/problem-about-get-state-function-based-in-multi-agent

[2019-08-16 20:11] #689 closed

[2019-08-16 20:45] kjang96 commented on #682
@Antonio-Dominguez About completing the horizon through failure, I would suggest installing RLlib in developer mode and taking a look at python/ray/tune/tune.py lines 242-264 and python /ray/tune/trial_runner.py 's step function. You should be able to customize what you want here. Let me know if you need any help on these suggestions.

[2019-08-16 20:52] Antonio-Dominguez commented on #682
Hey @kjang96. Thank you very much for your help!
Concerning the teleporting problem, I've set `tau` in `SumoCarFollowingParams` to 1.1 and then to higher values but I still get a lot of warnings. Do you know why?

[2019-08-16 20:52] Antonio-Dominguez commented on #682
Regarding the horizon problem, I followed instructions from @eugenevinitsky and it now works. In order to do this, I replaced the following code line in `base_env.py`:

`done = crash or (self.time_counter >= self.env_params.warmup_steps + self.env_params.horizon)`

for this new one:

`done = (self.time_counter >= self.env_params.warmup_steps + self.env_params.horizon)`

[2019-08-16 21:10] kjang96 commented on #682
@Antonio-Dominguez great! Thanks eugene.

Are you referring to the "Warning: Vehicle 'id_160' performs emergency braking with decel=-9.00 wished=7.50 severity=1.00, time=38.00." warnings? Increasing tau to be greater than the simulation step will get rid of the fatal teleportation (collision) warnings, but not the emergency braking warnings. The emergency braking warnings are caused by the RL-cont

[2019-08-17 00:08] eugenevinitsky commented on #682
Though of course, you can set things up to enforce safe phase timings by increasing the yellow time.

[2019-08-17 00:09] eugenevinitsky commented on #691
Hmmm, this is bad. Lets see if we can reproduce this and figure this out.

[2019-08-17 00:10] eugenevinitsky commented on #657
Oof. Did the RLlib guys agree to take a look? If not, I'll ping them.

[2019-08-19 05:54] ashkan-software commented on #600
maybe as the first step, rename `scenarios` to `networks`

[2019-08-19 12:20] pnp91 commented on #675
Hi Vinitsky,

Thank you for your feedback. As per your suggestion I have tried with new version of flow and the problem still persists. Only improvement I could see was I am now able to run only Stabilizing the ring scenario but none of the other scenarios like figure eight, cooperative merge works.
Is there any other suggestions or could you help me with understanding of what is missing, so that

[2019-08-19 15:23] Antonio-Dominguez commented on #682
@kjang96 Actually after increasing tau I still get the same kind of warnings, those related with the teleporting/collision problem. Is it maybe because I am still using flow 0.3.1 ?

[2019-08-19 20:39] #100 closed

[2019-08-19 21:53] #139 closed

[2019-08-19 21:57] #302 closed

[2019-08-19 21:58] #637 closed

[2019-08-19 22:01] #600 closed

[2019-08-19 23:26] eugenevinitsky commented on #682
I would certainly try upgrading and see if that resolves things.

[2019-08-20 15:23] JiqianDong opened #693 "Installation Error from Environment + Example"
I simply followed the latest installation tutorial from [documentation](https://flow.readthedocs.io/en/latest/flow_setup.html#installing-flow-and-sumo) on my Mac, High Sierra 10.13.6. The problem start from creating virtual environment.
[code]
After a number of errors, it says

[code]
I believe the error is within the MPI, so I manually installed it via
[code]

However, after I continue the instal

[2019-08-20 16:23] eugenevinitsky commented on #693
Hi @JiqianDong, thanks for the catch! Basically, the environment installs stable-baselines which requires MPI as a prerequisite and errors out. I've removed stable-baselines from the default install to fix this in #694. Appreciate you pointing it out.

As for your other error, have you tried closing and opening XQuartz? Also, it can take up to three to four seconds to connect to Traci.

Let me kno

[2019-08-20 16:57] JiqianDong commented on #693
Oh, indeed, after close and open XQuartz, it finally got connected. Thank you so much. I will just close this issue.

Thank you again for the quick reply.

[2019-08-20 16:57] #693 closed

[2019-08-20 18:49] veredhalperin opened #695 "install SUMO on windows"
in the installation tutorial, I don't see any option  of installing sumo for  windows (the scripts are only for mac or Ubuntu)
also the other option you brought for unsupported operating system (
Direct install of SUMO from GitHub)
 how should I install sumo for windows  and build the binary files

[2019-08-20 19:18] eugenevinitsky opened #696 "Coverage"
Get coverage up to 90% on:
- [ ] Bottleneck env @eugenevinitsky
- [ ] Renderer in base env @fywu85
- [ ] Bay bridge @eugenevinitsky
- [ ] Grid @kjang96
- [ ] Multiagent @eugenevinitsky
- [ ] Visuallizer Rllib @Yasharzf

[2019-08-20 19:24] eugenevinitsky opened #697 "Verbose flag"
We should have a flag that can be used to suppress all of the warnings so that the output is legible. It should NOT be the default because warnings that the cars have crashed are important.

[2019-08-20 21:47] eugenevinitsky commented on #691
Hi @bmwilly, I can't reproduce this. Are you running Flow greater than 0.3.1?

[2019-08-20 21:48] eugenevinitsky commented on #691
if you make a pull request I can try and reproduce there?

[2019-08-20 22:16] fywu85 commented on #695
For windows users, it is probably the easiest to install everything inside the Windows Linux Subsystem (WLS). For more information about WLS, check [this](https://docs.microsoft.com/en-us/windows/wsl/install-win10) out. To get a graphical interface to work inside WSL, check [this](https://www.makeuseof.com/tag/linux-desktop-windows-subsystem/) post.

[2019-08-21 01:16] KidTrunks commented on #571
Hi @fywu85 has there been a fix for this issue yet?

[2019-08-21 01:44] KidTrunks commented on #571
Hi, the issue has been fixed, I made the wrong changes. Sorry about the trouble, you may close it now thanks.

[2019-08-21 01:44] #571 closed

[2019-08-21 08:15] bmwilly commented on #691
@eugenevinitsky yep, I'm running Flow 0.4.1.dev. There's no PR to open since I've installed Flow with `pip install -e .` on a commit that lives on master (2294c94).

[2019-08-21 15:24] eugenevinitsky commented on #691
Yeah, okay that's a recent enough commit that I should be able to reproduce it. Let me give it another go.

[2019-08-22 18:14] Antonio-Dominguez commented on #682
So I updated Flow and SUMO and now I do not get the collision warnings anymore, it is OK now. Thank you very much.
You already have my code. Please let me know if I can help you out with this issue

[2019-08-22 18:17] eugenevinitsky commented on #682
@Antonio-Dominguez glad to hear it! Woohoo. I can of course merge your code in, but I would really appreciate a PR if you get a chance. Lots of people have been asking for features similar to what you developed.

[2019-08-22 18:27] Antonio-Dominguez commented on #682
Perfect! I will do it!

[2019-08-24 03:48] KidTrunks opened #701 "Rllib "Stabilizing the Ring" experiment AV not working as intended"
**This is a:** Question

**OS:** Ubuntu 18.04

**SUMO Version:** b'v0_31_0-812-g1d4338ab80'

**Describe the Issue:**
Hi I am trying to recreate the "Stabilizing the Ring" experiment almost identical to these videos you guys have provided:
https://sites.google.com/view/ieee-tro-flow/home

**However**, the AVs in my simulation do not show any signs of stabilizing the ring road.

I have used the foll

[2019-08-25 07:17] waterhorse1 commented on #9
Same Question as above. Can you provide your working solution please.
Thank you.@AboudyKreidieh

[2019-08-26 02:31] KidTrunks opened #702 "Rllib-Multiagent error: TraCIException"
**## Bug Description**

I am trying to run the Rllib-multiagent script: multiagent_stabilizing_the_ring.py
I have tried to run the script multiple times, and every time the simulation terminates at the 9th iteration with error processing event. The number of training iterations is set to 250.

**## Bug Reproduce**

**File in which the bug occurred:** /flow/examples/rllib/multiagent_exps/multiagent

[2019-08-26 02:37] eugenevinitsky commented on #702
Hi @KidTrunks, I suspect your SUMO version is the problem. If you upgrade to the new FLOW and use the new script there to install SUMO, that should do the trick.

[2019-08-26 02:41] eugenevinitsky commented on #701
Hi @KidTrunks, thanks for the thorough details on this issue. I'm going to set up a test this week that should help us debug why this is happening, but in the meantime, @AboudyKreidieh, do you have any ideas? I'm guessing you're the person who trained this model most recently.

[2019-08-26 02:42] eugenevinitsky commented on #701
@KidTrunks, what does the policy look like at the point at which the episode reward mean was maximized?

[2019-08-26 02:58] KidTrunks commented on #702
Hi @eugenevinitsky could you please link me the upgrade instructions to the new FLOW and SUMO version? Sorry I am unable to find the instructions.

[2019-08-26 03:14] KidTrunks commented on #701
Hi @eugenevinitsky  are you asking about the values for the policy_loss graph? If so it is: **smoothed:** 0.01944 **Value:** 0.0217 **Step:** 25.92M

[2019-08-26 03:16] eugenevinitsky commented on #701
Ah, no, I mean if you visualize the performance of the policy in a video at that point, how does it look? Should be at a pretty early iteration.

[2019-08-26 03:50] KidTrunks commented on #701
Hi @eugenevinitsky the point at which the reward_mean has maximized is around 40 iterations.

I have posted the video here please have a look:
https://www.youtube.com/watch?v=u9FApsudySU

It looks better than before however, the gap between AV and human still seems a bit wide?
Also, I thought AVs perform better given more iterations but it seems like it is not the case; but rather optimizes after

[2019-08-26 04:11] eugenevinitsky commented on #702
Hi @KidTrunks, you would just merge in the version that is on master and re-run the setup instructions for installing SUMO. Hope that helps!

[2019-08-26 07:47] trainplane commented on #682
@Antonio-Dominguez If it is possible, can you share your project? I have a couple of problems and maybe I can be good to look your project to find solutions.

[2019-08-29 05:37] KidTrunks commented on #701
Hi, the issue was solved after updating FLOW to 0.4.0 and reinstalling SUMO. AV performing as intended. The issue may be related to #702 .
Thank you for the help!

[2019-08-29 05:37] #701 closed

[2019-08-29 06:35] seedjack opened #703 "How to use FLOW on other simulators?"
Hello,
I want to change the simulator since sumo doesn't meet my project.
So,how to implement it? Do you have any suggestions?
thank you!

[2019-08-29 06:44] Yasharzf commented on #703
In addition to Sumo, Flow supports Aimsun which is a commercial software.

[2019-08-29 06:51] eugenevinitsky commented on #703
So, to build on this answer, @AboudyKreidieh and @Yasharzf have written flow so that it has a generic API that can be supported by any simulator (though it's a lot of work). If you look in flow/core, you can see a folder in which every folder has a base, aimsun, and traci file. The base file defines the API that every simulator has to implement, the traci and aimsun files are particular implementa

[2019-08-29 11:36] seedjack commented on #703
Hi @eugenevinitsky , thank you for your  answer, I will try to do it refer to the traci file.

[2019-08-31 02:30] KidTrunks commented on #673
Hi, I am also getting your problem except I am running /multiagent_stabilizing_the_ring.py

![ValueError](https://user-images.githubusercontent.com/45654203/64058192-f41f7980-cbea-11e9-9297-85e27dfd0e8d.PNG)

Could you please clarify what exactly you changed that solved this problem?

I would greatly appreciate your help. Thanks!

[2019-08-31 03:06] KidTrunks commented on #702
Thanks @eugenevinitsky the TraCIException was solved after updating FLOW and SUMO to the latest versions.

However, a different error occurred, preventing SUMO simulation.

**The file in which the bug occured is still:** /flow/examples/rllib/multiagent_exps/multiagent_stabilizing_the_ring.py (No changes are made to the master file)

**Output log:** ValueError: The truth value of an array with more

[2019-08-31 03:13] eugenevinitsky commented on #673
In your envs _apply_rl_action method, look at the values you are returning for the vehicle ids and for the accelerations.

[2019-08-31 06:41] nanxintin commented on #673
Hi @KidTrunks, you can  refer to the new example of multiagent_highway and flow/multiagent_envs/highway.py.

[2019-08-31 08:37] KidTrunks commented on #673
Turns out I had 2 AVs in the ring road when the environment MultiWaveAttenuationPOEnv only supports 1 AV on each ring. Thanks for the help @nanxintin  and @eugenevinitsky . The problem is now solved :)

One more unrelated question @eugenevinitsky . Is there a way to train multiple AVs on a single ring road? If so, is there an example script? Which environment do i use?

I am trying to stabilize a

[2019-09-02 02:27] KidTrunks commented on #556
Hi @basit2120 I am having the same problem. Could you please let me know which old version of FLOW solved this issue? And how did you install the old version?

[2019-09-02 15:40] #638 closed

[2019-09-02 15:42] AboudyKreidieh commented on #518
hi all, we have deprecated rllab and have switched to baselines, which I highly recommend anyone experiencing similar issues tries. closing this for now

[2019-09-02 15:42] #518 closed

[2019-09-02 15:49] #501 closed

[2019-09-02 15:50] AboudyKreidieh commented on #487
@eugenevinitsky is this still an issue? If so, we should assign it to someone

[2019-09-02 16:22] eugenevinitsky commented on #487
Yeah, there's a tiny issue here. It's mostly fixed, but, we don't pass the previous reward to the LSTM which can be an issue if the LSTM was trained with previous reward as an input.

[2019-09-04 04:50] eugenevinitsky opened #706 "Add fully autonomous intersection environment"
We want an environment with a single intersection in which only autonomous vehicles are driving. This can be done in SUMO by creating an intersection (you should be able to reuse the code from the Grid Scenario) and setting the traffic lights to be green in all directions.

[2019-09-04 05:06] eugenevinitsky opened #707 "Add an implementation of "Learning Multi-agent Communication with Backpropagation" to Flow"
It would be interesting to port a few basic communication environments/training procedures to Flow. In particular, a popular communications baselines is "Learning Multi-agent Communication with Backpropagation" (https://arxiv.org/abs/1605.07736). As a request for research, we'd appreciate it if someone added the training procedure from this paper to our codebase. For open source reproductions of t

[2019-09-04 10:41] seedjack commented on #682
Hi @Antonio-Dominguez and @kjang96
I follow the Tutorial 07, and import my own *.xml files.But,I get the same kind of warnings, those related with the teleporting/collision problem, even if **I set tau as 40**.**My FLOW version is 0.4 and SUMO is 1.3.**
How to fix it?

[2019-09-04 18:24] Antonio-Dominguez commented on #553
Hello @zhouhao0605 sorry for this late response, I just read this. I have encountered the problem of sumo termination but it was because there were some collisions in my simulation. Have you solved it yet?

[2019-09-04 18:53] kjang96 opened #708 "clip_actions in multiagent_env.py is not action_space agnostic"
## Bug Description

In the clip_actions function in multiagent_env.py, this statement is an issue: `rl_actions[key] = np.clip(action, a_min=self.action_space.low, a_max=self.action_space.high)`. In multiagent cases, we should allow for specifying particular action spaces, because these will vary in length and low/high.

## Bug Reproduce

File in which the bug occurred: `multiagent_env.py`

The exa

[2019-09-04 19:06] veredhalperin opened #709 "Unknown trainable: PPO in tutorial003"
hi
when I run in  tutorial003 (rllib) the part of
trials = run_experiments({
flow_params["exp_tag"]: {
"run": alg_run,
"env": gym_name,
"config": {
**config
},
"checkpoint_freq": 1, # number of iterations between checkpoints
"checkpoint_at_end": True, # generate a checkpoint at the end
"max_failures": 999,
"stop": { # stopping conditions
"training_iteration": 1, # number of iterations to stop afte

[2019-09-04 19:11] Antonio-Dominguez commented on #553
Hello again @kjang96 and @eugenevinitsky  ,

After doing what you suggested I finally could declare actuated and controlled traffic lights at the same time in my simulations and it worked.
The thing is that in the end, I only apply the **RL actions** to the traffic lights I wanna target. My grid contains 25 intersections, being only 5 of them controlled by the Agent. However, there are now a lot o

[2019-09-04 19:12] Antonio-Dominguez commented on #553
Hello @nathanlct , Can we reopen the issue?

[2019-09-04 21:29] eugenevinitsky commented on #682
@seedjack we haven't tested SUMO 1.3 yet btw, just a heads up.

[2019-09-04 22:49] kjang96 opened #710 "visualizer_rllib incompatible with multiagent for newest version of ray"
## Bug Description

In line 66 of visualizer_rllib.py, the code checks if a policy is multiagent by looking at whether or not `config.get('multiagent', {}).get('policy_graphs', {})` exists. The second key, 'policy_graphs', no longer exists. Instead, put 'policies.'

## Bug Reproduce

Full error output log:

[code]

## Screenshots

Screenshots:

![picture name](https://link/to/screenshot)

## Versi

[2019-09-05 02:17] seedjack commented on #682
@eugenevinitsky thank you for your reply.
I have tested in SUMO 1.1, but the problem is still. I upload my[ .xml files](https://github.com/seedjack/FLOW_test). Could you test it in your environment? Thank you again!
Following is my code. **I set tau as 2,and other params are default.**
It is a bug? Or caused by my wrong operation? If you find out anything, please let me know.
# my test code
from f

[2019-09-05 19:39] eugenevinitsky opened #711 "Add pedestrian support to FLOW"
Currently FLOW does not support pedestrians in SUMO. It would be great to add.

[2019-09-05 20:42] eugenevinitsky commented on #9
@AboudyKreidieh , do you have sufficient bandwidth for this or should we move this task to someone else?

[2019-09-05 23:31] eugenevinitsky commented on #553
Hmm, is there a branch up on your fork?

[2019-09-06 02:05] KidTrunks commented on #702
I

[2019-09-06 02:20] KidTrunks commented on #702
Hi @eugenevinitsky  I followed your advice and updated FLOW and SUMO to the latest versions. The previous issue is resolved, but a new issue appeared.

I am still running the same script using the same command.

**Bug Output:**
traci.exceptions.TraCIException: Invalid departlane definition for vehicle 'human_0_0';
must be one of ("random", "free", "allowed", "best", "first", or an int>=0

and,

tr

[2019-09-06 15:36] eugenevinitsky opened #712 "Add support for bus stops to Flow"
Currently FLOW does not support bus stops. The way to add this is to add support for being a vehicle of type bus to the TraciVehicle kernel and then add support for this declaration to the TraciScenario kernel. This is the format of the XML files the SUMO would require: https://sumo.dlr.de/wiki/Simulation/Public_Transport#Letting_Vehicles_stop_at_a_bus_stop

[2019-09-09 04:10] KidTrunks opened #715 "Feature Request for Multiagent_Rllib - Train Multiple AVs for stop-and-go Dissipating Controller"
**Feature Description**

Hi, I am trying to simulate a single-ring road scenario where multiple AVs are trained for a stop-and-go dissipating controller.

The experiment will be identical to the stabilizing_the_ring experiments shown on the Flow Journal except with multiple AVs on a single ring.
https://sites.google.com/view/ieee-tro-flow/home

Referring to the script located at: /flow/examples/rl

[2019-09-09 04:16] KidTrunks commented on #369
Error was solved after changing:
ray.init(redirect_output=True, num_cpus=CPUS)
to
ray.init(num_cpus=CPUS)

[2019-09-09 04:16] #369 closed

[2019-09-11 08:07] clemlecornec commented on #603
Hi!

I am currently learning flow and I have a very similar issue with a scenario I designed myself. If I manually add BaseScenario.net.xml into the cfg folder, it runs without issue. The code stabilizing_the_ring.py works also perfectly and creates automatically the file .net.xml needed in the cfg folder. Any idea of my mistake?
Thanks a lot in advance!

Here is the error:

python3 runBasicScenar

[2019-09-11 10:08] ugurkanates opened #716 "Tutorial page has wrong link"
## Bug Description

6th tutorial about how to create custom enviroments is replaced on repository with Networks from OpenStreetMap(7th repo) which led all liks in tutorial page to be broken pages.

https://flow-project.github.io/tutorial.html

[2019-09-11 13:31] Antonio-Dominguez commented on #553
@eugenevinitsky Not yet but I can create one if you want! (You still have access to my repository)

[2019-09-11 19:06] JiqianDong opened #717 "The irrational clip_action in step function in base_env.py"
First, a big thanks for writing such great API to connect SUMO / Aimsun. Flow is a huge contribution to transportation and reinforcement learning.

During my learning process, I figured out it is a little bit irrational regarding clip_actions in the step function in base_env.py.

in line 346 of base_env.py the step function calls the
`self.apply_rl_actions(rl_actions)`, however, in line 563, the `

[2019-09-11 19:59] ashkan-software commented on #716
Thank you @ugurkanates  for bringing this up. We will fix this. I believe this is due to a recent PR that updated the tutorials.
@kjang96 could you look into this?  A PR to fix the website can be sumitted to the "website Github", to replace the links with the correct ones.

[2019-09-11 23:35] temetski opened #718 "Passing a Env instance to flow_params when using rllib"
Currently, flow only accepts strings when passing Env names to register in `gym`. A consequence of this is that anyone wishing to add new classes would have to modify the `__init__.py` files of `flow.envs`, and add new modules directly in the flow namespace. If instead we can pass class objects directly to `flow_params`, users can gain much more flexibility in extending the functionality of flow w

[2019-09-11 23:38] eugenevinitsky commented on #718
Yes this is really good! Especially if we want users to be able to pip install flow this makes sense.

[2019-09-11 23:44] temetski commented on #718
I'll get a pull request ready. I'll start by overloading the `env_name` key first, so that we maintain compatibility with how Env names are currently passed, and see how you guys want to branch out from there.

[2019-09-11 23:49] eugenevinitsky commented on #718
Thanks! This is super helpful.

[2019-09-11 23:55] eugenevinitsky commented on #717
Hi @JiqianDong, this is a good point. We need a separate clip_action bool for Flow. I will open a PR for this. Thanks for catching it!

Could you clarify your latter question? You can in fact specify the initial vehicle position for RL vehicles using InitialConfig.

[2019-09-11 23:58] eugenevinitsky commented on #715
Hi @KidTrunks, apologies for the delay. You definitely can do this but will have to design a custom environment for this. The multiagent_stabilizing_the ring is slightly misnamed. Basically you need to take the stabilizing the ring apartment and you need to change it so that it outputs a dictionary ofrewards: one for each AV that you put into the system and returns a dictionary of observations one

[2019-09-12 01:39] JiqianDong commented on #717
Thanks, my last question is that
Currently in the InitialConfig, all the human_vehicles and rl_vehicles are distributed equally and simultaneously.

However,  I want a separate initial configuration for rl_vehicles. To be more specific, I want the InitialConfig only controls my human_vehicles in the scenario. For example, I want my human vehicles start at x0 = 10, but my rl_vehicles start at x0 =

[2019-09-14 09:58] nicofirst1 opened #721 "Tutorial 8 not working"
## Bug Description

Trying to execute the tutorial 8 I get an error regarding the name "myEnv".
I've add "myEnv" in the flow.envs.\_\_init\_\_.py so that the first lines look like this:
[code]
Moreover there should be a tutorial on how to make a custom environment using either *rllib* or *ray*.

## Output Log
Full error output log:

[code]

## Versions

- OS: macOS Mojave, Version: 10.14.6 (18G95)

[2019-09-15 00:55] KidTrunks commented on #715
Thank you for the clarification @eugenevinitsky. That makes a lot of sense now.
However, I am not sure if I am capable of changing the output dictionary.
But I will give it a try anyway. Cheers!

[2019-09-15 00:55] #715 closed

[2019-09-16 03:09] ashkan-software opened #722 "Remove Rllab from tutorials and other files"
## Bug Description

Currently, we are not supporting Rllab. Nevertheless, we have rllab material in other files, such as tutorial08, tutorial04, test_visualizers, .... We probably need to remove them or change them to Rllib.

Related question: https://stackoverflow.com/questions/57911733/custom-enviromnet-with-ray-rllib

[2019-09-18 01:05] mtgibson2014 opened #723 "Error in flow/flow/core/kernel/vehicle/traci.py line 908 - Why are we passing 1e-3 for the duration?"
I'm trying to simply run "python examples/sumo/sugiyama.py" and I'm getting an issue with something related to a function in the kernel. It seems like in "apply_acceleration" we are passing in a decimal -- 1e-3 , when the traci code is expecting an integer. Was I suppose to install/update something within the last months or is this an error in Flow?

**Code Snippet**
-------------------
`def apply

[2019-09-18 03:07] AboudyKreidieh commented on #723
Sumo changed the third input of `slowDown` in version 1.0.0 to required as input seconds instead of milliseconds, and since then we have replaced the 1 values with a 1e-3. You are probably still using sumo-0.31. I recommend you remove any sumo binaries you have on your laptop and reinstall them following our setup instructions

[2019-09-18 04:14] mtgibson2014 commented on #723
Thank you! It's fixed now.

[2019-09-18 04:14] #723 closed

[2019-09-18 04:20] mtgibson2014 opened #724 "Need to fix/relocated intersection.py in "flow/flow/scenarios/intersection.py" since the scenarios folder has been deprecated.."
In the file "flow/flow/scenarios/intersection.py" we subclass Scenario from "flow.scenarios.base_scenario". However, because the folder has been deprecated, we need to fix the file, and then relocate our file to the new "Network" file.

[2019-09-18 04:21] mtgibson2014 commented on #724
Alben and I will work on this - this is for Toyota.

[2019-09-18 22:23] eugenevinitsky commented on #711
As discussed, Marsalis is attached to this issue.

[2019-09-18 22:24] eugenevinitsky opened #725 "Add high fidelity truck models"
- [ ] Add vehicle types to flow
- [ ] Port in Saleh's deeptruck model

[2019-09-18 22:27] eugenevinitsky commented on #725
As discussed this issue has been assigned to Saleh and will add Sulaiman once he's on the Github. @albeaik do you know his github username?

[2019-09-18 22:29] eugenevinitsky commented on #682
As discussed I have assigned Toyota to this issue.

[2019-09-18 23:23] eugenevinitsky opened #726 "Add energy minimization rewards"
- [ ] Port fuel consumption models into flow
- [ ] Add a reward function based on these models.

Assigned to Toyota team.

[2019-09-18 23:27] eugenevinitsky opened #727 "Add a stabilizing the ring experiment with multiple multi-agent AVs"
As discussed this has been assigned to Aboudy and Samyak.

[2019-09-19 14:48] Antonio-Dominguez commented on #682
@eugenevinitsky So I have tried to publish my branch but I do not have de permission to do it. Could you please me grant me with it? I can work with multi-lane examples. Modifications are not made online but it works as mentioned above.

@trainplane

[2019-09-19 14:49] Antonio-Dominguez commented on #553
@eugenevinitsky @kjang96 same problem here, I cannot publish my branch, but I'd prefer to share mi code privately with you.

[2019-09-20 17:20] eugenevinitsky commented on #706
I think you have already built this @fywu85 ?

[2019-09-20 17:23] eugenevinitsky opened #728 "Transfer Challenge: Build a script that takes policies from one env and transfers it to another"
Options for such scripts:
- [ ] Transfer ring policy to any other env
- [ ] Transfer an image based policy to any other env
- [ ] Transfer a traffic light policy from one env to another.

[2019-09-20 17:23] kjang96 opened #729 "Aimsun EC2 Integration"
## Feature Description

Please provide:
We should provide support for running Aimsun experiments on AWS EC2. This should include creating a step-by-step pipeline for how to do this, setting up a license server, and writing documentation for this. For now, usage is internal.

[2019-09-20 17:28] eugenevinitsky opened #730 "Speed up Renderer"
The current pyglet renderer slows down the env step time to real time. This is too slow for training.

[2019-09-20 17:28] kjang96 opened #731 "Extended Intersections"
## Feature Description

Increase capability to create intersections with non-square geometries on SUMO and Aimsun. Discussion to follow in subgroup Toyota meeting.

[2019-09-20 23:55] temetski commented on #728
I've been thinking about this and it seems to me that the only way we can perform this transfer is given we have a trained policy from ring and an arbitrary target env (say, `MergePOEnv`), we would need to modify the `get_state` and `_apply_rl_actions` methods and somehow, **dump the compatible Env to a file**. Only then can the new (compatible) environment be loaded and use the learned policy fro

[2019-09-21 06:58] eugenevinitsky commented on #703
Closed. Best of luck!

[2019-09-21 06:58] #703 closed

[2019-09-21 06:58] eugenevinitsky commented on #696
Stale.

[2019-09-21 06:58] #696 closed

[2019-09-23 03:27] zhouhao0605 opened #734 "Revising Car following models"
Car following models should be added to SUMO, but after installing FLOW, it seems not easy to find where SUMO locates? Is it possible to locate SUMO's car following folder and do any revisions as we wish?

[2019-09-23 03:33] eugenevinitsky commented on #734
Hi,
So there's two options here. 1, if you have build a car following model in SUMO itself, you can call it in Flow just by passing the appropriate name to SumoCarFollowingParams(car_follow_model="your name here")
Alternately, you can just build a car following model in Flow by modifying BaseController which is located in flow/controllers/car_following_models.py
Hope that helps!

[2019-09-23 03:42] zhouhao0605 commented on #734
Hi Eugene, thanks for your prompt response. Acutally I have difficulty finding where SUMO folder locates after installing FLOW. I did build my own car-following model based on IDM code downloaded from github. Now I'm trying to find my local SUMO files and replace it.
I'm wondering is the SUMO visible after we install FLOW? I'm using Ubuntu 18, I tried to search SUMO folder but it was not successfu

[2019-09-23 03:45] zhouhao0605 commented on #734
@eugenevinitsky The second option sounds really cool. It's a bit cumbersome to revise CF models in SUMO itself. FLOW makes our life easier.

[2019-09-23 04:46] eugenevinitsky commented on #734
Glad to hear it :). You can find the SUMO folder by running `which sumo`.

[2019-09-23 12:34] zhouhao0605 commented on #734
@eugenevinitsky I tried echo$SUMO_HOME and which SUMO, but they only tell me the location of SUMO binary.
`(base) hao@Hao:~$ echo$SUMO_HOME
bash: echo/home/hao/sumo_binaries/bin: No such file or directory
(base) hao@Hao:~$ which sumo
/home/hao/sumo_binaries/bin/sumo
`

When I installed SUMO with FLOW, I was doing `scripts/setup_sumo_ubuntu1804.sh
`, it seems I only installed sumo_binary?

This is

[2019-09-23 14:48] zhouhao0605 commented on #734
@eugenevinitsky Hi Eugene, I managed to use the second method you mentioned to modify the existing IDMController. But I noticed that, I can only modify the IDMController, rather than adding a new controller to the flow/controller/car_following_models.py. When I tried to add a new model using:
`class  NewController(BaseController)` Later it will report error like: cannot import NewController .
Any

[2019-09-23 17:02] eugenevinitsky commented on #734
Ah yeah, that's right. We've pre-built the binaries for you to avoid incompatibility issues we were seeing and all sorts of versioning errors. You can of course install your own version of SUMO and point flow at that instead.

[2019-09-23 17:13] zhouhao0605 commented on #734
Thanks @eugenevinitsky
Could you please teach me how to point FLOW to my own SUMO?

[2019-09-23 17:20] kjang96 commented on #48
Livening this thread up again -- this feature request is part of our new dev cycle.

[2019-09-23 17:38] Antonio-Dominguez opened #736 "Plotting non-learning data in TensorBoard"
Thanks to TensorBoard, I am able to visualize some learning parameters such as the mean reward, entropy, etc. I was wondering if there's a way to plot custom data as the number of standstill vehicles in a given intersection, the global delay, mean travel time and other non-learning sets of data (more related with the simulation itself and not with the learning process).

- Is it possible? If yes,

[2019-09-23 17:42] eugenevinitsky commented on #736
Yes! We don't have it yet but we would LOVE this feature. Here's a guide to how you can do it:
(1) Store the relevant info in the info dict that is returned in base_envs step function
(2) Log it to tensorboard like so: https://ray.readthedocs.io/en/latest/rllib-training.html?highlight=callback#python-api

[2019-09-23 17:46] eugenevinitsky commented on #734
If you look in your ./bashrc (if you are running bash) we add the path to sumo to your path. Just change the relevant variables to point to your sumo installation instead.

[2019-09-23 17:54] zhouhao0605 commented on #734
Thank you! I appreciate your help and patience.

[2019-09-23 17:56] eugenevinitsky commented on #734
No worries! Psyched to see what you do with Flow!

[2019-09-23 18:07] Antonio-Dominguez commented on #736
Alright! I'm gonna work on that and I will let you know. Thank you!

[2019-09-24 01:48] eugenevinitsky commented on #724
Is this an active bug in the master branch?

[2019-09-25 01:55] mtgibson2014 opened #738 "Why do we have AIMSUM path parameters in "flow/config.py"?"
This is going to cause problems for people pulling from the master branch and any other branch with the default file inside - because it's going to cause merge conflicts or reset everytime.

[code]

[2019-09-25 03:09] mtgibson2014 commented on #724
This is no longer a bug. Thanks!

[2019-09-25 03:09] #724 closed

[2019-09-25 19:57] temetski commented on #728
I realized that the goal isn't to transfer and retrain the policy, but rather to just transfer and reapply it to a different setting. Hence, writing an env to a file is not necessary.

One challenge is that the `action_space`, `observation_space`, `get_state`, and `_apply_rl_actions` sometimes depend on `ADDITIONAL_NET_PARAMS` and `ADDITIONAL_ENV_PARAMS`, which makes copying these methods to from

[2019-09-25 22:04] temetski commented on #718
Closed by #719

[2019-09-25 22:04] #718 closed

[2019-09-26 09:12] nanxintin opened #739 "Error when running multiagent_highway.py"
When running the new version of flow(0.5.0.dev), there is an error:

Traceback (most recent call last):
  File "/home/shaokun/projects/py3.5-ray0.7.3/lib/python3.5/site-packages/ray/tune/trial_runner.py", line 498, in _process_trial
    result = self.trial_executor.fetch_result(trial)
  File "/home/shaokun/projects/py3.5-ray0.7.3/lib/python3.5/site-packages/ray/tune/ray_trial_executor.py", line 34

[2019-09-26 21:43] eugenevinitsky commented on #739
Ooh, good catch. This is going to be a bug with the most recent rllib version. We will try to fix this quickly. This occurs when there are crashes, you can temporarily fix this by removing the check that sets done = True if there is a crash.

[2019-09-27 21:14] temetski commented on #738
Should be resolved in #740.

[2019-09-27 21:14] #738 closed

[2019-10-01 16:48] Yasharzf opened #743 "Update setup_aimsun.sh script"
## Bug Description

Conda has removed python 2.7.4 from its existing channels. As a result, when we run setup_aimsun.sh, we get an error.

## Bug Reproduce

File in which the bug occurred: `setup_aimsun.sh`

The exact command that you did run that caused the bug:
`setup_aimsun.sh`

## Output Log
Full error output log:

[code]

[2019-10-01 21:37] AboudyKreidieh commented on #743
hi @Yasharzf I've picked up this issue with @albenbagabaldo and told him how to fix it / asked him to PR the solution. Essentially though, you need to run this:

[code]

[2019-10-01 22:04] temetski commented on #743
Is there any particular reason to pin it to 2.7.4? I actually noticed this when setting up aimsun, and just forced python to use 2.7.16 and i was able to run the example scripts.

[2019-10-01 22:28] Yasharzf commented on #743
In the older versions of Aimsun we had to install python 2.7.4, but it is not an issue anymore. I am using 2.7.13 and it works fine. We don't need to append the channel to Conda. We can just replace 2.7.4 with another version like 2.7.13.

[2019-10-01 22:29] eugenevinitsky commented on #743
Does aimsun not support python 3? This will be a problem in the near future.

[2019-10-01 22:31] Yasharzf commented on #743
As far as I know they are working on it.

[2019-10-01 22:45] #652 closed

[2019-10-06 22:37] #743 closed

[2019-10-07 09:47] NickL77 opened #747 "[Tutorial07] File directory for LuSTScenario is incorrect"
In Tutorial07, the path to fetch LuSTScenario's xml files are incorrect. They currently point to `/network/`, but as the [repo](https://github.com/lcodeca/LuSTScenario) shows, it should repo be replaced with `/scenario/`.

Also, as a minor note, the current version of the ipynb includes code blocks that have already been run. Those can be cleaned up.

[2019-10-07 18:09] buechelmartin opened #749 "Calculation of inflow_rate and outflow_rate"
## Bug Description
Seems to me that there is something the wrong way round in the following code within tracy.py

` def get_inflow_rate(self, time_span):
        """See parent class."""
        if len(self._num_departed) == 0:
            return 0
        num_inflow = self._num_departed[-int(time_span / self.sim_step):]
        return 3600 * sum(num_inflow) / (len(num_inflow) * self.sim_step)`

`d

[2019-10-07 18:14] eugenevinitsky commented on #749
Yeah, sorry for the confusion. So, the way SUMO names things is kind of odd. Arrived vehicles are vehicles that have left the system, departed vehicles are vehicles that have just entered the system. Hope that clears things up.

[2019-10-07 18:15] buechelmartin commented on #749
Oh thanks I just realized by having a closer look to the rest of the code. Sorry for that!

[2019-10-07 18:18] eugenevinitsky commented on #739
Hi @nanxintin we currently have a developer working to fix this now. Sorry for the delay.

[2019-10-07 21:35] buechelmartin commented on #749
Still trying to find the explanation for some weird finding I made.

Now I stepped over the following

`            # updated the list of departed and arrived vehicles
            self._num_departed.append(
                len(sim_obs[tc.VAR_DEPARTED_VEHICLES_IDS]))
            self._num_arrived.append(len(sim_obs[tc.VAR_ARRIVED_VEHICLES_IDS]))
            self._departed_ids.append(sim_obs[tc.VAR_

[2019-10-07 21:40] buechelmartin commented on #749
This would not explain my finding. Therefore my next question:
Does
sim_obs[tc.VAR_ARRIVED_VEHICLES_IDS]
contain the RL vehicles too? The outflow rate on examples with just human vehicles is much bigger in my experiments, although the average velocity is a lot smaller.

[2019-10-07 21:47] eugenevinitsky commented on #749
Hi, I think you may be slightly behind master. That's a bug that was fixed a month or so ago. The codebase now reads:

            self._num_departed.append len(sim_obs[tc.VAR_DEPARTED_VEHICLES_IDS]))
            self._num_arrived.append(len(sim_obs[tc.VAR_ARRIVED_VEHICLES_IDS]))
            self._departed_ids.append(sim_obs[tc.VAR_DEPARTED_VEHICLES_IDS])
            self._arrived_ids.append(sim_o

[2019-10-07 21:47] eugenevinitsky commented on #749
Also, yes, it will contain both the RL and the human vehicles.

[2019-10-07 22:30] kevin-thankyou-lin commented on #691
Hi @bmwilly the issue doesn't exist on master, so we recommend that you could update to master.

[2019-10-08 03:33] nanxintin commented on #739
@eugenevinitsky  Thanks for your work.

[2019-10-08 09:01] #691 closed

[2019-10-08 17:35] temetski opened #752 "[Aimsun] Flow cannot be run outside flow directory when running Aimsun"
## Bug Description

Because Aimsun uses python2.7, flow is not visible as a module. When flow is run outside the flow directory, and a call to `flow/utils/aimsun/load.py` is made, it is unable to find `flow.utils.aimsun.scripting_api` and `flow.config` as flow is not installed as a python 2.7 module.

This would easily be fixed if Aimsun uses python 3.

## Bug Reproduce

File in which the bug occu

[2019-10-10 03:05] nanxintin commented on #739
Hi @eugenevinitsky , I have another question about the multiagent_highway example. At present, we use one PPO policy shared among all the agents to control the acceleration of each vehicle. Can we use two or more different policies during training ? In other words, can we apply different policies for each vehicle or part vehicles ? If so, could you give me some suggestions to achieve that ? Thanks

[2019-10-10 18:35] Yasharzf commented on #752
We need to switch to External Agent Interface of Aimsun which can help us avoid dealing with python 2.7 issues. But for now, you can export the path to PYTHONPATH (`export PYTHONPATH="/path/to/flow:$PYTHONPATH"`). We need to add to this to the installation docs.

[2019-10-10 18:49] temetski commented on #752
I'll work on a PR for this.

[2019-10-10 18:53] Yasharzf commented on #752
Great! Thanks!

[2019-10-10 22:29] jenachoi commented on #707
Hi Eugene, I'm interested in contributing. Would I be able to be an assignee for this feature?

[2019-10-11 00:01] eugenevinitsky commented on #707
Oh my god yes that'd be amazing. I've assigned you.

[2019-10-11 00:01] eugenevinitsky commented on #707
Please reach out if you get stuck or need help.

[2019-10-11 19:33] AboudyKreidieh commented on #564
The branch associated with this issue has been merged.

[2019-10-11 19:33] #564 closed

[2019-10-11 19:35] AboudyKreidieh commented on #346
Might be overreaching. Closing this until we actually want it.

[2019-10-11 19:35] #346 closed

[2019-10-11 19:35] AboudyKreidieh commented on #747
The PR associated with this issue has been merged. Thank you again for bringing this to light.

[2019-10-11 19:35] #747 closed

[2019-10-11 19:36] AboudyKreidieh commented on #710
This is resolved in the latest version of flow.

[2019-10-11 19:36] #710 closed

[2019-10-14 01:55] KidTrunks commented on #702
Issue is closed because 2 AVs are used in the simulation while Multiagent at the moment will only work with 1 AV.

[2019-10-14 01:55] #702 closed

[2019-10-15 15:37] temetski commented on #752
Addressed by #753.

[2019-10-15 15:37] #752 closed

[2019-10-15 17:40] nicofirst1 opened #755 "Keeping agents in osm map during episode"
## Feature Description

I'm currently using flow to train a MAS system with _MADDPG_ algorithm ([here](https://gitlab.com/nicofirst1/mas_traffic)). During the sampling I get [this](https://github.com/ray-project/ray/issues/5913) error which is due to the RL agents being removed during the episode.
Since I'm using an imported OSM map neither the _MinicityRouter_ nor the [\_reroute_if_final_edge](ht

[2019-10-15 18:16] eugenevinitsky commented on #755
Hi @nicofirst1, in terms of a quick fix, would it work to have an inflow of vehicles in your system or do you need there to be a fixed number of vehicles in your system at all times? If the latter, we can push a fix to add such an option to OSM maps.

[2019-10-16 04:42] stoneandstone opened #756 "Tutorial 2 Import Error"
## Bug Description

In tutorial 2, when i run python scrip ' from flow.networks.ring import RingNetwork', system return a importerror.  At beginning i thought conda environment is not suitable. I checked the conda environment packages and file 'environment.yml' , i think it is ok, every package is correctly installed. lxml version is 4.2.4 , same as environment.yml .

## Bug Reproduce

File in whi

[2019-10-16 06:58] nicofirst1 commented on #755
Unfortunately I need to have a fixed number of RL vehicles during the episode.

[2019-10-16 18:30] AboudyKreidieh commented on #687
resolved

[2019-10-16 18:30] #687 closed

[2019-10-16 19:37] eugenevinitsky commented on #756
@kevin-thankyou-lin is there a chance you could take a look at this and see if you can reproduce it?

[2019-10-16 19:39] eugenevinitsky commented on #755
I see. Would it be sufficient to just check if the edge is the final edge in your list of routes and return it to the first element in the route?

[2019-10-16 20:01] nicofirst1 commented on #755
Yes, as long as I have a constant number of agents during the episode.

[2019-10-16 20:56] kevin-thankyou-lin commented on #756
Yeah, for sure. I don't have the license for Aimsun, so I don't think I can run everything in tutorial 2. That said, the line

"from flow. networks. ring import RingNetwork"

works fine in my "flow" conda environment.

@stoneandstone If you haven't already, I'd check out this page: https://github.com/flow-project/flow/blob/master/tutorials/README.md

Specifically, I'd check if any of this fixes th

[2019-10-17 05:26] AboudyKreidieh commented on #563
this is a duplication of #192, so closing

[2019-10-17 05:26] #563 closed

[2019-10-17 05:36] #345 closed

[2019-10-17 05:38] AboudyKreidieh commented on #463
closing this since it is stale. @fywu85 's comment stands for Windows users

[2019-10-17 05:38] #463 closed

[2019-10-18 09:29] nicofirst1 commented on #755
Any update on this?

[2019-10-18 16:29] eugenevinitsky commented on #755
Yep! It'll take a bit longer to get it merged in (need to write unit tests for it) but I've opened a PR #759 that gives an example of how you might do this. Hope that helps!

[2019-10-18 18:03] KarlRong commented on #9
I encounte the same problem and resolve it by modity the value of "lc_impatience" from "0" to "0.1". Besides the value of "lc_time_to_impatience" also cannot be "inf", I choose "1" to avoid error.
I believe this problem is relevant to XML scheme. But it's too complex to me and I still dont know the reason. Please notify me if you get any clue on this problem.
Hope flow can have better support for

[2019-10-19 00:58] eugenevinitsky commented on #9
Yeah, this is a low priority for us but I expect this feature to show up over the next month. Thanks for the sugestions!

[2019-10-20 16:27] jenachoi commented on #707
Hi Eugene, I've noticed that we currently use ray.rllib for the reinforcement learning algorithm. Do you suggest implementing CommNet from scratch to replace the existing RL algorithms supported by ray.rllib?

[2019-10-21 02:51] eugenevinitsky commented on #707
Hi Jenna,
So in this case of the CommNet, there isn't an algorithmic change, it's just a model. So you would just need to implement the model; the actual construction of a policy gradient would just be handled by rllib.

[2019-10-21 15:12] ctc199625 commented on #749
I open terminal and activate the flow,when I start to input python examples/rllib/figure-eight,the surface show the mistake about     Couldn't import `requests` library. Be sure to install it on the client side.
Maybe I need some help.I just started last week.Thank you!!

[2019-10-23 00:43] chinmaySwami opened #760 "Observation outside expected value range when executing multiAgentRL_Ring.py"
Hi,

When executing the multiAgentRL_Ring.py following error is being received.
ray.tune.error.TuneError: ('Trials did not complete', [PPO_MultiWaveAttenuationPOEnv-v0_0_lr=1e-05])

reason for that seems to be
ValueError: ('Observation outside expected value range', Box(3,), array([ 0.19800116, -0.05078842,  0.04750252]))

[2019-10-23 00:44] eugenevinitsky commented on #760
Thanks for pointing this out. I will have a PR up in 5 minutes.

[2019-10-23 00:50] eugenevinitsky commented on #760
If you pull master this bug should be resolved.

[2019-10-23 00:51] eugenevinitsky commented on #749
Uh, which file is importing the requests module?

[2019-10-23 00:53] eugenevinitsky commented on #760
Let me know if it's resolved and I will close the issue. Otherwise, let me know what's happening!

[2019-10-23 01:35] chinmaySwami commented on #760
Hi,

I carried out the changes that you did to file wave_attenuation.py.  However, even though the code terminated its still giving the same error in the log.
But let me run it for multiple iterations and get back to you.

[2019-10-23 02:09] eugenevinitsky commented on #760
The exact same bug?

[2019-10-23 14:14] chinmaySwami commented on #760
Hi,

I ran into same error both with same.
'Training_iteration':1 : The code threw similar error but did execute successfully and a check_point was created.
'Training_iteration':200 : Same bug was observed as reported earlier
'Training_iteration':200, RL agents : 2 : Same bug was observed as reported earlier

[2019-10-23 16:51] eugenevinitsky commented on #760
See, I'm just confused because the Box now has a low value of -1 and so shouldn't error for values being < 0. Can you post the error you're seeing now?

[2019-10-23 20:14] chinmaySwami commented on #760
Hi,

This is from the error file generated:

Traceback (most recent call last):
  File "/home/jiyeon/anaconda3/envs/flow/lib/python3.6/site-packages/ray/tune/trial_runner.py", line 498, in _process_trial
    result = self.trial_executor.fetch_result(trial)
  File "/home/jiyeon/anaconda3/envs/flow/lib/python3.6/site-packages/ray/tune/ray_trial_executor.py", line 342, in fetch_result
    result = ra

[2019-10-23 23:00] eugenevinitsky commented on #760
@AboudyKreidieh pointed out that there's an additional error here where we divide the headway by 230 but your network is of length 1000. I'll push up a PR shortly and point you to it.

[2019-10-24 00:51] eugenevinitsky commented on #760
As a quick hack you can go into the env and in get_state increase the normalization constants so you're dividing by 1000.

[2019-10-25 03:32] ZhongxiaYan commented on #628
Added some code to fix this in a PR, not sure if it's compliant with flow developers

[2019-10-26 20:50] #628 closed

[2019-10-27 18:26] chinmaySwami commented on #760
Hello Eugene,

Apologies for the delay in response. I don't understand. My network is of length 1000 ? I am using the same code as in the tutorial. The only thing I changed is training iteration. So the length of ring is  230 as per the code

[2019-10-28 03:00] ZJP1993 opened #764 "How to use my personal deep reinforcement algorithm to control RL cars?"
In tutorial 3, PPO is the default algorithm to control RL cars. I want to use a new kind of deep reinforcement algorithm to improve performance of RL cars. I already have some ideas about modifying algorithm, but I dont know how to modify code to apply my ideas.
Thanks ^_^

[2019-10-28 03:00] eugenevinitsky commented on #764
HI @ZJP1993, the easiest way to do it is to write a custom algorithm in RLlib/stable baselines or modify one of their algorithms. Both libraries have a bunch of documentation on writing custom algorithms.

[2019-10-28 03:07] eugenevinitsky commented on #764
Once you have that custom algorithm, each of our run scripts has an alg_run parameter that you can replace with the name of your algorithm.

[2019-10-28 05:03] ZJP1993 commented on #764
@eugenevinitsky  thank you very much

[2019-10-28 05:03] #764 closed

[2019-10-28 22:39] eugenevinitsky commented on #755
Hi, I'm closing this for now. Hoping your project got finished up alright!

[2019-10-28 22:39] #755 closed

[2019-10-28 22:40] eugenevinitsky commented on #749
@ctc199625 could you open a separate issue? This seems unrelated to the previous issue.

[2019-10-28 22:40] #749 closed

[2019-10-28 22:44] eugenevinitsky commented on #739
Oh man, I'm sorry I missed this. This bug is resolved in #767. As for your other question, you can have as many policies as you want! You just need to instantiate an additional policy and add it to the policy graphs.

[2019-10-28 22:45] eugenevinitsky opened #768 "Create a user slack channel"
We need to
- [x] Create the slack channel
- [ ] Create a form for applying to join it (or make it open)
- [ ] Add a link to the github and the website.

[2019-10-29 04:52] #739 closed

[2019-10-30 13:15] littlesevenmo opened #770 "Images in Tutorial have wrong link"
## Bug Description

Images in Tutorial have wrong link.

When I try to load tutorial in VScode, I found that the Images in tutorial have wrong link.

## Screenshots

Screenshots:

![pic1](https://user-images.githubusercontent.com/7915267/67861064-61ec1100-fb5a-11e9-9767-ad870054379e.jpg)
![pic2](https://user-images.githubusercontent.com/7915267/67861067-631d3e00-fb5a-11e9-9162-bbe41a0b0430.jpg)

[2019-11-03 04:24] ZJP1993 opened #771 "I cannot find the reward function"
Recently I tried to modify flow examples which are based on RLlib. But I cannot find where the reward function is. I tried to find the reward function in which .py file but failed...
Thanks ^_^

[2019-11-03 07:09] ZJP1993 commented on #771
I got it...   When I search "reward" in this repository, I find the formula of reward function.

[2019-11-03 17:46] eugenevinitsky commented on #771
The reward functions are defined in each of the env files. So the function you are looking for is compute_reward. For example, look at compute_reward here: https://github.com/flow-project/flow/blob/master/flow/envs/bay_bridge.py

[2019-11-04 12:04] ZJP1993 commented on #771
@eugenevinitsky  Thank you for your guidance ^_^

[2019-11-04 12:04] #771 closed

[2019-11-04 12:11] HenryJia opened #772 "[Documentation] The readthedocs documentation is very limited"
Sections on the code documentation is limited very much lacking detail. For example, the flow.envs documentation is pretty much empty https://flow.readthedocs.io/en/latest/flow.envs.html

It would be exceptionally useful if documentation was here as well as in the docstrings. I'd prefer not to have to dig through the codebase to find out which environment or network does what etc.

[2019-11-04 19:59] eugenevinitsky commented on #772
Hi @HenryJia, thanks for pointing this out. While we figure out how to best upgrade the docs, the tutorials might still be helpful for you?

[2019-11-05 19:04] eugenevinitsky commented on #772
Yeah, I don't disagree. We'll prioritize making some tutorials.

[2019-11-06 01:36] ZJP1993 opened #773 "Still don't have a last observation for agent rl_highway_inflow_1.0 (policy av)"
**#Bug Description**

In order to the performance of multi-agent algorithm of flow, I ran /flow/examples/rllib/multiagent_exps/multiagent_highway.py. I expected that there are no error report and I can plot reward value curve by tensorboard.

**## Bug Reproduce**

File in which the bug occurred: `/flow/examples/rllib/multiagent_exps/multiagent_highway.py.`

The exact command that you did run that

[2019-11-06 01:38] eugenevinitsky commented on #773
Can you give the git hash of your version? As in, are you on master? We pushed a bug fix that (hopefully) fixed this a week or so back.

[2019-11-06 01:59] ZJP1993 commented on #773
Thank you for your prompt reply.When I try to get the git hash, some errors occur as following.

(flow) dl_e@611dabai:/media/dl_e/17EF48822800F82E/zjp/code/flow/examples/rllib/multiagent_exps$ git rev-parse HEAD
fatal: Not a git repository (or any parent up to mount point /media/dl_e/17EF48822800F82E)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).

[2019-11-06 02:11] eugenevinitsky commented on #773
Uh, just stop to the outer directory and run `git log` and the first commit that shows up is the hash

[2019-11-06 02:26] ZJP1993 commented on #773
I find that I have not initialized the repository yet.I run the command "git init" in /media/dl_e/17EF48822800F82E/zjp/code/flow and then type "git log".A error output —— your branch has no submission. Maybe I have to run /flow/examples/rllib/multiagent_exps/multiagent_highway.py again and get the git hash.

[2019-11-08 13:10] ctc199625 commented on #760
Hello，Professors：
        I also encountered this type of error. When I run the figure-eight in rllib, I modified the number and initialization location of the RL-agent car. After running for a while, sometimes the system will generate the corresponding checkpoint, but most of the time there will be an error log in ray-results.Do you have any good suggestions or solutions?  @chinmaySwami  @eugenev

[2019-11-08 19:00] eugenevinitsky commented on #736
@Antonio-Dominguez, we've started up a Flow Users slack channel that we think should be an easier way to interact with us. If you want to join, link is here! https://join.slack.com/t/flow-users/shared_invite/enQtNzk5NzE1OTkyNTE0LTU0YmE5ZTVkZmJmNDg1Nzg2YThjOThmY2ZlYWE2ZjQ0NTE1NjE3Y2YwMTljY2U5M2Y3MDhmMWUzZDM3YWViNmE

[2019-11-08 19:53] eugenevinitsky commented on #768
Link here: https://join.slack.com/t/flow-users/shared_invite/enQtNzk5NzE1OTkyNTE0LTU0YmE5ZTVkZmJmNDg1Nzg2YThjOThmY2ZlYWE2ZjQ0NTE1NjE3Y2YwMTljY2U5M2Y3MDhmMWUzZDM3YWViNmE

[2019-11-09 04:45] eugenevinitsky commented on #772
Btw, to make communication easier we have started up a slack channel for users to communciate more directly with devs and other users: https://join.slack.com/t/flow-users/shared_invite/enQtNzk5NzE1OTkyNTE0LTU0YmE5ZTVkZmJmNDg1Nzg2YThjOThmY2ZlYWE2ZjQ0NTE1NjE3Y2YwMTljY2U5M2Y3MDhmMWUzZDM3YWViNmE

[2019-11-10 23:00] eugenevinitsky commented on #768
Resolved.

[2019-11-10 23:00] #768 closed

[2019-11-11 02:05] jingyanping commented on #522
Dear Niyathipriya，

Hello，I am so sorry to disturb you, I have encountered a problem and I would like to ask you. In the experiment of using the ‘AV’ car to dissipate the loop stop-and-go wave, in ‘stabilizing_the_ring.py’, when reading the relevant paper, the MLP strategy is selected for the agent. but I did not find the MLP strategy related program in the provided program, but in 'ray/ Python/ra

[2019-11-11 05:49] eugenevinitsky opened #777 "Save movie at experiment end"
It would be so, so convenient if post-training we immediately created and saved a movie of the trained policy. This would over the course of a long research project, save a ton of time. This could be done by running visuallizer_rllib but would require a way to extract the images.

[2019-11-12 22:21] sanakdag commented on #290
Hi I'm having a similar issue initializing a tutorial.
Seems to think that opencv is in python2?
any thoughts on why this is happening?

Traceback (most recent call last):
  File "examples/sumo/sugiyama.py", line 11, in <module>
    from flow.envs.ring.accel import AccelEnv, ADDITIONAL_ENV_PARAMS
  File "/home/airlab/Desktop/RL-Traffic-Lights/flow/flow/envs/__init__.py", line 2, in <module>
    fr

[2019-11-13 19:09] eugenevinitsky opened #778 "Fix all observation spaces"
Some of our observation spaces slightly exceed the bounds of the box. In Ray 0.7.2, this will throw an error. This is causing a huge amount of bugs for users.

[2019-11-14 02:03] eugenevinitsky commented on #778
These errors are somehow getting caught and passing tests, btw. Which is why we haven't noticed and till now.

[2019-11-17 12:06] ZJP-c4cld opened #779 "Observation outside expected value range when executing /examples/rllib/traffic_light_grid.py"
#Bug Description

ValueError: ('Observation outside expected value range', Box(339,), array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.

[2019-11-17 12:56] ZJP-c4cld commented on #779
![QQ图片20191117205330](https://user-images.githubusercontent.com/19870128/69007732-77e03b00-097c-11ea-81c7-a0ad899e883f.png)

[2019-11-17 22:36] eugenevinitsky commented on #779
Thanks for pointing this out! I will push up a PR tomorrow fixing this.

[2019-11-18 01:21] ZJP-c4cld commented on #779
@ZJP-c4cld  Thanks for your help. I'm waiting for your good news.^_^

[2019-11-18 02:36] ZJP-c4cld commented on #779
@eugenevinitsky Thanks for your help. I'm waiting for your good news.^_^
And I have an idea to extend traffic_light_grid.py. I prepare to add some RL cars(like RLs in stabilizing_highway.py) in traffic_light_grid, but I dont know whether this idea makes sense or not.
If so, I will try to make true this idea.

[2019-11-18 02:37] ZJP-c4cld commented on #779
@eugenevinitsky Thanks for your help. I'm waiting for your good news.^_^
And I have an idea to extend traffic_light_grid.py. I prepare to add some RL cars(like RL cars in stabilizing_highway.py) in traffic_light_grid, but I dont know whether this idea makes sense or not.
If so, I will try to make true this idea.

[2019-11-18 17:24] sanakdag commented on #779
Having the same error when running /examples/rllib/traffic_light_grid.py
Would like to run a simple experiment with one RL-controlled traffic light
Wondering if there will be any update soon :)
Thanks

[2019-11-18 18:08] eugenevinitsky commented on #779
PR is here #780, you can pull it now or it will be merged into master in the afternoon.

[2019-11-19 12:47] ctc199625 opened #781 "Which dynamic vehicle parameters were collected during the experiment using the algorithm? where is it?"
## Feature Description
        When I experiment with the example in flow-examples-rllib, I can get a lot of checkpoints. The experiment is no problem. But I want to know which dynamic parameters of the vehicle are collected by the algorithm as input during the experiment. Where is the file defined?
        I hope that there is a tutorial that clarifies which vehicle dynamic parameters are collect

[2019-11-20 15:05] gmarceaucaron opened #782 "Import bug in tutorial 8."
## Bug Description

There is an import bug in tutorial 8: environments. In cell 10, we import `LoopNetwork` while it should be `RingNetwork`.

## Bug Reproduce
The bug occurs in `tutorial08_environments.ipynb` when I run the following command
`from flow.networks.ring import LoopNetwork, ADDITIONAL_NET_PARAMS`

## Output Log
[code]

## Versions
- OS: Ubuntu 19.10
- Flow version: 0.5.0.dev
- Flow co

[2019-11-21 06:50] mtgibson2014 opened #783 "Bugs in flow/utils/aimsun/generate.py, flow/core/kernel/network/aimsun.py, and flow/utils/aimsun/load.py"
For **flow/utils/aimsun/generate.py**:
1.) Line 33 is an error: The port string is the last argument of the array that gets passed in and not the 2nd. (See flow/core/kernel/network/aimsun.py: Line 125)

2.)Line 380 & Line 281: Has “gui.save(model, 'flow.ang', GGui.GuiSaGveType.eSaveAs)”.

Should be: “gui.save(model, 'flow.ang', GGui.eSaveAs)”  ---- See classGGui-members.html in your Aimsun Next/Co

[2019-11-21 10:51] cspatharis opened #785 "traci.lane feature request"
Hello,

I'm trying to get the "getLastStepVehicleIDs()" function but I can't find it in FLOW. In SUMO's traci I know it is located in _lane python file. Can I integrate it in any way in my FLOW repo?

Thanks in advance.

[2019-11-21 16:59] jordan-schneider commented on #779
I'm seeing this same bug in the multi-agent traffic light grid, and PR #780 doesn't fix this.

[2019-11-21 17:00] eugenevinitsky commented on #779
Good catch; this fix doesn't apply to the multi-agent version of this. I'll add a fix for that in a sec.

[2019-11-21 17:03] eugenevinitsky commented on #760
Oh I see what happens, there's a crash in this environment and it's not caught appropriately. Thanks for catching this, I'll push a fix shortly.

[2019-11-21 17:03] jordan-schneider commented on #779
Thanks!

[2019-11-21 17:04] eugenevinitsky commented on #779
Just pushed; pull it and see if it fixes your problem?

[2019-11-21 17:04] eugenevinitsky commented on #779
Btw, we have a Flow-users slack group that may be useful to you all. https://join.slack.com/t/flow-users/shared_invite/enQtNzk5NzE1OTkyNTE0LTU0YmE5ZTVkZmJmNDg1Nzg2YThjOThmY2ZlYWE2ZjQ0NTE1NjE3Y2YwMTljY2U5M2Y3MDhmMWUzZDM3YWViNmE

[2019-11-21 17:34] eugenevinitsky commented on #785
Yep! It's a small change actually, but would require a tiny of work. If you look in the TraciVehicle class you can see in the _add_departed method all of the SUMO objects we subscribe to. If you add a subscription to your desired sumo constant, you will then be able to extract and save it in the update method of that class. Then, you just define a getter for this item.

[2019-11-21 17:34] eugenevinitsky commented on #785
Since this is a feature that might require a bit of discussion, I might direct you to the Flow-users group for faster discussion: https://join.slack.com/t/flow-users/shared_invite/enQtNzk5NzE1OTkyNTE0LTU0YmE5ZTVkZmJmNDg1Nzg2YThjOThmY2ZlYWE2ZjQ0NTE1NjE3Y2YwMTljY2U5M2Y3MDhmMWUzZDM3YWViNmE

[2019-11-21 17:39] eugenevinitsky commented on #782
Thanks for catching this! This is fixed in #786

[2019-11-21 17:40] eugenevinitsky commented on #781
The way to figure this out is to look in the get_state method of your corresponding environment. I take your point though that we could use more tutorials on the individual envs. This is more of a discussion question than a github issue so I'd point you at the flow-users slack channel: https://join.slack.com/t/flow-users/shared_invite/enQtNzk5NzE1OTkyNTE0LTU0YmE5ZTVkZmJmNDg1Nzg2YThjOThmY2ZlYWE2ZjQ

[2019-11-21 18:18] jordan-schneider commented on #779
Yup, that looks like it fixed it. Thanks!

[2019-11-22 02:00] ctc199625 commented on #760
Thank you very much for your letter. Your answer is very helpful to me. I will continue my work. @eugenevinitsky

[2019-11-22 15:23] #782 closed

[2019-11-23 00:20] temetski commented on #783
@mtgibson2014 I might have had in some of these changes. For reference these changes were done in aimsun 8.4.

1. When I was testing this out, `[aimsun_path, "-script", script_path, str(self.sim_params.port)]`, aimsun calls a python interpreter that has `str(self.sim_params.port)` as the sole argument, hence the use of `sys.argv[1]`. Using `sys.argv[-1]` would work in the meantime, but might be co

[2019-11-23 00:53] acjoseph opened #787 "Exceptions in Traffic Light Grid RL Examples"
## Bug Description

I am running into an issue with the traffic_light_grid examples from both the stable_baselines and rllib set of examples.

For the stable baselines example, the script runs for a few seconds, and then I get an exception that ultimately leads to `traci.exceptions.TraCIException: Vehicle 'idm_0' is not known`.

For the rllib example, the script continuously runs, but periodically

[2019-11-23 21:51] #716 closed

[2019-11-23 22:03] AboudyKreidieh commented on #621
this is pretty outdated and likely resolved (a lot of work has gone into load.py since)

[2019-11-23 22:03] #621 closed

[2019-11-24 17:14] mtgibson2014 commented on #783
Hi @temetski,

Thanks for the reply! I think a lot of the errors that I faced could have been a result of me downgrading Aimsun to version 8.3. The functionality of the code made be a little different in version 8.4 verses 8.3, and in that case, I do believe we need changes in the code that can work for me.

As far as your responses go:

1.) I believe you might have been using Aimsun 8.4 because t

[2019-11-25 02:48] ZJP-c4cld commented on #779
@eugenevinitsky     The problem has been solved!Thank you very much!

[2019-11-25 06:16] ZJP-c4cld commented on #779
@eugenevinitsky     The problem has been solved!Thank you very much!

[2019-11-25 06:48] ZJP-c4cld commented on #779
@eugenevinitsky I have run /examples/rllib/traffic_light_grid.py successfully. And the output are saved in ~/ray_results. But when I use flow/visualize/visualizer_rllib.py to replay the trained policy, simulation ended at time:1.00.  I dont know the reason. Because I am sure about the trained policy has been generated, and I successfully use tensorboard to check the curves of reward and loss.

![1

[2019-11-26 00:00] kjang96 opened #789 "Visualizer error"
## Bug Description

When using multi-agent experiments, we define policy graphs. The first element of tuple is the policy, or None to indicate the default policy should be used.

In visualizer, the program recovers the multi-agent config by unpkling. This will cause an error if a non-None type object was passed into the tuple for training, since pkl is not inter-environment-friendly.

Short-term f

[2019-11-26 04:05] kjang96 commented on #779
@ZJP-c4cld  is there an accompanying traceback?

[2019-11-26 04:11] kjang96 commented on #787
@acjoseph The traceback indicates that departLane isn't set correctly. This is set in the experiment script (i.e. flow/examples/stable_baselines/traffic_light_grid.py and flow/examples/rllib/traffic_light_grid.py). What are you setting your departLane to? As the traceback indicates, it should be one of ("random", "free", "allowed", "best", "first", or an int>=0)

[2019-11-26 04:50] eugenevinitsky commented on #787
@kjang96 this seems to be a bigger issue; her code runs on Ubuntu 16.04 but not 18.04

[2019-11-26 06:14] ZJP-c4cld commented on #779
@kjang96   No traceback.

[2019-11-28 18:53] eugenevinitsky commented on #787
@kevin-thankyou-lin this person is having the same issue as you

[2019-11-28 20:27] kevin-thankyou-lin commented on #787
Oh awesome, I’ll see if I can figure it out.

On Thu, 28 Nov 2019 at 10:53, Eugene Vinitsky <notifications@github.com>
wrote:

[2019-12-01 21:46] JiqianDong opened #790 "get_last_lc function problem in ---> flow/core/kernel/vehicle/traci.py"
In flow/core/kernel/vehicle/traci.py line 573,  get_last_lc function returns the head way of the rl vehicle, which I believe is not correct.

[2019-12-02 16:03] eugenevinitsky commented on #790
Thank you! This is a good catch.

[2019-12-04 03:02] ZJP-c4cld opened #791 "How to gradually change clim_param?"
Recently I apply PPO algorithm to run examples/rllib/traffic_light_car_grid.py. And I want to gradually decrease the value of ‘clip_param’ with the increasement of iteration number. How can I make it?

[2019-12-05 07:58] #791 closed

[2019-12-05 19:27] JayKayJr commented on #709
@veredhalperin Do you have a solution, I am facing the same issue.

[2019-12-05 19:51] #608 closed

[2019-12-06 13:55] wwxb2012 commented on #756
You need 'conda update --all'

[2019-12-06 17:35] alexkou opened #792 "training disrupted after shuffle=true cause env.reset() detects missing vehicles"
I'm training a rl agent using a q learning algorithm where env.reset() refers to everytime an episode gets completed. If the toggle shuffle or restart instance is false then this happens only in the outset of me running the program and not during training but if either of them are true then abruptly after a random number of episodes, a vehicle might not get re-introduced in the network, and that i

[2019-12-06 18:59] eugenevinitsky commented on #792
Sorry to hear this! Could you post the full error log?

[2019-12-06 18:59] eugenevinitsky commented on #792
That would be very helpful in us diagnosing what the issue is.

[2019-12-06 19:34] alexkou commented on #792
I've never used logging before can you specify how to find the log file to send to you. Is it anywhere saved inside flow?

[2019-12-06 21:31] acjoseph commented on #787
I seem to have narrowed down the issue somewhat. If I set `restart_instance = True` within `SumoParams`, then I do not have this bug. When `restart_instance = False` or is not declared, I have the issue. This is still with Ubuntu 18.04.

[2019-12-06 21:35] eugenevinitsky commented on #787
@kev-chien does this occur for you as well?

[2019-12-06 22:04] kev-chien commented on #787
@eugenevinitsky Did you mean to reference @kevin-thankyou-lin ? If you were asking me, I don’t use Ubuntu, so I can't currently reproduce the issue, sorry!

[2019-12-06 22:12] eugenevinitsky commented on #787
Yes, my bad! @kevin-thankyou-lin

[2019-12-06 22:13] eugenevinitsky commented on #787
Too many kevins.

[2019-12-07 07:06] #779 closed

[2019-12-07 12:05] alexkou commented on #792
The file that produces the error is /envs/base.py which is unchanged from source and doesn't use logging.error(). The error message is raised after FatalFlowError which is displayed in the screenshot. Also in the same file in the reset() function (from source) there are plenty fixme notations that need addressing so I can resolve the issue.

[2019-12-07 12:13] alexkou commented on #792
Also as I mentioned above the issue of running an experiment (in any of the existing source examples) with a number of runs >1 results to termination. Is that not the case with you?. Could it be a faulty installation?

[2019-12-08 04:17] kevin-thankyou-lin commented on #787
Sorry for the delay. Yes, this occurs for me as well. Nice find!

[2019-12-09 06:54] WonteakLim opened #793 "New version of SUMO"
I know that Flow supports the 1.1.0 version of SUMO. However, the latest version of SUMO is 1.3.1.

I need some TraCI functions which are supported from 1.2.0.

Do you have a plan to upgrade the supported SUMO version?

If no, what problem is expected to occur if I integrate the latest version of SUMO to the current flow version?

Thank you in advance.

[2019-12-09 16:21] eugenevinitsky commented on #793
Hi, we are putting together our release schedule for the term and will put it out publicly shortly. In the meantime, I don't know of any a-priori upgrade issues but I'd bet on their being some. Upgrading for us is a slow process since we have to ensure that each RL environment is stable across SUMO releases; it's perfectly plausible that some new SUMO behavior causes the environments to become uns

[2019-12-09 16:22] eugenevinitsky commented on #793
Point is noted though and we will look into upgrading as we finalize our release schedule.

[2019-12-09 16:22] eugenevinitsky commented on #792
Sorry, but when it errors could you post the entirety of the error that occurs? It's hard for me to read your screenshot.

[2019-12-09 23:42] eugenevinitsky commented on #793
Just in case I haven't sent this to you, there's a flow slack users group for these sort of conversations: https://bit.ly/34L4IaW

[2019-12-10 17:34] alexkou commented on #792
(flow) alex@alex-Lenovo-Y50-70:~/flow$ python test_main.py

Loading configuration... done.
Success.
Loading configuration... done.
/home/alex/flow/flow/core/kernel/vehicle/traci.py:936: UserWarning: API change now handles duration as floating point seconds
  veh_id, int(target_lane), 100000)
Traceback (most recent call last):
  File "test_main2.py", line 334, in <module>
    info_dict = exp.run(q_

[2019-12-10 17:36] alexkou commented on #792
(flow) alex@alex-Lenovo-Y50-70:~/flow$ python test_main.py
Loading configuration... done.
Success.
Loading configuration... done.
/home/alex/flow/flow/core/kernel/vehicle/traci.py:936: UserWarning: API change now handles duration as floating point seconds
  veh_id, int(target_lane), 100000)
Traceback (most recent call last):
  File "test_main.py", line 334, in <module>
    info_dict = exp.run(q_ag

[2019-12-10 17:38] alexkou commented on #792
(flow) alex@alex-Lenovo-Y50-70:~/flow/examples/sumo$ python sugiyama.py
Loading configuration... done.
Success.
Loading configuration... done.
Round 0, return: 380.50609821938536
Traceback (most recent call last):
  File "/home/alex/flow/flow/envs/base.py", line 487, in reset
    speed=speed)
  File "/home/alex/flow/flow/core/kernel/vehicle/traci.py", line 1025, in add
    departSpeed=str(speed))

[2019-12-12 22:11] mightyking7 opened #794 "Visualizer_rllib displaying nan values for mean speed"
## Bug Description

I used flow/visualizer/visualizer_rllib.py to replay a trained policy from a set checkpoint. The simulation progressed as expected and the reward and flow rate statistics were reported as expected. However, both the average and std deviation for the speed were NaN.

## Bug Reproduce

File in which the bug occurred: `flow/visualizer/visualizer_rllib.py`

The exact command that y

[2019-12-12 22:23] eugenevinitsky commented on #794
@mightyking7 didn't you just comment that you fixed this on your end? Am I missing something? (Please tell me if I am so we can triage this properly).

[2019-12-12 22:40] mightyking7 commented on #794
Yes, I fixed it on my end. I created an issue to apply the fix to the main flow project as well.

[2019-12-17 08:44] veredhalperin opened #797 "bug found in networks.traffic_light_grid.gen_costum_start_pos()"
found a bug in networks.traffic_light_grid.gen_costum_start_pos() function
the bug is in line 574:
            vert_lanes = np.random.randint(low=0, high=net_params.additional_params["vertical_lanes"],
                                           size=**cars_heading_left + cars_heading_right**).tolist()

instead of size=cars_heading_top+cars_heading_bot it is written
cars_heading_left+cars_heading_r

[2019-12-23 23:14] ashkan-software opened #799 "More logical hierarchy for envs folder"
## Feature Description

I understand we discussed not more structure change! This is just a recommendation :)))

At the moment, the structure of the `envs` folder looks like this:

[code]

Singleagent environments are in the same hierarchy as the folder `multiagent`. For a more logical hierarchy, I recommend having a folder `singleagent` in the same level as `multiagent`. So the structure of the f

[2019-12-24 06:38] ashkan-software opened #800 "Randomness in test_examples.py causes it to fail stochastically"
## Bug Description

In the `test_examples.py` files, when there is no seed set (e.g. by `random.seed(a=10)`), the test sometimes fails.

## Bug Reproduce

File in which the bug occurred: `test_examples.py` and `test_benchmarks.py` and `test_collisions.py` (maybe more files, but not sure. We know this by the failed test cases in #720. Please look here:
https://github.com/flow-project/flow/pull/720/

[2019-12-24 06:54] ashkan-software opened #801 "Adding picture to the example README"
## Feature Description

A picture must be added to `examples/README.md` for highway_ramps.

[code]

[2019-12-24 08:52] ashkan-software commented on #801
@AboudyKreidieh do you have a picture for this?

[2019-12-27 11:16] ElizabethDuo opened #804 "Please add more tutorials for multiagent examples"
Hi guys!
Thank you all for continuously updating this flow project.
It really helps a lot.

I notice that there were some new multiagent examples.
I tried to run it, but it failed

WARNING:tensorflow:From /home/elizabeth/anaconda3/envs/MultiAgent/lib/python3.6/site-packages/tensorflow/python/compat/v2_compat.py:61: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecate

[2019-12-27 23:03] ashkan-software commented on #804
Hello @ElizabethDuo.

Thank you for your suggestions! We will do our best to include a tutorial about multi-agent examples.  :)

The reason you cannot run the `python multiagent_ring.py` is that, you are not supposed to run it directly. To run the exampes, you should try running it with a "runner". E.g.

[code]

[2019-12-28 08:01] ashkan-software opened #806 "sim_params is not always SumoParams"
## Bug Description

In most of the files, the value of `sim_params` is `SumoParams`, even when the file could be run by another simulator, e.g. Aimsun. We need to change that in such files, so that these files will not be Sumo-specific.

Some examples:

- `flow/envs/base.py` (This is kind of an urgent case to fix)
- All python examples under `/examples/exp_config/rl` and `/examples/exp_config/non-

[2019-12-28 21:39] eugenevinitsky commented on #804
Hi @ElizabethDuo, could you post the full error? That bit you posted is a warning, not an error.

[2019-12-28 21:39] eugenevinitsky commented on #804
Reopening until @ElizabethDuo confirms that the issue is resolved for her.

[2019-12-28 21:40] eugenevinitsky commented on #797
Thank you! We'll open a PR for this.

[2019-12-29 03:28] ElizabethDuo commented on #804
Thank you @eugenevinitsky for the reopening.
I followed the instruction of @ashkan-software and ran the multiagent example, but I think the result is a little wired.

First I ran multiagent_highway example without any change but change `N_CPUS = 1`, for my pc only have one cpu.
I think theoretically the whole training process will not end until it runs out of the set ITERATIONS.
However it stopped

[2020-01-05 20:48] #573 closed

[2020-01-06 19:16] AboudyKreidieh commented on #240
this was recently resolved by #788

[2020-01-06 19:16] #240 closed

[2020-01-07 10:19] zhangxinchen123 opened #811 "simulate.py: error: the following arguments are required: exp_config"
when i run the command:python examples/simulate.py
it's occur a error:simulate.py: error: the following arguments are required: exp_config.
How can i solve the problem? thanks

[2020-01-07 19:14] ashkan-software commented on #811
Hello,

When you run `python examples/simulate.py`, you also need to specify which experiment you want to run. For example, you can run `python examples/simulate.py ring`. (`EXP_CONFIG`) is the name of the experiment.

More information can be found here https://github.com/flow-project/flow/blob/master/examples/README.md

[2020-01-08 17:08] #721 closed

[2020-01-08 17:08] #722 closed

[2020-01-09 02:52] zhangxinchen123 commented on #811
ok thanks a lot. Can you tell me which file i should download? miniconda or anaconda? and which version should i download, for python2.7 or python3.7? thanks a lot！

[2020-01-09 02:53] zhangxinchen123 opened #813 "ok thanks a lot. Can you tell me which file i should download? miniconda or anaconda? and which version should i download, for python2.7 or python3.7? thanks a lot！"
PLEASE DO NOT ASK YOUR QUESTIONS HERE ON GITHUB!

If you have a question or run into some problem (e.g. during installation or when running an example)
with Flow, please direct your technical questions to Stack Overflow using the "flow-project" tag.

link: https://stackoverflow.com/questions/tagged/flow-project
tag: flow-project
Can you tell me which file i should download? miniconda or anaconda?

[2020-01-09 06:53] ashkan-software commented on #811
You can either download miniconda, or anaconda. Both should work.

I personally use Python 2.7 and everything works with it.

[2020-01-09 08:29] zhangxinchen123 commented on #811
ok！thanks a lot！

[2020-01-10 06:17] zhangxinchen123 commented on #811
when i run this command：python examples/simulate.py，the terminal ImportError: /opt/ros/kinetic/lib/python2.7/dist-packages/cv2.so: undefined symbol: PyCObject_Type，how can i solve this error？thanks！！

[2020-01-10 08:05] zhangxinchen123 commented on #811
now i can run the example/similate.py ring and it return three line in the terminal,but how can i use sumo to visualization the project？thanks！！

[2020-01-10 19:17] ashkan-software commented on #811
Hello. If you put the flag  `--render` in your run, you will see the visualization GUI.

[code]

Soon, we will make this default to run the GUI by default. Today or tomorrow

[2020-01-10 19:43] ashkan-software commented on #811
@zhangxinchen123  if you now update your repository with the current commit from the master, the rendered GUI will be activated by default when you run

[code]

[2020-01-12 11:37] zhangxinchen123 commented on #811
thanks for you help! I can run the flow project in my computer,I want to run the rl project which in the exp_config,but for the multiagent it use the RLlib, i have not already install the RLlib, but when i run the command as follow:python examples/train.py singleagent_ring  ,it an work not error, i want to research the rl project on flow ,thanks a lot  !!

[2020-01-12 20:34] ashkan-software commented on #811
@zhangxinchen123  I am glad that the project is working for you!

Yes, multiagent experiments are supported through RLlib now. Let us know if you have any questions!

[2020-01-29 09:24] dissendahl opened #819 "Small bug in visualize/visualizer_rllib.py due to changes in underlying tune."
Hi Folks,

I run into a little bug in [flow/visualize/visualizer_rllib.py:165](https://github.com/flow-project/flow/blob/5eac69157ace8e691f951b6d6d39425d0a9711d6/flow/visualize/visualizer_rllib.py#L165)

Old Line: policy_map_fn = config['multiagent']['policy_mapping_fn'].func
New Line: policy_map_fn = config['multiagent']['policy_mapping_fn']

I believe this is connected to a DeprecationWarning, I

[2020-01-30 17:54] coloal opened #821 "Reading MoSTS bug"
## Bug Description
I am having an issue when trying to execute an experiment like the one in the 7th tutorial of flow but in the MoSTS scenario instead of the LuSTS scenario, which was used in that tutorial. The MoSTS is like the LuSTS  but in Monaco instead of Luxemburg. The thing is that when trying to execute the MoSTS scenario it crushes because of Flow not being able to read the network prope

[2020-01-31 04:12] HenryJia commented on #792
Also running into this bug with the rlliib tutorial (tutorial 3)

The issue seems to be more likely when it randomly initialises the ring to be so small there is very little space between the cars. Adjusting the length of the ring seems to reduce the chance of bumping into it.

Any updates on this?

[2020-01-31 10:45] Antonio-Dominguez commented on #553
After upgrading ray I could fix this problem!

[2020-01-31 10:45] #553 closed

[2020-02-02 03:55] ZJP-c4cld opened #823 "How to replace PPO by other algorithms(such as DDPG,A3C) in singleagent_traffic_light_grid.py?"
How to replace PPO by other algorithms(such as DDPG,A3C) in singleagent_traffic_light_grid.py?

[2020-02-03 09:53] Antonio-Dominguez commented on #736
See #825

[2020-02-03 09:53] #736 closed

[2020-02-05 12:46] #821 closed

[2020-02-06 15:17] SHITIANYU-hue opened #826 "error while loading shared libraries:"
I run:
python examples/train.py singleagent_ring --rl_trainer Stable-Baselines

But got this following error:
netconvert: error while loading shared libraries: libproj.so.12: cannot open shared object file: No such file or directory
Error during start: [Errno 2] No such file or directory: '/flow/flow/core/kernel/network/debug/cfg/stabilizing_the_ring_20200206-1514311581002071.151353.net.xml'
Retry

[2020-02-06 21:21] piotrekp1 opened #827 "TrafficLightGridPOEnv doesn't reroute vehicles"
## Bug Description

As the title says TrafficLightGridPOEnv doesn't reroute vehicles depsite class documentation saying so
![image](https://user-images.githubusercontent.com/18244831/73978664-17361e00-492d-11ea-8c27-96f3dd492abb.png)

TrafficLightGridEnv reroutes but additional_command in TrafficLightGridPOEnv overrides it and doesn't reroute itself. I don't know if it should be rerouted or not, b

[2020-02-07 17:06] SHITIANYU-hue opened #828 "No module named 'exp_configs'"
I want to test the trained mulitagent model in the simulation environment, so I run this command:

python visualizer_rllib.py ~/ray_results/lord_of_numrings1/PPO_MultiWaveAttenuationPOEnv-v1_0_2020-02-05_19-41-05rh63g1m4 200 --horizon 2000

But I got this wrong:
Traceback (most recent call last):
  File "visualizer_rllib.py", line 382, in <module>
    visualizer_rllib(args)
  File "visualizer_rlli

[2020-02-10 19:09] lucalavezzo opened #829 "AWS Image Not Public"
AMI that is available by default on flow is not publicly accessible.

[2020-02-12 22:20] eugenevinitsky opened #833 "Add colors by speed"
It'd be useful to color vehicles red if they're slow, green if fast.

[2020-02-13 00:01] eugenevinitsky commented on #833
Donezo, will be merged into the main branch eventually.

[2020-02-13 00:01] #833 closed

[2020-02-27 00:21] kjang96 opened #840 "exp_configs incompatible with visualizer"
## Bug Description

When unloading a pickle file via the visualizer, this errors out with the following error: "ModuleNotFoundError: No module named 'exp_configs'". This is because the program that created this pickle had access to exp_configs as an import. Given the file structure, exp_configs  is not reachable from visualizer_rllib.py

## Bug Reproduce

File in which the bug occurred: `file.py`

[2020-02-28 15:44] zpymyyn opened #842 "Cannot access the controller code in benchmark paper"
Hi, as read from the benchmark paper, there used to be a s3 public repo for the controller code and tensorflow checkpoints. Are they still available? Thanks.

[2020-02-28 18:21] eugenevinitsky commented on #842
Hi, it looks like the permissions for the bucket are misconfigured. Looking into it.

[2020-02-29 20:02] zpymyyn commented on #829
Same here

[2020-02-29 20:06] zpymyyn commented on #829
#598

[2020-02-29 20:07] zpymyyn commented on #829
#598

[2020-03-02 11:41] zpymyyn opened #844 "Accelerate the training"
Hi, is there a way to accelerate the training,
e.g., `python train.py multiagent_traffic_light_grid` ?

PS. I've already increased `num_cpus` to 8  and decreased `rollout_size` to 100.
PPS. I changed every `vf_clip_param` in _ray_ folder, yet the _param.json_ in _ray_results_ still show its value  as 10.0.

Thank you.

[2020-03-03 05:29] zpymyyn commented on #842
Ok, thanks 👍

[2020-03-04 06:08] eugenevinitsky commented on #844
No, there really isn't a way to increase the training without additional work. See issue #616

[2020-03-04 06:08] eugenevinitsky commented on #844
There probably are a lot of internal optimizations we don't do though.

[2020-03-04 13:08] zpymyyn commented on #844
Thanks, I'll look into the linked issue you provided and try to provide helps in general if I can.

[2020-03-05 00:58] liljonnystyle opened #850 "sumo-gui segmentation fault in Mac OS Catalina"
## Bug Description

Following the installation instructions for Flow and SUMO on MacOS Catalina, `sumo-gui` triggers a Segmentation Fault 11. It turns out there is a bad version of fox bottled with Catalina.

Here is the fix that worked: https://github.com/eclipse/sumo/issues/6242#issuecomment-553458710

[2020-03-06 13:45] zhangxinchen123 opened #855 "Hello, can I import a self-driving lane change model using reinforcement learning into this platform for simulation verification? Thanks for reply！！"
Hello, can I import a self-driving lane change model using reinforcement learning into this platform for simulation verification? Thanks for reply！！

[2020-03-07 08:02] eugenevinitsky opened #856 "done is always false in multi-agent systems."
In multiagent_env, the done condition
`done = {key: key in self.k.vehicle.get_arrived_ids()
                for key in states.keys()}`
always returns False. This obviously is wrong and may have pernicious consequences due to the way value estimation is done for these systems.

[2020-03-08 01:43] eugenevinitsky opened #857 "restart_instance can't be false"
If restart_instance is false, we attempt to query vehicles that don't exist on restart. This suggests that our vehicle class is not getting cleared correctly. An example:

`self.vehicle.update(reset)
  File "/Users/eugenevinitsky/Desktop/Research/Code/cdc_bottlenecks/flow/core/kernel/vehicle/traci.py", line 156, in update
    self.__vehicles[veh_id]["last_lc"] = -float("inf")
KeyError: 'flow_1.139

[2020-03-09 06:09] kanaadp opened #860 "multiagent and singleagnet base reset function are very similar, leading to bugs"
## Feature Description

Both reset functions are essentially doing the same thing with some differences in observation loading (I think). Already found a bug in rendering fix that was only applied to the single agent reset function. We should combine some of the code here.

[2020-03-09 12:04] zpymyyn commented on #401
Hi, I also encountered the similar error with Farshad, and the setup instruction still sticks to `python setup.py develop` as in the [documentation](https://flow.readthedocs.io/en/latest/flow_setup.html)

[2020-03-09 20:09] zpymyyn commented on #499
Hi there, I'm also interested in testing DQN in flow, do you mind giving me some advice on how to do that? Thank you so much.

[2020-03-10 00:04] HenryJia opened #862 "Unable to reproduce bottleneck baseline result for benchmark paper"
The result I obtain from simply running the baseline for bottleck scenario in the current version of Flow does not seem to produce the same result as the benchmark paper. The result seems to be much much higher. I'm currently running it with
[code]

[2020-03-10 00:06] eugenevinitsky commented on #862
Correct. To reproduce that result exactly you would have to roll back versions and as the version of SUMO has changed and the bottleneck curve is now different (due to SUMO handling merging differently now). We put the commit number in there if you want to reproduce exactly. Sorry for the trouble!

[2020-03-10 00:06] eugenevinitsky commented on #862
Correct. To reproduce that result exactly you would have to roll back versions and as the version of SUMO has changed and the bottleneck curve is now different (due to SUMO handling merging differently now). We put the commit number in there if you want to reproduce exactly. Sorry for the trouble!

[2020-03-10 00:07] eugenevinitsky commented on #862
We are in the process of upgrading the benchmarks but it's going to be a while.

[2020-03-10 00:25] HenryJia commented on #862
Got it, thanks. I'll see if I can sweep the flow rate a little myself and see what happens

[2020-03-10 13:18] zpymyyn opened #863 "Any reason for setting N_ROLLOUTS as 63?"
As the title.
Thanks.

[2020-03-10 17:09] eugenevinitsky commented on #863
Nope! Empirically it worked is the only reason.

[2020-03-11 08:51] #863 closed

[2020-03-11 08:53] #844 closed

[2020-03-11 21:26] eugenevinitsky commented on #862
Closing since I think this is answered.

[2020-03-11 21:26] #862 closed

[2020-03-11 21:26] eugenevinitsky commented on #855
Sorry could you clarify your question slightly?

[2020-03-12 03:20] zhangxinchen123 commented on #855
Hello, I means that I see that there are some reinforcement learning training files and visualization programs about importing traffic in the example folder. Now I want to design a model of unmanned lane change on the highway based on reinforcement learning. How do I train this model, and then how to import the algorithm into the simulation platform for simulation verification? Are there any docum

[2020-03-12 04:30] eugenevinitsky commented on #855
Ah yes! Look in the tutorials folder!

[2020-03-12 05:00] ZJP-c4cld opened #865 "How to retrain saved model when the rl_trainer is Stable-Baselines?"
How to retrain saved model when the rl_trainer is Stable-Baselines?

[2020-03-12 11:00] zhangxinchen123 commented on #855
ok thanks a lot！

[2020-03-13 02:45] ZJP-c4cld commented on #865
@eugenevinitsky

[2020-03-14 18:45] eugenevinitsky opened #868 "Noise parameter should be multiplied by sim_step"
If noise parameter isn't multiplied by sim_step, the user has to re-scale it so that it is invariant to sim-step size.

[2020-03-16 06:48] zhangxinchen123 commented on #855
Hello, in the example based on reinforcement learning, I saw that the PPO algorithm is used. If I want to use other reinforcement learning methods, how can I introduce the algorithm into my project? Thank you for your reply！！

[2020-03-16 14:36] mariuswegener opened #870 "Updated Docker Container to latest release"
## Feature Description

Can you update the docker container to the latest flow release? I'm required to use singularity by my university and can't update the container myself because ist readonly in singularity.
The underlying issue is that I'm having some issues with ray and DDPG, which is I would like to check whether the issue is resolved when using ray 0.7.

[2020-03-17 13:02] 2855239858 opened #872 "Add traffic lights into Minicity. But there is a problem."
I try to add traffic lights into Minicity.py of non-RL examples. My terminal gave me the error "TypeError: 'MiniCityNetwork' object is not callable" when I ran my codes.

`"""Example of modified minicity network with human-driven vehicles."""
from flow.controllers import IDMController
from flow.controllers import RLController
from flow.core.params import SumoParams, EnvParams, NetParams, InitialCo

[2020-03-17 13:04] 2855239858 commented on #872
Traceback (most recent call last):
  File "simulate.py", line 68, in <module>
    exp = Experiment(flow_params)
  File "/home/ryc/flow/flow/core/experiment.py", line 65, in __init__
    self.env = create_env()
  File "/home/ryc/flow/flow/utils/registry.py", line 99, in create_env
    traffic_lights=traffic_lights,
TypeError: 'MiniCityNetwork' object is not callable

Here is the detailed informatio

[2020-03-18 04:11] zhangxinchen123 opened #875 "I want to use other reinforcement learning algorithm，how can i replace the it"
PLEASE DO NOT ASK YOUR QUESTIONS HERE ON GITHUB!

If you have a question or run into some problem (e.g. during installation or when running an example)
with Flow, please direct your technical questions to Stack Overflow using the "flow-project" tag.

link: https://stackoverflow.com/questions/tagged/flow-project
tag: flow-project

[2020-03-18 04:15] zhangxinchen123 commented on #875
Hello, I notice that in the example folder, I saw that the PPO algorithm is used. If I want to use other reinforcement learning algorithm, how can I put the algorithm into my project? Thank you for your reply！！

[2020-03-18 14:40] parthjaggi opened #876 "Flow fails to read rou.xml file that represents Flows?"
## Bug Description

I have a file that is named flows.rou.xml. It contents look like:

    <flows>
    <interval begin="0" end="300" id="0">
        <flow id="N0" from="center1_SOUTH_ENTRANCE" to="center8_SOUTH_6"  number="48" departLane="free"/>
        ...
        ...

This file represents Repeated vehicles (Flows), as represented on https://sumo.dlr.de/docs/Definition_of_Vehicles,_Vehicle_Types

[2020-03-18 15:50] 2855239858 commented on #779
@ZJP-c4cld  Btw, did you add Rl cars in traffic_light_grid successfully? I want to do it too. But I found it difficult to add Rl cars because it seems that I have to rewrite a lot of codes and handle basic API of sumo.

[2020-03-18 15:52] 2855239858 commented on #779
I just want make sure that adding RL cars in traffic_light_grid is feasible.

[2020-03-19 04:31] 2855239858 commented on #828
Hi, did you solve this bug yet? I encounter this error too.

[2020-03-19 04:33] eugenevinitsky commented on #828
Good catch! Will push a fix for this tomorrow.

[2020-03-19 05:08] 2855239858 commented on #828
I fix this error successfully by following https://github.com/flow-project/flow/pull/841 .

[2020-03-19 13:37] heraldiclily opened #877 "Run sumo-gui in WSL (Windows Subsystem for Linux)"
Hello,
I have a problem when running "sumo-gui" to test sumo installation in ubuntu. I m using windows subsystem for linux (WSL).
Error message : "FXApp::openDisplay: unable to open display :0.0"
"which sumo" and "sumo --version" commands work well.

[2020-03-19 17:15] veredhalperin opened #878 "stable_baselines folder/library- what is it and where is it?"
hi
in the examples/train.py I see
from stable_baselines.common.vec_env import DummyVecEnv, SubprocVecEnv
from stable_baselines import PPO2
but don't see any stable_baselines  folder or stable_baselines  library in flow's enviroment
so I receive an error that it doesn't find stable_baselines
what is it and how should I add it?

[2020-03-19 17:15] eugenevinitsky commented on #878
sorry about that. pip install stable-baselines should do the trick

[2020-03-19 17:31] #856 closed

[2020-03-19 17:32] #840 closed

[2020-03-19 17:33] eugenevinitsky commented on #828
This is now resolved on master. Please reopen if it persists.

[2020-03-19 17:33] #828 closed

[2020-03-19 20:05] veredhalperin commented on #878
thanks, now the code fails  about something else in ray library:
 ray/rllib/utils/framework.py", line 71, in decorator
    return tf_module.function(func)
AttributeError: module 'tensorflow' has no attribute 'function'

do you manage to run this code?
the examples part was different 2 month  ago and I was able to run it, now I tried to run the  new version and it failed, It seems like there are ma

[2020-03-19 21:05] eugenevinitsky commented on #878
Can you confirm what you tensorflow and ray version were then vs. now?

[2020-03-22 19:05] veredhalperin commented on #878
No because I switched computer, so I re-installed everything needed for flow
The old version that worked was totally different though, without stable
baslines.
I think the code written in the current version doesnt match the  current
versions in flow env of tensorflow etc.

בתאריך יום ה׳, 19 במרץ 2020, 23:06, מאת Eugene Vinitsky ‏<
notifications@github.com>:

[2020-03-22 19:17] veredhalperin commented on #878
Can you tell me what is the tf version that you have so I'll install it?

בתאריך יום ה׳, 19 במרץ 2020, 23:06, מאת Eugene Vinitsky ‏<
notifications@github.com>:

[2020-03-23 22:29] zpymyyn opened #882 "Any function to change parameters like max-gap during running?"
Hi, sorry that the question may be more a SUMO ques than Flow. However I find max-gap harder than others to change during running, or if I missed sth., but failed to find a place even to write new functions that can link to its value once started running.

Thank you ;)

[2020-03-23 23:22] eugenevinitsky commented on #882
Yep! Take a look in SumoCarFollowingParams. We write all those sumo car following params to the XML so you can change those

[2020-03-24 07:02] nanxintin commented on #78
Hi @eugenevinitsky ,
I  am using the sumo-web3d for visualization. Firstly, python flow/visualize/visualizer_rllib.py "path-to-pkl-file" "checkpoint num". Secondly, python sumo_web3d/sumo_web3d.py --sumo-port "port_num" -c "path to sumo.cfg". I set the '--render_mode' in visualize.py as 'sumo_web3d', and set the right "port_num" and "path to sumo.cfg". While the 127.0.0.1:5000 just shows "Loading.

[2020-03-24 15:40] Antonio-Dominguez commented on #678
Hi, have you already solved this or do you know how to do it?
I need that every time that I run a simulation Flow creates a single Sumo instance, but it creates 2 per simulation instead.

This is a problem since I am using a second TraCi client externally and I want to fix the port in which Sumo is listening, but I get an error every time the second instance is created since the first one is alrea

[2020-03-24 20:10] zpymyyn commented on #882
Thanks, I may spot some issues after a deeper look. The multiagent_traffic_light_grid example, if I understand correctly, should make the lights as type "actuated" and based on which further control them.
However the lights are with type "static" in the *.net.xml.
To double check, I also let it print from kernel/network/traci.py and core/params.py, all showing that the lights are "static".
In fact

[2020-03-24 22:29] lcipolina opened #883 "car's color parameter overriden"
## Bug Description
On the adversarial_figure_eight.py
When one pass a color parameter to the vehicle, this is not taken by the visualizer.
For example, if I want my RL vehichle to be green, the SUMO GUI will still show it as red.

## Bug Reproduce

Say I want to add a parameter 'color' = 'green' to my RL car, like this:

**vehicles.add**(
    veh_id='rl2',
    lane_change_controller=(SimLaneChange

[2020-03-25 10:01] zpymyyn commented on #882
Thanks, I think I may misunderstood sth, thus will close this issue.

[2020-03-25 10:01] #882 closed

[2020-03-25 12:23] veredhalperin commented on #875
just choose  a different function rather than PPO2, you can check in stable_baselines API what options  you have

[2020-03-25 21:00] #883 closed

[2020-03-26 21:12] zpymyyn commented on #697
Hi, has this been figured out?

[2020-03-27 01:34] Achin17 opened #885 "Steering and acceleration control for RL agent"
Hi there!
As per the current implementation for SUMO, a vehicle can only be controlled using acceleration (continuous) and lane change (discrete) command. Is there a way or a potential plan in future to control the vehicle using steering angle values as well?

[2020-03-27 01:40] eugenevinitsky commented on #885
I think this is a feature you could pretty straightforwardly implement! Internally we use a method called slowDown (you can grep this method to find it) to actually set the speed of our vehicles. However, SUMO also has a method called moveToXY which you could use to convert an x, y speed into a new X Y position. We're not going to build this out any time soon but you could definitely do it!

[2020-03-27 02:32] Achin17 commented on #885
Wasn't aware of the moveToXY method. Should be straightforward then. Thanks!

[2020-03-27 02:32] #885 closed

[2020-03-28 22:08] SHITIANYU-hue opened #887 "Fail to run lord of the rings experiment"
<!--
Thank you for contributing to Flow!

## I run the following code:
python train.py lord_of_the_rings

## Bug Description

Traceback (most recent call last):
  File "/home/tianyushi/anaconda3/envs/flow2/lib/python3.6/site-packages/ray/tune/trial_runner.py", line 458, in _process_trial
    result = self.trial_executor.fetch_result(trial)
  File "/home/tianyushi/anaconda3/envs/flow2/lib/python3.6

[2020-03-28 22:09] #887 closed

[2020-03-28 22:11] SHITIANYU-hue opened #888 "Fail to run lord of the rings experiment"
## Bug Description

ValueError: Episode truncation is not supported without a value function. Consider setting batch_mode=complete_episodes.

## Bug Reproduce

File in which the bug occurred: `file.py`

The exact command that you did run that caused the bug:
python train.py lord_of_the_rings

## Output Log

Full error output log:

[code]

## Screenshots

Screenshots:

![picture name](https://link/

[2020-03-29 00:28] kjang96 opened #889 "problem with use_ballistic"
## Bug Description

https://github.com/flow-project/flow/blob/master/flow/core/kernel/simulation/traci.py, lines 95-96.

use_ballistic is not a variable of SimParams. See here: https://github.com/flow-project/flow/blob/master/flow/core/params.py#L357

## Bug Reproduce

File in which the bug occurred: `file.py`

The exact command that you did run that caused the bug:
`command`

## Output Log

Full

[2020-03-29 00:32] #889 closed

[2020-03-29 21:18] SHITIANYU-hue opened #892 "Fail to save video"
## Bug Description

A clear and concise description of the bug and what you expected to happen.

## Bug Reproduce

File in which the bug occurred: `file.py`

The exact command that you did run that caused the bug:
`i run the tutorial 4 visualization chapter, i set the --save_render to true, but cannot save video`

## Output Log

Traceback (most recent call last):
  File "visualizer_rllib.py", line

[2020-03-30 14:27] julienguegan opened #893 "Missing images in tutorial 12"
For the jupyter notebook named "tutorial12_bottlenecks", I can't find the images used in the 1st cell, there are named "bottleneck.png" and "capacity_curve.png", it was report in [#770](https://github.com/flow-project/flow/issues/770)

[2020-03-30 14:29] julienguegan commented on #893
Actually, it is not only the 1st cell but also all the other cells where images are referenced

[2020-03-31 04:51] zhangxinchen123 commented on #875
thanks for you help!

[2020-03-31 05:06] ramondalmau commented on #707
Dear all, was it finally implemeted? :)

[2020-03-31 05:23] eugenevinitsky commented on #707
Nope!  Still would love someone to do this.

[2020-03-31 06:48] ramondalmau commented on #707
Excellent, I will probably work on that since I definitely need to add some communication between my agents. I was also thinking on implementing the model proposed in "Connectivity-driven Communication in Multi-agent Reinforcement Learning through Diffusion Processes on Graphs". I will keep you in-the-loop. Thanks.

[2020-03-31 06:52] eugenevinitsky commented on #707
Please! We'd love any implementation you have, I've been meaning to play around with communication in these environments for YEARS.

[2020-04-01 20:16] HenryJia commented on #768
Apparently the link is no longer active?

[2020-04-02 19:16] SZanlongo opened #896 "libproj not correctly referenced when installing on Mac"
## Bug Description
When installing flow on Mac, libproj is not correctly referenced.

## Bug Reproduce

1. Install flow / sumo following instructions
2. `sumo --version` raises error message: dyld: Library not loaded.

Appears to have been resolved by creating a symbolic link between `/usr/local/opt/proj/libproj CURRENT VERSION` and `/usr/local/opt/proj/libproj EXPECTED VERSION`.

[2020-04-10 11:09] zpymyyn opened #902 "Replay h-baselines"
Hi,

Is there a way to replay h-baselines policy? Like what visualizer_rllib.py does with Rllib algs?
Seems visualizer_rllib.py is not compatible with h-baseline since its checkpoint dir is so differently organized.

Thanks.

[2020-04-10 12:37] zpymyyn commented on #902
I found it in the h-baselines repo, so will close this issue and migrate it there.

[2020-04-15 00:06] davebiagioni commented on #896
I'll piggyback on this with a little more specific info about the error and the fix.

System info:

[code]

Error:

[code]

So it wants version 15 of this library, but I can see that 19 is installed:

[code]

Solution was to create a symbolic link to the expected version:

[code]

Now:

[code]

[2020-04-16 16:04] SHITIANYU-hue opened #910 "minicity environment for multiagent training"
## Feature Description

Please provide:
I have read this article: https://sites.google.com/view/iccps-policy-transfer
I try to implement it in minicity.py network, I try to change the environment to MultiAgentAccelPOEnv( i am not sure whether this is correct because current minicity is only for non-rl). But usually after 5 or 6 episodes, there will be some mistake. It's like this:
![image](https:/

[2020-04-19 22:03] eugenevinitsky commented on #910
Can you make sure restart_instance is set to True in the EnvParams?

[2020-04-20 13:33] SHITIANYU-hue commented on #910
ok, thanks, i found it works. Could you release the code in this paper?https://sites.google.com/view/iccps-policy-transfer

[2020-04-23 11:39] cichuyouzi opened #914 "Applying RL on SUMO"
I have designed a sumo scenario (net.xml, add.xml, rou.xml) and I want to add and train RL(DQN) traffic lights in some specific junctions. (there is no traffic light exists in net.xml).

What I have tried:

- I followed tutorial07_network_templates and import my sumo scenario, and I can run the simulation.
- I have read `traffic_light_grid`  [example](https://github.com/flow-project/flow/tree/mast

[2020-05-04 03:25] GoingMyWay commented on #651
@buechelmartin Hi, is this issue fixed?

[2020-05-04 09:22] buechelmartin commented on #651
Unfortunately I had to give up my work with flow, so no update possible. Issue was coming back every now and then until I stopped trying. But not quite reproducible.

[2020-05-04 12:20] GoingMyWay commented on #651
This issue can be reproducible in my project, but I cannot find a reasonable method to fix it.

[2020-05-04 20:32] habibi1195 opened #920 "Problem replaying policy on sumo GUI using visualizer"
## Bug Description

When using the visualizer_rllib.py, there is an error thrown by rllib.py in the function get_flow_params, when the net_module is being defined. The error occurs because network is defined as flow_params['network'], which is a dict.

## Bug Reproduce

File in which the bug occurred: `visualizer_rllib.py` -> 'rllib.py'

The exact command that you did run that caused the bug:
`pyt

[2020-05-04 20:38] habibi1195 commented on #920
Note that, when testing the visualizer via the tutorial page, it also throws an error.
The command I use (from the flow/tutorials folder)

[code]

The error output is as follows:

[code]

In fact, when I use my own experiment and rewrite rllib.py to directly obtain the correct module and class of the network, it reproduces the above error identical to that from the ring experiment above.

[2020-05-05 13:23] soroushasri opened #921 "singleagent_merge training fails"
when I use "python examples/train.py singleagent_merge", Rllib keeps failing to train.
the error is:

2020-05-05 17:50:40,177	ERROR trial_runner.py:521 -- Trial PPO_MergePOEnv-v0_00000: Error processing event.
Traceback (most recent call last):
  File "/home/soroush/anaconda3/envs/flow/lib/python3.6/site-packages/ray/tune/trial_runner.py", line 467, in _process_trial
    result = self.trial_execut

[2020-05-07 19:47] Tabbi7 opened #923 "Errors in tutorial03_rlib"
Dear all, when running the tutorial03_rllib, I faced some errors.

At step 4.2 (initializing Flow) the errors are:

"2020-05-07 21:43:00,585	INFO node.py:498 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2020-05-07_21-43-00_584118_78776/logs.
2020-05-07 21:43:00,696	INFO services.py:409 -- Waiting for redis server at 127.0.0.1:50709 to respond...
2020-05-07 21:43:00,808	INFO

[2020-05-07 20:07] Tabbi7 opened #924 "DO NOT POST THIS."
PLEASE DO NOT ASK YOUR QUESTIONS HERE ON GITHUB!

If you have a question or run into some problem (e.g. during installation or when running an example)
with Flow, please direct your technical questions to Stack Overflow using the "flow-project" tag.

link: https://stackoverflow.com/questions/tagged/flow-project
tag: flow-project

[2020-05-07 20:09] Tabbi7 opened #925 "Get started with reinforcement learning and SUMO"
Dear all, I have to implement a scenario in which I want to use SUMO simulator to prevent road accidents caused by lane changing, sudden braking, sudden acceleration and so on. I want to use reinforcement learning and I faced the Flow Project.

For each simulation step, I can export from SUMO all the features related to a single simulation saving them in a csv file that provides - for each step -

[2020-05-07 20:09] #924 closed

[2020-05-08 02:43] quangduygtvt commented on #454
Hi @happybyr. I saw you can increase the simulation time to 200s. Can you help me understand how to get 2 windows when I run the experiment and how to increase the simulation time by warmup_step? Thank you so much.

[2020-05-10 13:00] Tabbi7 opened #927 "Error connecting to Redis server at 127.0.0.1:35709"
I'm trying to use the framework Flow included in flow-project (https://github.com/flow-project/flow) that has a problem with Ray. In fact, I have the error "Waiting for redis server at 127.0.0.1:35709 to respond...": I'm not able to connect to the Redis server at step 4.2 of tutorial 3. I also tried some solutions found on the web, but nothing works. What can I do to survive to tutorial 3?

<img w